/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, -100%);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, -100%);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0, -100%);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 100%);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 100%);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 100%);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in right --*/
@-webkit-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -webkit-transform: translate(-50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -moz-transform: translate(-50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0%   {
    visibility: visible;
    transform: translate(-50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in left --*/
@-webkit-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0%   {
    visibility: visible;
    transform: translate(50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- zoom out --*/
@-webkit-keyframes zoomOut {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.25, 1.25);
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes zoomOut {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.25, 1.25);
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
  }
}
@keyframes zoomOut {
  0%   {
    visibility: visible;
    transform: scale(1.25, 1.25);
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
  }
}

/*-- zoom in --*/
@-webkit-keyframes zoomIn {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1, 1);
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1.25, 1.25);
  }
}
@-moz-keyframes zoomIn {
  0%   {
    visibility: visible;
    -moz-transform: scale(1, 1);
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1.25, 1.25);
  }
}
@keyframes zoomIn {
  0%   {
    visibility: visible;
    transform: scale(1, 1);
  }
  100% { 
    visibility: visible;
    transform: scale(1.25, 1.25);
  }
}

/*-- bg moving top--*/
@-webkit-keyframes bgMovingTop {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, -251px);
  }
}
@-moz-keyframes bgMovingTop {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, -251px);
  }
}
@keyframes bgMovingTop {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    transform: translate(0, -251px);
  }
}

/*-- bg moving top 2--*/
@-webkit-keyframes bgMovingTop2 {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, -167px);
  }
}
@-moz-keyframes bgMovingTop2 {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, -167px);
  }
}
@keyframes bgMovingTop2 {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    transform: translate(0, -167px);
  }
}

/*-- bg moving down--*/
@-webkit-keyframes bgMovingDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 167px);
  }
}
@-moz-keyframes bgMovingDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 167px);
  }
}
@keyframes bgMovingDown {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    transform: translate(0, 167px);
  }
}

/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 0;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}
.bg {
  background: #da1921;
  width: 300px;
  height: 83px;
  left: 0px;
  bottom: 0px;

  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.bg2 {
  background: #da1921;
  width: 300px;
  height: 83px;
  left: 0px;
  top: 0px;
}
.logo-line1 {
  background: url('./images/300x250_logo_line1.png') no-repeat center center;
  width: 100px;
  height: 21px;
  left: 20px;
  bottom: 33px;

  -webkit-animation: fadeInRight 0.75s ease-out 1s forwards;
  -moz-animation: fadeInRight 0.75s ease-out 1s forwards;
  animation: fadeInRight 0.75s ease-out 1s forwards;
}
.logo-line2 {
  background: url('./images/300x250_logo_line2.png') no-repeat center center;
  width: 97px;
  height: 9px;
  left: 20px;
  bottom: 20px;

  -webkit-animation: fadeInLeft 0.75s ease-out 1s forwards;
  -moz-animation: fadeInLeft 0.75s ease-out 1s forwards;
  animation: fadeInLeft 0.75s ease-out 1s forwards;
}
.cta {
  background: url('./images/300x250_cta.png') no-repeat center center;
  width: 109px;
  height: 24px;
  right: 20px;
  bottom: 20px;

  -webkit-animation: fadeInUp 0.75s ease-out 1.75s forwards;
  -moz-animation: fadeInUp 0.75s ease-out 1.75s forwards;
  animation: fadeInUp 0.75s ease-out 1.75s forwards;
}

.container-text {
  z-index: 1;
}
.bg-moving {
  background: #da1921;
  width: 300px;
  height: 167px;
  left: 0px;
  top: 167px;
  -webkit-animation: bgMovingTop 1s ease-in-out 2s forwards;
  -moz-animation: bgMovingTop 1s  ease-in-out 2s forwards;
  animation: bgMovingTop 1s  ease-in-out 2s forwards;
}
.frame1-image-container {
  width: 300px;
  height: 84px;
  top: 83px;
  left: 0px;
  overflow: hidden;

  -webkit-animation: fadeOut 0.75s ease-out 6.5s forwards;
  -moz-animation: fadeOut 0.75s ease-out 6.5s forwards;
  animation: fadeOut 0.75s ease-out 6.5s forwards;
}
.frame1-image {
  background: url('./images/300x250_frame1_image.jpg') no-repeat center center;
  width: 300px;
  height: 84px;
  top: 0px;
  left: 0px;

  -webkit-animation: zoomOut 1s ease-in-out 2.5s forwards;
  -moz-animation: zoomOut 1s ease-in-out  2.5s forwards;
  animation: zoomOut 1s ease-in-out  2.5s forwards;
}

.frame1-text-line1 {
  background: url('./images/300x250_frame1_text_line1.png') no-repeat center center;
  width: 119px;
  height: 14px;
  top: 19px;
  left: 19px;

  -webkit-animation: fadeInUp 0.75s ease-out 2.5s forwards;
  -moz-animation: fadeInUp 0.75s ease-out 2.5s forwards;
  animation: fadeInUp 0.75s ease-out 2.5s forwards;
}
.frame1-text-line2 {
  background: url('./images/300x250_frame1_text_line2.png') no-repeat center center;
  width: 116px;
  height: 14px;
  top: 41px;
  left: 19px;

  -webkit-animation: fadeInUp 0.75s ease-out 2.75s forwards;
  -moz-animation: fadeInUp 0.75s ease-out 2.75s forwards;
  animation: fadeInUp 0.75s ease-out 2.75s forwards;
}
.frame1-container {
  -webkit-animation: fadeOut 0.75s ease-out 5s forwards;
  -moz-animation: fadeOut 0.75s ease-out 5s forwards;
  animation: fadeOut 0.75s ease-out 5s forwards;
}
.bg-moving-wrapper1 {
  -webkit-animation: bgMovingDown 1s ease-in-out 5.5s forwards;
  -moz-animation: bgMovingDown 1s ease-in-out 5.5s forwards;
  animation: bgMovingDown 1s ease-in-out 5.5s forwards;
}
.frame2-image-container {
  width: 300px;
  height: 83px;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.frame2-image {
  background: url('./images/300x250_frame2_image.jpg') no-repeat center center;
  width: 300px;
  height: 83px;
  top: 0px;
  left: 0px;

  -webkit-animation: zoomIn 1s ease-in-out 6s forwards;
  -moz-animation: zoomIn 1s ease-in-out 6s forwards;
  animation: zoomIn 1s ease-in-out  6s forwards;
}
.frame2-text-line1 {
  background: url('./images/300x250_frame2_text_line1.png') no-repeat center center;
  width: 129px;
  height: 14px;
  top: 102px;
  left: 19px;

  -webkit-animation: fadeInDown 0.75s ease-out 6.75s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 6.75s forwards;
  animation: fadeInDown 0.75s ease-out 6.75s forwards;
}
.frame2-text-line2 {
  background: url('./images/300x250_frame2_text_line2.png') no-repeat center center;
  width: 103px;
  height: 15px;
  top: 124px;
  left: 19px;

  -webkit-animation: fadeInDown 0.75s ease-out 6.5s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 6.5s forwards;
  animation: fadeInDown 0.75s ease-out 6.5s forwards;
}
.frame2-container {
  -webkit-animation: fadeOut 0.75s ease-out 8.75s forwards;
  -moz-animation: fadeOut 0.75s ease-out 8.75s forwards;
  animation: fadeOut 0.75s ease-out 8.75s forwards;
}

.bg-moving-wrapper2 {
  -webkit-animation: bgMovingTop2 1s ease-in-out 9.25s forwards;
  -moz-animation: bgMovingTop2 1s ease-in-out 9.25s forwards;
  animation: bgMovingTop2 1s ease-in-out 9.25s forwards;
}
.frame3-image-container {
  width: 300px;
  height: 84px;
  top: 83px;
  left: 0px;
  overflow: hidden;
}
.frame3-image {
  background: url('./images/300x250_frame3_image.jpg') no-repeat center center;
  width: 300px;
  height: 84px;
  top: 0px;
  left: 0px;

  -webkit-animation: zoomOut 1s ease-in-out 9.75s forwards;
  -moz-animation: zoomOut 1s ease-in-out  9.75s forwards;
  animation: zoomOut 1s ease-in-out  9.75s forwards;
}
.frame3-text-line1 {
  background: url('./images/300x250_frame3_text_line1.png');
  width: 163px;
  height: 14px;
  top: 19px;
  left: 19px;

  -webkit-animation: fadeInUp 0.75s ease-out 10.25s forwards;
  -moz-animation: fadeInUp 0.75s ease-out 10.25s forwards;
  animation: fadeInUp 0.75s ease-out 10.25s forwards;
}
.frame3-text-line2 {
  background: url('./images/300x250_frame3_text_line2.png');
  width: 190px;
  height: 14px;
  top: 41px;
  left: 19px;

  -webkit-animation: fadeInUp 0.75s ease-out 10.5s forwards;
  -moz-animation: fadeInUp 0.75s ease-out 10.5s forwards;
  animation: fadeInUp 0.75s ease-out 10.5s forwards;
}