/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- slide right to left animation--*/
@-webkit-keyframes slideLeft {
  0%   {
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(-300px,0);
    visibility: visible;
  }
}
@-moz-keyframes slideLeft {
  0%   {
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(-300px,0);
    visibility: visible;
  }
}
@-o-keyframes slideLeft {
  0%   {
    -o-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -o-transform: translate(-300px,0);
    visibility: visible;
  }
}
@keyframes slideLeft {
  0%   {
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    transform: translate(-300px,0);
    visibility: visible;
  }
}

/*-- slide right to left with fade out animation--*/
@-webkit-keyframes slideLeftFadeOut {
  0%   {
    -webkit-transform: translate(0,0);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(-300px,0);
    opacity: 0;
    visibility: visible;
  }
}
@-moz-keyframes slideLeftFadeOut {
  0%   {
    -moz-transform: translate(0,0);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(-300px,0);
    opacity: 0;
    visibility: visible;
  }
}
@-o-keyframes slideLeftFadeOut {
  0%   {
    -o-transform: translate(0,0);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    -o-transform: translate(-300px,0);
    opacity: 0;
    visibility: visible;
  }
}
@keyframes slideLeftFadeOut {
  0%   {
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    transform: translate(-300px,0);
    opacity: 0;
    visibility: visible;
  }
}

/*-- slide right to left animation--*/
@-webkit-keyframes slideLeft2 {
  0%   {
    -webkit-transform: translate(300px,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes slideLeft2 {
  0%   {
    -moz-transform: translate(300px,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes slideLeft2 {
  0%   {
    -o-transform: translate(300px,0);
    visibility: visible;
  }
  100% { 
    -o-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes slideLeft2 {
  0%   {
    transform: translate(300px,0);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- slide left to right animation--*/
@-webkit-keyframes slideRight {
  0%   {
    -webkit-transform: translate(-300px,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes slideRight {
  0%   {
    -moz-transform: translate(-300px,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes slideRight {
  0%   {
    -o-transform: translate(-300px,0);
    visibility: visible;
  }
  100% { 
    -o-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes slideRight {
  0%   {
    transform: translate(-300px,0);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- slide left to right 2 animation--*/
@-webkit-keyframes slideRight2FadeOut {
  0%   {
    -webkit-transform: translate(0px,0);
    visibility: visible;
    opacity: 1;
  }
  100% { 
    transform: translate(300px,0);
    visibility: visible;
    opacity: 0;
  }
}
@-moz-keyframes slideRight2FadeOut {
  0%   {
    -moz-transform: translate(0px,0);
    visibility: visible;
    opacity: 1;
  }
  100% { 
    transform: translate(300px,0);
    visibility: visible;
    opacity: 0;
  }
}
@-o-keyframes slideRight2FadeOut {
  0%   {
    -o-transform: translate(0px,0);
    visibility: visible;
    opacity: 1;
  }
  100% { 
    transform: translate(300px,0);
    visibility: visible;
    opacity: 0;
  }
}
@keyframes slideRight2FadeOut {
  0%   {
    transform: translate(0px,0);
    visibility: visible;
    opacity: 1;
  }
  100% { 
    transform: translate(300px,0);
    visibility: visible;
    opacity: 0;
  }
}

/*-- slide up animation--*/
@-webkit-keyframes slideUp {
  0%   {
    -webkit-transform: translate(0,250px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0%   {
    -moz-transform: translate(0,250px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideUp {
  0%   {
    -o-transform: translate(0,250px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0%   {
    transform: translate(0,250px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-- slide down animation--*/
@-webkit-keyframes slideDown {
  0%   {
    -webkit-transform: translate(0,-250px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideDown {
  0%   {
    -moz-transform: translate(0,-250px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideDown {
  0%   {
    -o-transform: translate(0,-250px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0%   {
    transform: translate(0,-250px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-- slide down animation--*/
@-webkit-keyframes slideDownFromZero {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,250px);
  }
}
@-moz-keyframes slideDownFromZero {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,250px);
  }
}
@-o-keyframes slideDownFromZero {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,250px);
  }
}
@keyframes slideDownFromZero {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,250px);
  }
}
/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-o-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- roll back from bottom left animation--*/
@-webkit-keyframes rollBackBottomLeft {
  0%   {
    -webkit-transform: translate(-300px,250px);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes rollBackBottomLeft {
  0%   {
    -moz-transform: translate(-300px,250px);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes rollBackBottomLeft {
  0%   {
    -o-transform: translate(-300px,250px);
    visibility: visible;
  }
  100% { 
    -o-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes rollBackBottomLeft {
  0%   {
    transform: translate(-300px,250px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- roll back from top right animation--*/
@-webkit-keyframes rollBackTopRight {
  0%   {
    -webkit-transform: translate(163px,-100px);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes rollBackTopRight {
  0%   {
    -moz-transform: translate(163px,-100px);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes rollBackTopRight {
  0%   {
    -o-transform: translate(163px,-100px);
    visibility: visible;
  }
  100% { 
    -o-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes rollBackTopRight {
  0%   {
    transform: translate(163px,-100px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- slide top right animation--*/
@-webkit-keyframes slideTopRightFadeOut {
  0%   {
    -webkit-transform: translate(0,0);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(163px,-100px);
    opacity: 0;
    visibility: visible;
  }
}
@-moz-keyframes slideTopRightFadeOut {
  0%   {
    -moz-transform: translate(0,0);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(163px,-100px);
    opacity: 0;
    visibility: visible;
  }
}
@-o-keyframes slideTopRightFadeOut {
  0%   {
    -o-transform: translate(0,0);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    -o-transform: translate(163px,-100px);
    opacity: 0;
    visibility: visible;
  }
}
@keyframes slideTopRightFadeOut {
  0%   {
    transform: translate(0,0);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    transform: translate(163px,-100px);
    opacity: 0;
    visibility: visible;
  }
}

/*-- slide hand 1 animation--*/
@-webkit-keyframes slideHandOne {
  0%   {
    -webkit-transform: translate(-81px,124px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes slideHandOne {
  0%   {
    -moz-transform: translate(-81px,124px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes slideHandOne {
  0%   {
    -o-transform: translate(-81px,124px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes slideHandOne {
  0%   {
    transform: translate(-81px,124px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- slide hand 2 animation--*/
@-webkit-keyframes slideHandTwo {
  0%   {
    -webkit-transform: translate(97px,178px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes slideHandTwo {
  0%   {
    -moz-transform: translate(97px,178px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes slideHandTwo {
  0%   {
    -o-transform: translate(97px,178px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes slideHandTwo {
  0%   {
    transform: translate(97px,178px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- slide hand 3 animation--*/
@-webkit-keyframes slideHandThree {
  0%   {
    -webkit-transform: translate(90px,193px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes slideHandThree {
  0%   {
    -moz-transform: translate(90px,193px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes slideHandThree {
  0%   {
    -o-transform: translate(90px,193px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes slideHandThree {
  0%   {
    transform: translate(90px,193px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- slide hand 4 animation--*/
@-webkit-keyframes slideHandFour {
  0%   {
    -webkit-transform: translate(69px,133px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes slideHandFour {
  0%   {
    -moz-transform: translate(69px,133px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes slideHandFour {
  0%   {
    -o-transform: translate(69px,133px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes slideHandFour {
  0%   {
    transform: translate(69px,133px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- slide hand 5 animation--*/
@-webkit-keyframes slideHandFive {
  0%   {
    -webkit-transform: translate(-131px,164px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes slideHandFive {
  0%   {
    -moz-transform: translate(-131px,164px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes slideHandFive {
  0%   {
    -o-transform: translate(-131px,164px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes slideHandFive {
  0%   {
    transform: translate(-131px,164px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- slide hand 6 animation--*/
@-webkit-keyframes slideHandSix {
  0%   {
    -webkit-transform: translate(106px,177px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes slideHandSix {
  0%   {
    -moz-transform: translate(106px,177px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes slideHandSix {
  0%   {
    -o-transform: translate(106px,177px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes slideHandSix {
  0%   {
    transform: translate(106px,177px);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- rotate right hand animation--*/
@-webkit-keyframes rotateRightHand {
  0%   {
    -webkit-transform: rotate(0) translate(0,0);
    visibility: visible;
  }
  30%   {
    -webkit-transform: rotate(10deg) translate(0,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: rotate(0) translate(-15px,0);
    visibility: visible;
  }
}
@-moz-keyframes rotateRightHand {
  0%   {
    -moz-transform: rotate(0) translate(0,0);
    visibility: visible;
  }
  30%   {
    -moz-transform: rotate(10deg) translate(0,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: rotate(0) translate(-15px,0);
    visibility: visible;
  }
}
@-o-keyframes rotateRightHand {
  0%   {
    -o-transform: rotate(0) translate(0,0);
    visibility: visible;
  }
  30%   {
    -o-transform: rotate(10deg) translate(0,0);
    visibility: visible;
  }
  100% { 
    -o-transform: rotate(0) translate(-15px,0);
    visibility: visible;
  }
}
@keyframes rotateRightHand {
  0%   {
    transform: rotate(0) translate(0,0);
    visibility: visible;
  }
  30%   {
    transform: rotate(10deg) translate(0,0);
    visibility: visible;
  }
  100% { 
    transform: rotate(0) translate(-15px,0);
    visibility: visible;
  }
}


/*-- rotate left hand animation--*/
@-webkit-keyframes rotateLeftHand {
  0%   {
    -webkit-transform: rotate(0) translate(0,0);
    visibility: visible;
  }
  30%   {
    -webkit-transform: rotate(-10deg) translate(0,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: rotate(0) translate(15px,0);
    visibility: visible;
  }
}
@-moz-keyframes rotateLeftHand {
  0%   {
    -moz-transform: rotate(0) translate(0,0);
    visibility: visible;
  }
  30%   {
    -moz-transform: rotate(-10deg) translate(0,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: rotate(0) translate(15px,0);
    visibility: visible;
  }
}
@-o-keyframes rotateLeftHand {
  0%   {
    -o-transform: rotate(0) translate(0,0);
    visibility: visible;
  }
  30%   {
    -o-transform: rotate(-10deg) translate(0,0);
    visibility: visible;
  }
  100% { 
    -o-transform: rotate(0) translate(15px,0);
    visibility: visible;
  }
}
@keyframes rotateLeftHand {
  0%   {
    transform: rotate(0) translate(0,0);
    visibility: visible;
  }
  30%   {
    transform: rotate(-10deg) translate(0,0);
    visibility: visible;
  }
  100% { 
    transform: rotate(0) translate(15px,0);
    visibility: visible;
  }
}

/*-- blink animation--*/
@-webkit-keyframes blink {
  0%   {
    opacity: 0;
    visibility: visible;
  }
  70%   {
    opacity: 1;
    visibility: visible;
  }
  100% { 
    opacity: 0;
    visibility: visible;
  }
}
@-moz-keyframes blink {
  0%   {
    opacity: 0;
    visibility: visible;
  }
  70%   {
    opacity: 1;
    visibility: visible;
  }
  100% { 
    opacity: 0;
    visibility: visible;
  }
}
@-o-keyframes blink {
  0%   {
    opacity: 0;
    visibility: visible;
  }
  70%   {
    opacity: 1;
    visibility: visible;
  }
  100% { 
    opacity: 0;
    visibility: visible;
  }
}
@keyframes blink {
  0%   {
    opacity: 0;
    visibility: visible;
  }
  70%   {
    opacity: 1;
    visibility: visible;
  }
  100% { 
    opacity: 0;
    visibility: visible;
  }
}

/*-------------------------------------------*/
.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;
}

.banner-container{
  background-color: #fff;
  overflow: hidden;
}

.content-container{
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.content{
  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}

.background {
  background: #0080bd;
}
.frame1-container {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 10ms ease-in-out 0s forwards;
  -moz-animation: fadeIn 10ms ease-in-out 0s forwards;
  -ms-animation: fadeIn 10ms ease-in-out 0s forwards;
  -o-animation: fadeIn 10ms ease-in-out 0s forwards;
  animation: fadeIn 10ms ease-in-out 0s forwards;
}
.frame1-text-container {
  -webkit-animation: slideLeftFadeOut 0.5s ease-in 4s forwards;
  -moz-animation: slideLeftFadeOut 0.5s ease-in 4s forwards;
  -ms-animation: slideLeftFadeOut 0.5s ease-in 4s forwards;
  -o-animation: slideLeftFadeOut 0.5s ease-in 4s forwards;
  animation: slideLeftFadeOut 0.5s ease-in 4s forwards;
}
.frame1-text {
  width: 175px;
  height: 119px;
  background: url('./images/300x250_frame1_text.png') no-repeat center center;
  top: 21px;
  left: 20px;

  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: slideRight 0.5s ease-out 2.5s forwards;
  -moz-animation: slideRight 0.5s ease-out 2.5s forwards;
  -ms-animation: slideRight 0.5s ease-out 2.5s forwards;
  -o-animation: slideRight 0.5s ease-out 2.5s forwards;
  animation: slideRight 0.5s ease-out 2.5s forwards;
}
.frame1-line, .frame3-line {
  width: 163px;
  height: 217px;
  background: url('./images/300x250_line.png') no-repeat center center;
  top: 0px;
  right: 0px;
}
.frame1-line-wrapper {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  -ms-animation: hideContent 10ms ease-in-out 0s forwards;
  -o-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.frame1-line-container {
  -webkit-animation: slideTopRightFadeOut 0.5s ease-in 4s forwards;
  -moz-animation: slideTopRightFadeOut 0.5s ease-in 4s forwards;
  -ms-animation: slideTopRightFadeOut 0.5s ease-in 4s forwards;
  -o-animation: slideTopRightFadeOut 0.5s ease-in 4s forwards;
  animation: slideTopRightFadeOut 0.5s ease-in 4s forwards;
}
.frame1-line {
  -webkit-transform: translate(163px,-100px);
  -moz-transform: translate(163px,-100px);
  -ms-transform: translate(163px,-100px);
  -o-transform: translate(163px,-100px);
  transform: translate(163px,-100px);
  
  -webkit-animation: rollBackTopRight 0.5s ease-out 2.5s forwards;
  -moz-animation: rollBackTopRight 0.5s ease-out 2.5s forwards;
  -ms-animation: rollBackTopRight 0.5s ease-out 2.5s forwards;
  -o-animation: rollBackTopRight 0.5s ease-out 2.5s forwards;
  animation: rollBackTopRight 0.5s ease-out 2.5s forwards;
}

.frame2-container {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 10ms ease-in-out 0s forwards;
  -moz-animation: fadeIn 10ms ease-in-out 0s forwards;
  -ms-animation: fadeIn 10ms ease-in-out 0s forwards;
  -o-animation: fadeIn 10ms ease-in-out 0s forwards;
  animation: fadeIn 10ms ease-in-out 0s forwards;
}
.frame2-content {
  -webkit-animation: slideDownFromZero 1s ease-out 9s forwards;
  -moz-animation: slideDownFromZero 1s ease-out 9s forwards;
  -ms-animation: slideDownFromZero 1s ease-out 9s forwards;
  -o-animation: slideDownFromZero 1s ease-out 9s forwards;
  animation: slideDownFromZero 1s ease-out 9s forwards;
}
.elevator {
  width: 147px;
  height: 212px;
  background: url('./images/300x250_elevator.png') no-repeat center center;
  top: 14px;
  left: 77px;

  -webkit-transform: translate(0px,-250px);
  -moz-transform: translate(0px,-250px);
  -ms-transform: translate(0px,-250px);
  -o-transform: translate(0px,-250px);
  transform: translate(0px,-250px);

  -webkit-animation: slideDown 1s ease-in-out 4.5s forwards;
  -moz-animation: slideDown 1s ease-in-out 4.5s forwards;
  -ms-animation: slideDown 1s ease-in-out 4.5s forwards;
  -o-animation: slideDown 1s ease-in-out 4.5s forwards;
  animation: slideDown 1s ease-in-out 4.5s forwards;
}
.button-1, .button-2, .button-3, .button-4, .button-5, .button-6 {
  width: 32px;
  height: 32px;
  background: url('./images/300x250_highlight_button.png') no-repeat center center;
}
.button-1 {
  top: 103px; 
  left: 113px;
  opacity: 0;

  -webkit-animation: fadeIn 0.1s ease-in-out 6s forwards;
  -moz-animation: fadeIn 0.1s ease-in-out 6s forwards;
  -ms-animation: fadeIn 0.1s ease-in-out 6s forwards;
  -o-animation: fadeIn 0.1s ease-in-out 6s forwards;
  animation: fadeIn 0.1s ease-in-out 6s forwards;
}
.hand-1-container, .hand-2-container, .hand-3-container, .hand-4-container, .hand-5-container, .hand-6-container {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  -ms-animation: hideContent 10ms ease-in-out 0s forwards;
  -o-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.hand-1 {
  width: 81px;
  height: 124px;
  background: url('./images/300x250_hand_1.png') no-repeat center center;
  bottom: 0px;
  left: 63px;

  -webkit-transform: translate(-81px,124px);
  -moz-transform: translate(-81px,124px);
  -ms-transform: translate(-81px,124px);
  -o-transform: translate(-81px,124px);
  transform: translate(-81px,124px);

  -webkit-animation: slideHandOne 0.5s ease-in-out 5.5s forwards;
  -moz-animation: slideHandOne 0.5s ease-in-out 5.5s forwards;
  -ms-animation: slideHandOne 0.5s ease-in-out 5.5s forwards;
  -o-animation: slideHandOne 0.5s ease-in-out 5.5s forwards;
  animation: slideHandOne 0.5s ease-in-out 5.5s forwards;
}
.button-2 {
  top: 58px;
  left: 192px;

  opacity: 0;

  -webkit-animation: fadeIn 0.1s ease-in-out 6.5s forwards;
  -moz-animation: fadeIn 0.1s ease-in-out 6.5s forwards;
  -ms-animation: fadeIn 0.1s ease-in-out 6.5s forwards;
  -o-animation: fadeIn 0.1s ease-in-out 6.5s forwards;
  animation: fadeIn 0.1s ease-in-out 6.5s forwards;
}
.hand-2 {
  width: 97px;
  height: 178px;
  background: url('./images/300x250_hand_2.png') no-repeat center center;
  bottom: 0px;
  right: 0px;

  -webkit-transform: translate(97px,178px);
  -moz-transform: translate(97px,178px);
  -ms-transform: translate(97px,178px);
  -o-transform: translate(97px,178px);
  transform: translate(97px,178px);

  -webkit-animation: slideHandTwo 0.5s ease-in-out 6s forwards;
  -moz-animation: slideHandTwo 0.5s ease-in-out 6s forwards;
  -ms-animation: slideHandTwo 0.5s ease-in-out 6s forwards;
  -o-animation: slideHandTwo 0.5s ease-in-out 6s forwards;
  animation: slideHandTwo 0.5s ease-in-out 6s forwards;
}
.button-3 {
  top: 13px;
  left: 191px;
  opacity: 0;

  -webkit-animation: fadeIn 0.1s ease-in-out 7s forwards;
  -moz-animation: fadeIn 0.1s ease-in-out 7s forwards;
  -ms-animation: fadeIn 0.1s ease-in-out 7s forwards;
  -o-animation: fadeIn 0.1s ease-in-out 7s forwards;
  animation: fadeIn 0.1s ease-in-out 7s forwards;
}
.hand-3 {
  width: 90px;
  height: 193px;
  background: url('./images/300x250_hand_3.png') no-repeat center center;
  bottom: 44px;
  right: 0px;

  -webkit-transform: translate(90px,193px);
  -moz-transform: translate(90px,193px);
  -ms-transform: translate(90px,193px);
  -o-transform: translate(90px,193px);
  transform: translate(90px,193px);

  -webkit-animation: slideHandThree 0.5s ease-in-out 6.5s forwards;
  -moz-animation: slideHandThree 0.5s ease-in-out 6.5s forwards;
  -ms-animation: slideHandThree 0.5s ease-in-out 6.5s forwards;
  -o-animation: slideHandThree 0.5s ease-in-out 6.5s forwards;
  animation: slideHandThree 0.5s ease-in-out 6.5s forwards;
}
.button-4 {
  top: 103px;
  left: 191px;
  opacity: 0;

  -webkit-animation: fadeIn 0.1s ease-in-out 7.5s forwards;
  -moz-animation: fadeIn 0.1s ease-in-out 7.5s forwards;
  -ms-animation: fadeIn 0.1s ease-in-out 7.5s forwards;
  -o-animation: fadeIn 0.1s ease-in-out 7.5s forwards;
  animation: fadeIn 0.1s ease-in-out 7.5s forwards;
}
.hand-4 {
  width: 69px;
  height: 133px;
  background: url('./images/300x250_hand_4.png') no-repeat center center;
  bottom: 0px;
  right: 44px;

  -webkit-transform: translate(69px,133px);
  -moz-transform: translate(69px,133px);
  -ms-transform: translate(69px,133px);
  -o-transform: translate(69px,133px);
  transform: translate(69px,133px);

  -webkit-animation: slideHandFour 0.5s ease-in-out 7s forwards;
  -moz-animation: slideHandFour 0.5s ease-in-out 7s forwards;
  -ms-animation: slideHandFour 0.5s ease-in-out 7s forwards;
  -o-animation: slideHandFour 0.5s ease-in-out 7s forwards;
  animation: slideHandFour 0.5s ease-in-out 7s forwards;
}
.button-5 {
  top: 13px;
  left: 113px;
  opacity: 0;

  -webkit-animation: fadeIn 0.1s ease-in-out 8s forwards;
  -moz-animation: fadeIn 0.1s ease-in-out 8s forwards;
  -ms-animation: fadeIn 0.1s ease-in-out 8s forwards;
  -o-animation: fadeIn 0.1s ease-in-out 8s forwards;
  animation: fadeIn 0.1s ease-in-out 8s forwards;
}
.hand-5 {
  width: 131px;
  height: 164px;
  background: url('./images/300x250_hand_5.png') no-repeat center center;
  bottom: 54px;
  left: 0px;

  -webkit-transform: translate(-131px,164px);
  -moz-transform: translate(-131px,164px);
  -ms-transform: translate(-131px,164px);
  -o-transform: translate(-131px,164px);
  transform: translate(-131px,164px);

  -webkit-animation: slideHandFive 0.5s ease-in-out 7.5s forwards;
  -moz-animation: slideHandFive 0.5s ease-in-out 7.5s forwards;
  -ms-animation: slideHandFive 0.5s ease-in-out 7.5s forwards;
  -o-animation: slideHandFive 0.5s ease-in-out 7.5s forwards;
  animation: slideHandFive 0.5s ease-in-out 7.5s forwards;
}
.button-6 {
  top: 58px;
  left: 113px;
  opacity: 0;

  -webkit-animation: fadeIn 0.1s ease-in-out 8.5s forwards;
  -moz-animation: fadeIn 0.1s ease-in-out 8.5s forwards;
  -ms-animation: fadeIn 0.1s ease-in-out 8.5s forwards;
  -o-animation: fadeIn 0.1s ease-in-out 8.5s forwards;
  animation: fadeIn 0.1s ease-in-out 8.5s forwards;
}
.hand-6 {
  width: 106px;
  height: 177px;
  background: url('./images/300x250_hand_6.png') no-repeat center center;
  bottom: 0px;
  right: 68px;

  -webkit-transform: translate(106px,177px);
  -moz-transform: translate(106px,177px);
  -ms-transform: translate(106px,177px);
  -o-transform: translate(106px,177px);
  transform: translate(106px,177px);

  -webkit-animation: slideHandSix 0.5s ease-in-out 8s forwards;
  -moz-animation: slideHandSix 0.5s ease-in-out 8s forwards;
  -ms-animation: slideHandSix 0.5s ease-in-out 8s forwards;
  -o-animation: slideHandSix 0.5s ease-in-out 8s forwards;
  animation: slideHandSix 0.5s ease-in-out 8s forwards;
}

.frame3-container {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 10ms ease-in-out 0s forwards;
  -moz-animation: fadeIn 10ms ease-in-out 0s forwards;
  -ms-animation: fadeIn 10ms ease-in-out 0s forwards;
  -o-animation: fadeIn 10ms ease-in-out 0s forwards;
  animation: fadeIn 10ms ease-in-out 0s forwards;
}
.frame3-text-container {
  -webkit-animation: slideRight2FadeOut 0.5s ease-out 11.5s forwards;
  -moz-animation: slideRight2FadeOut 0.5s ease-out 11.5s forwards;
  -ms-animation: slideRight2FadeOut 0.5s ease-out 11.5s forwards;
  -o-animation: slideRight2FadeOut 0.5s ease-out 11.5s forwards;
  animation: slideRight2FadeOut 0.5s ease-out 11.5s forwards;
}
.frame3-text {
  width: 209px;
  height: 125px;
  background: url('./images/300x250_frame3_text.png') no-repeat center center;
  top: 21px;
  left: 20px;

  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: slideRight 0.5s ease-out 10s forwards;
  -moz-animation: slideRight 0.5s ease-out 10s forwards;
  -ms-animation: slideRight 0.5s ease-out 10s forwards;
  -o-animation: slideRight 0.5s ease-out 10s forwards;
  animation: slideRight 0.5s ease-out 10s forwards;
}
.frame3-line-container {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  -ms-animation: hideContent 10ms ease-in-out 0s forwards;
  -o-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.frame3-line {
  -webkit-transform: translate(300px,-100px);
  -moz-transform: translate(300px,-100px);
  -ms-transform: translate(300px,-100px);
  -o-transform: translate(300px,-100px);
  transform: translate(300px,-100px);
  
  -webkit-animation: rollBackTopRight 0.5s ease-out 10s forwards;
  -moz-animation: rollBackTopRight 0.5s ease-out 10s forwards;
  -ms-animation: rollBackTopRight 0.5s ease-out 10s forwards;
  -o-animation: rollBackTopRight 0.5s ease-out 10s forwards;
  animation: rollBackTopRight 0.5s ease-out 10s forwards;
}

.frame4-container {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 10ms ease-in-out 0s forwards;
  -moz-animation: fadeIn 10ms ease-in-out 0s forwards;
  -ms-animation: fadeIn 10ms ease-in-out 0s forwards;
  -o-animation: fadeIn 10ms ease-in-out 0s forwards;
  animation: fadeIn 10ms ease-in-out 0s forwards;
}
.frame4-text-container {
  -webkit-animation: slideRight2FadeOut 0.5s ease-out 14s forwards;
  -moz-animation: slideRight2FadeOut 0.5s ease-out 14s forwards;
  -ms-animation: slideRight2FadeOut 0.5s ease-out 14s forwards;
  -o-animation: slideRight2FadeOut 0.5s ease-out 14s forwards;
  animation: slideRight2FadeOut 0.5s ease-out 14s forwards;
}
.frame4-text {
  width: 202px;
  height: 29px;
  background: url('./images/300x250_frame4_text.png') no-repeat center center;
  top: 21px;
  left: 49px;

  -webkit-transform: translate(300px,-100px);
  -moz-transform: translate(300px,-100px);
  -ms-transform: translate(300px,-100px);
  -o-transform: translate(300px,-100px);
  transform: translate(300px,-100px);
  
  -webkit-animation: slideRight 0.5s ease-out 11.5s forwards;
  -moz-animation: slideRight 0.5s ease-out 11.5s forwards;
  -ms-animation: slideRight 0.5s ease-out 11.5s forwards;
  -o-animation: slideRight 0.5s ease-out 11.5s forwards;
  animation: slideRight 0.5s ease-out 11.5s forwards;
}
.both-hands {
  -webkit-animation: slideDownFromZero 0.5s ease-out 14s forwards;
  -moz-animation: slideDownFromZero 0.5s ease-out 14s forwards;
  -ms-animation: slideDownFromZero 0.5s ease-out 14s forwards;
  -o-animation: slideDownFromZero 0.5s ease-out 14s forwards;
  animation: slideDownFromZero 0.5s ease-out 14s forwards;
}
.right-hand-container {
  visibility: hidden;

  -moz-transform-origin: 75% 100%;
  -webkit-transform-origin: 75% 100%;
  transform-origin: 75% 100%;

  -webkit-animation: rotateRightHand 0.75s ease-out 13s forwards;
  -moz-animation: rotateRightHand 0.75s ease-out 13s forwards;
  -ms-animation: rotateRightHand 0.75s ease-out 13s forwards;
  -o-animation: rotateRightHand 0.75s ease-out 13s forwards;
  animation: rotateRightHand 0.75s ease-out 13s forwards;
}
.right-hand {
  width: 88px;
  height: 217px;
  background: url('./images/300x250_right_hand.png') no-repeat center center;
  top: 69px;
  left: 166px;

  -webkit-transform: translate(300px,0px);
  -moz-transform: translate(300px,0px);
  -ms-transform: translate(300px,0px);
  -o-transform: translate(300px,0px);
  transform: translate(300px,0px);

  -webkit-animation: slideLeft2 0.5s ease-out 12s forwards;
  -moz-animation: slideLeft2 0.5s ease-out 12s forwards;
  -ms-animation: slideLeft2 0.5s ease-out 12s forwards;
  -o-animation: slideLeft2 0.5s ease-out 12s forwards;
  animation: slideLeft2 0.5s ease-out 12s forwards;
}
.right-hand-blink {
  width: 15px;
  height: 30px;
  background: url('./images/300x250_blink_line_right.png') no-repeat center center;
  top: 64px;
  right: 77px;
  opacity: 0;

  -webkit-animation: blink 1s ease-out 13s forwards;
  -moz-animation: blink 1s ease-out 13s forwards;
  -ms-animation: blink 1s ease-out 13s forwards;
  -o-animation: blink 1s ease-out 13s forwards;
  animation: blink 1s ease-out 13s forwards;
}
.left-hand-container {
  visibility: hidden;

  -moz-transform-origin: 25% 100%;
  -webkit-transform-origin: 25% 100%;
  transform-origin: 25% 100%;

  -webkit-animation: rotateLeftHand 0.75s ease-out 13s forwards;
  -moz-animation: rotateLeftHand 0.75s ease-out 13s forwards;
  -ms-animation: rotateLeftHand 0.75s ease-out 13s forwards;
  -o-animation: rotateLeftHand 0.75s ease-out 13s forwards;
  animation: rotateLeftHand 0.75s ease-out 13s forwards;
}
.left-hand {
  width: 92px;
  height: 216px;
  background: url('./images/300x250_left_hand.png') no-repeat center center;
  top: 69px;
  right: 162px;

  -webkit-transform: translate(-300px,0px);
  -moz-transform: translate(-300px,0px);
  -ms-transform: translate(-300px,0px);
  -o-transform: translate(-300px,0px);
  transform: translate(-300px,0px);

  -webkit-animation: slideRight 0.5s ease-out 12s forwards;
  -moz-animation: slideRight 0.5s ease-out 12s forwards;
  -ms-animation: slideRight 0.5s ease-out 12s forwards;
  -o-animation: slideRight 0.5s ease-out 12s forwards;
  animation: slideRight 0.5s ease-out 12s forwards;
}
.left-hand-blink {
  width: 14px;
  height: 28px;
  background: url('./images/300x250_blink_line_left.png') no-repeat center center;
  top: 68px;
  left: 84px;
  opacity: 0;

  -webkit-animation: blink 1s ease-out 13s forwards;
  -moz-animation: blink 1s ease-out 13s forwards;
  -ms-animation: blink 1s ease-out 13s forwards;
  -o-animation: blink 1s ease-out 13s forwards;
  animation: blink 1s ease-out 13s forwards;
}

.frame5-container {
}
.frame5-header-container {
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame5-header {
  width: 187px;
  height: 78px;
  background: url('./images/300x250_frame5_header.png') no-repeat center center;
  top: 21px;
  left: 58px;

  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: slideRight 0.5s ease-in-out 14s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 14s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 14s forwards;
  -o-animation: slideRight 0.5s ease-in-out 14s forwards;
  animation: slideRight 0.5s ease-in-out 14s forwards;
}
.frame5-text-container {
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame5-text {
  width: 190px;
  height: 45px;
  background: url('./images/300x250_frame5_text.png') no-repeat center center;
  top: 105px;
  left: 55px;

  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: slideRight 0.5s ease-in-out 14.5s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 14.5s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 14.5s forwards;
  -o-animation: slideRight 0.5s ease-in-out 14.5s forwards;
  animation: slideRight 0.5s ease-in-out 14.5s forwards;
}
.frame5-cta-container {
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame5-cta {
  width: 160px;
  height: 31px;
  background: url('./images/300x250_cta.png') no-repeat center center;
  top: 161px;
  left: 70px;

  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: slideRight 0.5s ease-in-out 15s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 15s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 15s forwards;
  -o-animation: slideRight 0.5s ease-in-out 15s forwards;
  animation: slideRight 0.5s ease-in-out 15s forwards;
}

.logo-container {
  z-index: 100;

  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.logo {
  width: 133px;
  height: 69px;
  background: url('./images/300x250_logo.png') no-repeat center center;
  right: 0px;
  bottom: 0px;

  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: fadeIn 1s ease-out 1.5s forwards;
  -moz-animation: fadeIn 1s ease-out 1.5s forwards;
  -ms-animation: fadeIn 1s ease-out 1.5s forwards;
  -o-animation: fadeIn 1s ease-out 1.5s forwards;
  animation: fadeIn 1s ease-out 1.5s forwards;
}

.border {
  background: url('./images/300x250_border.png') no-repeat center center;
  z-index: 100;
}