/*Basic settings*/

*{
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
}
 
*, *:before, *:after {
    box-sizing: inherit;
}
img{
  border: 0;

}
sup{
  font-size: 9px;
  line-height: 9px; 
}

a{
  text-decoration: none;
}
body{
   font-family: "MuseoSansForDell300", Trebuchet MS, Arial, Helvetica, sans-serif; 
}
@font-face {
   font-family:'MuseoSansForDell300'; 
   src:url('museosansfordell-300.woff') format('woff');          
}
@font-face {
   font-family:'MuseoSansForDell700'; 
   src:url('museosansfordell-700.woff') format('woff');          
}
#ad{
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   -o-user-select: none;
   user-select: none;
}

#banner{  
  width: 300px; 
  height: 250px;
  display: block;
  cursor: pointer;  
  overflow: hidden;
  position:absolute;
  visibility: visible;  
  border: 1px #444444 solid;
  background: #eeeeee;
}
#all-animation,
#frame-1,
#frame-2,
#frame-3,
#frame-4,
#frame-5,
#frame-6 {  
    top: 0px;
    width: 100%;
    height: 100%;
}
#banner * {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
}

#banner.is-visible * {
    -webkit-animation-play-state: running;
            animation-play-state: running;
}
#banner.is-visible.last-loop-last-frame *:not(#legal) {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
#clickTAG {
   position: absolute;
   top: 0px;
   left: 0px;
   opacity: 0;
   width: 100%;
   height: 100%;
   z-index: 9;
   cursor:pointer;
   margin: 0;
}
.ie-fallback{
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
}

/**frame one start***/

.dell-logo-blue{
  top: 13px;
  right: 13px;
  position: absolute;
  z-index:10;

  -webkit-animation: fade-out 0.3s linear 5.5s both;
          animation: fade-out 0.3s linear 5.5s both;
}
.title-1{
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  bottom: 14px;
  text-align: center;
  color:#D74324;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  position: absolute;

  -webkit-animation: fade-out 0.3s linear 2.5s both;
          animation: fade-out 0.3s linear 2.5s both;
}
.product1{
  position: absolute;
  top:52px;
  left:27px;

  -webkit-animation: fade-out 0.3s linear 2.5s both;
          animation: fade-out 0.3s linear 2.5s both;
}
.badge {
  top: 13px;
  left: 113px;
  width: 72px;
  height: 30px;  
  position: absolute;

  -webkit-animation: fade-out 0.3s linear 2.5s both;
          animation: fade-out 0.3s linear 2.5s both;
}

/*frame one end**/

/*frame two css start**/

.title-2{
  width: 100%;
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  bottom: 14px;
  text-align: center;
  color:#D74324;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  -webkit-animation: fade-in 0.3s linear 3s both, fade-out 0.3s linear 5.5s forwards;
          animation: fade-in 0.3s linear 3s both, fade-out 0.3s linear 5.5s forwards;
}
.title-2-1{
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  bottom: 18px;
  left: 20px;
  text-align: left;
  width: 220px;
  color:#444444;

  -webkit-animation: fade-in 0.3s linear 3s both, fade-out 0.3s linear 5.5s forwards;
          animation: fade-in 0.3s linear 3s both, fade-out 0.3s linear 5.5s forwards;
}
.product2{
  position: absolute;
  top:79px;
  left:18px;

  -webkit-animation: product2 8s linear 3s both;
          animation: product2 8s linear 3s both;
}

/**frame two end*/

/*frame three start**/

.dell-logo{
  top: 13px;
  right: 13px;
  position: absolute;
  z-index:10;

  -webkit-animation: fade-in 0.3s linear 6s both, fade-out 0.3s linear 8.5s forwards;
          animation: fade-in 0.3s linear 6s both, fade-out 0.3s linear 8.5s forwards;
}
.lifestyle{
  top: 0px;
  left: 0px;
  position: absolute;

  -webkit-animation: fade-in 0.3s linear 6s both, fade-out 0.3s linear 8.5s forwards;
          animation: fade-in 0.3s linear 6s both, fade-out 0.3s linear 8.5s forwards;
}
.bottom-bg{
  width: 300px;
  height: 77px;
  background: #eeeeee;
  bottom: 0px;
  position: absolute;

  -webkit-animation: fade-in 0.3s linear 6s both, fade-out 0.3s linear 8.5s forwards;
          animation: fade-in 0.3s linear 6s both, fade-out 0.3s linear 8.5s forwards;
}
.title-3{
  width: 100%;
  font-size: 18px;
  line-height: 21px;
  bottom: 18px;
  text-align: center;
  color:#D74324;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  position: absolute;

  -webkit-animation: fade-in 0.3s linear 6s both, fade-out 0.3s linear 8.5s forwards;
          animation: fade-in 0.3s linear 6s both, fade-out 0.3s linear 8.5s forwards;
}
.title-3-1{
  font-size: 13px;
  line-height: 13px;
  bottom: 83px;
  right: 13px;
  color:#FFFFFF;
  text-align: left;
  position: absolute;

  -webkit-animation: fade-in 0.3s linear 6s both, fade-out 0.3s linear 8.5s forwards;
          animation: fade-in 0.3s linear 6s both, fade-out 0.3s linear 8.5s forwards;
}

.title-3-1 span{
  font-family:'MuseoSansForDell700';
}

/*frame three end*/

/*frame four start***/

.title-4{
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  top: 30px;
  left: 17px;
  text-align: center;
  width: 135px;
  color:#D74324;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  -webkit-animation: fade-in 0.3s linear 9s both, fade-out 0.3s linear 11.5s forwards;
          animation: fade-in 0.3s linear 9s both, fade-out 0.3s linear 11.5s forwards;
}
.title-4-1{
  position: absolute;
  font-size: 18px;
  line-height: 18px;
  bottom: 15px;
  left: 23px;
  text-align: left;
  width: 220px;
  color:#444444;

  -webkit-animation: fade-in 0.3s linear 9s both, fade-out 0.3s linear 11.5s forwards;
          animation: fade-in 0.3s linear 9s both, fade-out 0.3s linear 11.5s forwards;
}

.dell-logo-last{
  top: 13px;
  right: 13px;
  position: absolute;
  z-index:10;

  -webkit-animation: fade-in 0.3s linear 9s both;
          animation: fade-in 0.3s linear 9s both;
}

/**frame four css end**/


/**frame five css start**/
.title-5{
  position: absolute;
  font-size: 18px;
  line-height: 21px;
  top: 24px;
  left: 24px;
  text-align: left;
  width: 220px;
  color:#D74324;

  -webkit-animation: fade-in 0.3s linear 12s both;
          animation: fade-in 0.3s linear 12s both;
}
.starting_text{
  font-size: 13px;
  color: #444444;
  line-height: 15px;
  position: absolute;
  top: 100px;
  left: 25px;

  -webkit-animation: fade-in 0.3s linear 12s both;
          animation: fade-in 0.3s linear 12s both;
}
.dollar{
  font-size: 15px;
  color: #444444;
  line-height: 15px;
  position: absolute;
  top: 118px;
  left: 25px;

  -webkit-animation: fade-in 0.3s linear 12s both;
          animation: fade-in 0.3s linear 12s both;
}
.price{
  font-size: 25px;
  color: #444444;
  line-height: 28px;
  position: absolute;
  top: 115px;
  left: 34px;

  -webkit-animation: fade-in 0.3s linear 12s both;
          animation: fade-in 0.3s linear 12s both;
}
.cta{
  font-family:'MuseoSansForDell700';
  color: #ffffff;
  text-align: center;
  background: #D74324;
  right: 13px;
  bottom: 13px;
  position: absolute;

  -webkit-animation: fade-in 0.3s linear 12s both;
          animation: fade-in 0.3s linear 12s both;
}
.cta-text{
  position: relative;
  padding: 7px 10px;
  font-size: 12px;
  line-height: 14px;

  -webkit-animation: fade-in 0.3s linear 11.5s both;
          animation: fade-in 0.3s linear 11.5s both;
}
.vendor-logo{
  position: absolute;
  bottom: 25px;
  left: 25px;
  -webkit-animation: fade-in 0.3s linear 12s both;
          animation: fade-in 0.3s linear 12s both;
}

/**frame five end***/

/** keyframes animation start */

@-webkit-keyframes fade-in{
  0%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes fade-in{
  0%{opacity: 0;}
  100%{opacity: 1;}
}

@-webkit-keyframes fade-out{
  0%{opacity: 1;}
  100%{opacity: 0;}
}
@keyframes fade-out{
  0%{opacity: 1;}
  100%{opacity: 0;}
}

@-webkit-keyframes product2{
  0%{opacity: 0;}
  5%{opacity: 1;}
  30%{opacity: 1;}
  35%{opacity: 0;}
  75%{opacity: 0;}
  80%{opacity: 1;}
  100%{opacity: 1;}
}
@keyframes product2{
  0%{opacity: 0;}
  5%{opacity: 1;}
  30%{opacity: 1;}
  35%{opacity: 0;}
  75%{opacity: 0;}
  80%{opacity: 1;}
  100%{opacity: 1;}
}

/** keyframes animation end *