/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- slide right to left animation--*/
@-webkit-keyframes slideLeft {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(-320px,0);
  }
}
@-moz-keyframes slideLeft {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(-320px,0);
  }
}
@-o-keyframes slideLeft {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(-320px,0);
  }
}
@keyframes slideLeft {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(-320px,0);
  }
}

/*-- slide right to left animation--*/
@-webkit-keyframes slideLeft2 {
  0%   {
    -webkit-transform: translate(320px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideLeft2 {
  0%   {
    -moz-transform: translate(320px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideLeft2 {
  0%   {
    -o-transform: translate(320px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideLeft2 {
  0%   {
    transform: translate(320px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide left to right animation--*/
@-webkit-keyframes slideRight {
  0%   {
    -webkit-transform: translate(-320px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideRight {
  0%   {
    -moz-transform: translate(-320px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideRight {
  0%   {
    -o-transform: translate(-320px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideRight {
  0%   {
    transform: translate(-320px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide up animation--*/
@-webkit-keyframes slideUp {
  0%   {
    -webkit-transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0%   {
    -moz-transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideUp {
  0%   {
    -o-transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0%   {
    transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-- slide down animation--*/
@-webkit-keyframes slideDown {
  0%   {
    -webkit-transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideDown {
  0%   {
    -moz-transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideDown {
  0%   {
    -o-transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0%   {
    transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}
/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}


/*-- roll back from bottom left animation--*/
@-webkit-keyframes rollBackBottomLeft {
  0%   {
    -webkit-transform: translate(-320px,50px);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBackBottomLeft {
  0%   {
    -moz-transform: translate(-320px,50px);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBackBottomLeft {
  0%   {
    -o-transform: translate(-320px,50px);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBackBottomLeft {
  0%   {
    transform: translate(-320px,50px);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- roll back from top right animation--*/
@-webkit-keyframes rollBackTopRight {
  0%   {
    -webkit-transform: translate(320px,-50px);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBackTopRight {
  0%   {
    -moz-transform: translate(320px,-50px);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBackTopRight {
  0%   {
    -o-transform: translate(320px,-50px);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBackTopRight {
  0%   {
    transform: translate(320px,-50px);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- scale animation--*/
@-webkit-keyframes scaleAnimation {
  0%   {
    -webkit-transform: scale(1);
  }
  100% { 
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes scaleAnimation {
  0%   {
    -moz-transform: scale(1);
  }
  100% { 
    -moz-transform: scale(0.8);
  }
}
@-o-keyframes scaleAnimation {
  0%   {
    -o-transform: scale(1);
  }
  100% { 
    -o-transform: scale(0.8);
  }
}
@keyframes scaleAnimation {
  0%   {
    transform: scale(1);
  }
  100% { 
    transform: scale(0.8);
  }
}
/*-------------------------------------------*/
.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 50px;
  display: block;  
}

.banner-container{
  background-color: #000;
  overflow: hidden;
}

.content-container{
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.content{
  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}

.logo {
  width: 61px;
  height: 16px;
  top: 17px;
  right: 3px;
  background: url('./images/320x50_logo.png') no-repeat center center;
  background-size: 100% auto;
  z-index: 100;
}

.frame1-container {
  -webkit-animation: fadeOut 0.5s ease-in-out 3.25s forwards;
  -moz-animation: fadeOut 0.5s ease-in-out 3.25s forwards;
  -ms-animation: fadeOut 0.5s ease-in-out 3.25s forwards;
  -o-animation: fadeOut 0.5s ease-in-out 3.25s forwards;
  animation: fadeOut 0.5s ease-in-out 3.25s forwards;
}
.frame1 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 10ms ease-in-out 0s forwards;
  -moz-animation: fadeIn 10ms ease-in-out 0s forwards;
  -ms-animation: fadeIn 10ms ease-in-out 0s forwards;
  -o-animation: fadeIn 10ms ease-in-out 0s forwards;
  animation: fadeIn 10ms ease-in-out 0s forwards;
}
.frame1-noise1 {
  background: url('./images/320x50_frame1_noise1.jpg') no-repeat center center;
  background-size: 100% auto;
}
.frame1-noise2 {
  background: url('./images/320x50_frame1_noise2.jpg') no-repeat center center;
  background-size: 100% auto;
  
  -webkit-animation: fadeOut 250ms ease-in-out 0ms infinite;
  -moz-animation: fadeOut 250ms ease-in-out 0ms infinite;
  -ms-animation: fadeOut 250ms ease-in-out 0ms infinite;
  -o-animation: fadeOut 250ms ease-in-out 0ms infinite;
  animation: fadeOut 250ms ease-in-out 0ms infinite;
}
.frame1-are-you {
  width: 74px;
  height: 26px;
  top: 6px;
  left: 110px;
  background: url('./images/320x50_frame1_are_you.png') no-repeat center center;
  background-size: 100% auto;

  -webkit-transform: translate(-320px,50px);
  -moz-transform: translate(-320px,50px);
  -ms-transform: translate(-320px,50px);
  -o-transform: translate(-320px,50px);
  transform: translate(-320px,50px);

  -webkit-animation: rollBackBottomLeft 0.5s ease-in-out 1.5s forwards;
  -moz-animation: rollBackBottomLeft 0.5s ease-in-out 1.5s forwards;
  -ms-animation: rollBackBottomLeft 0.5s ease-in-out 1.5s forwards;
  -o-animation: rollBackBottomLeft 0.5s ease-in-out 1.5s forwards;
  animation: rollBackBottomLeft 0.5s ease-in-out 1.5s forwards;

}
.frame1-ready {
  width: 91px;
  height: 20px;
  top: 22px;
  left: 104px;
  background: url('./images/320x50_frame1_ready.png') no-repeat center center;
  background-size: 100% auto;

  -webkit-transform: translate(320px,-50px);
  -moz-transform: translate(320px,-50px);
  -ms-transform: translate(320px,-50px);
  -o-transform: translate(320px,-50px);
  transform: translate(320px,-50px);

  -webkit-animation: rollBackTopRight 0.5s ease-in-out 1.75s forwards;
  -moz-animation: rollBackTopRight 0.5s ease-in-out 1.75s forwards;
  -ms-animation: rollBackTopRight 0.5s ease-in-out 1.75s forwards;
  -o-animation: rollBackTopRight 0.5s ease-in-out 1.75s forwards;
  animation: rollBackTopRight 0.5s ease-in-out 1.75s forwards;
}

.frame2-container {
  -webkit-animation: fadeOut 0.5s ease-in-out 13.25s forwards;
  -moz-animation: fadeOut 0.5s ease-in-out 13.25s forwards;
  -ms-animation: fadeOut 0.5s ease-in-out 13.25s forwards;
  -o-animation: fadeOut 0.5s ease-in-out 13.25s forwards;
  animation: fadeOut 0.5s ease-in-out 13.25s forwards;
}
.frame2 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 0.5s ease-in-out 3.25s forwards;
  -moz-animation: fadeIn 0.5s ease-in-out 3.25s forwards;
  -ms-animation: fadeIn 0.5s ease-in-out 3.25s forwards;
  -o-animation: fadeIn 0.5s ease-in-out 3.25s forwards;
  animation: fadeIn 0.5s ease-in-out 3.25s forwards;
}
.frame2-lipstick-revolution {
  transform-origin: 30px 50%;

  -webkit-animation: scaleAnimation 0.25s ease-in-out 4.75s forwards;
  -moz-animation: scaleAnimation 0.25s ease-in-out 4.75s forwards;
  -ms-animation: scaleAnimation 0.25s ease-in-out 4.75s forwards;
  -o-animation: scaleAnimation 0.25s ease-in-out 4.75s forwards;
  animation: scaleAnimation 0.25s ease-in-out 4.75s forwards;
}
.frame2-lipstick {
  width: 86px;
  height: 37px;
  top: -1px;
  left: -3px;
  background: url('./images/320x50_frame2_lipstick.png') no-repeat center center;
  background-size: 100% auto;

  -webkit-transform: translate(-320px,50px);
  -moz-transform: translate(-320px,50px);
  -ms-transform: translate(-320px,50px);
  -o-transform: translate(-320px,50px);
  transform: translate(-320px,50px);

  -webkit-animation: rollBackBottomLeft 0.5s ease-in-out 3.75s forwards;
  -moz-animation: rollBackBottomLeft 0.5s ease-in-out 3.75s forwards;
  -ms-animation: rollBackBottomLeft 0.5s ease-in-out 3.75s forwards;
  -o-animation: rollBackBottomLeft 0.5s ease-in-out 3.75s forwards;
  animation: rollBackBottomLeft 0.5s ease-in-out 3.75s forwards;
}
.frame2-revolution {
  width: 105px;
  height: 30px;
  bottom: -1px;
  left: 4px;
  background: url('./images/320x50_frame2_revolution.png') no-repeat center center;
  background-size: 100% auto;

  -webkit-transform: translate(320px,-50px);
  -moz-transform: translate(320px,-50px);
  -ms-transform: translate(320px,-50px);
  -o-transform: translate(320px,-50px);
  transform: translate(320px,-50px);

  -webkit-animation: rollBackTopRight 0.5s ease-in-out 4s forwards;
  -moz-animation: rollBackTopRight 0.5s ease-in-out 4s forwards;
  -ms-animation: rollBackTopRight 0.5s ease-in-out 4s forwards;
  -o-animation: rollBackTopRight 0.5s ease-in-out 4s forwards;
  animation: rollBackTopRight 0.5s ease-in-out 4s forwards;
}

.frame2-lip-container {
  -webkit-animation: fadeOut 0.5s ease-in-out 6.5s forwards;
  -moz-animation: fadeOut 0.5s ease-in-out 6.5s forwards;
  -ms-animation: fadeOut 0.5s ease-in-out 6.5s forwards;
  -o-animation: fadeOut 0.5s ease-in-out 6.5s forwards;
  animation: fadeOut 0.5s ease-in-out 6.5s forwards;
}
.frame2-lip {
  width: 97px;
  height: 50px;
  top: 0px;
  left: 128px;
  background: url('./images/320x50_frame2_lip.jpg') no-repeat center center;
  background-size: auto 50px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 0.5s ease-in-out 5s forwards;
  -moz-animation: fadeIn 0.5s ease-in-out 5s forwards;
  -ms-animation: fadeIn 0.5s ease-in-out 5s forwards;
  -o-animation: fadeIn 0.5s ease-in-out 5s forwards;
  animation: fadeIn 0.5s ease-in-out 5s forwards;
}

.frame3-text-container {
  -webkit-animation: fadeOut 0.5s ease-in-out 9.75s forwards;
  -moz-animation: fadeOut 0.5s ease-in-out 9.75s forwards;
  -ms-animation: fadeOut 0.5s ease-in-out 9.75s forwards;
  -o-animation: fadeOut 0.5s ease-in-out 9.75s forwards;
  animation: fadeOut 0.5s ease-in-out 9.75s forwards;
}
.frame-text1 {
  width: 102px;
  height: 8px;
  top: 8px;
  left: 124px;
  background: url('./images/320x50_frame3_text1.png') no-repeat center center;
  background-size: 100% auto;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: slideLeft2 0.5s ease-in-out 7s forwards;
  -moz-animation: slideLeft2 0.5s ease-in-out 7s forwards;
  -ms-animation: slideLeft2 0.5s ease-in-out 7s forwards;
  -o-animation: slideLeft2 0.5s ease-in-out 7s forwards;
  animation: slideLeft2 0.5s ease-in-out 7s forwards;
}
.frame-text2 {
  width: 93px;
  height: 12px;
  top: 19px;
  left: 128px;
  background: url('./images/320x50_frame3_text2.png') no-repeat center center;
  background-size: 100% auto;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 0.25s ease-in-out 7.5s forwards;
  -moz-animation: fadeIn 0.25s ease-in-out 7.5s forwards;
  -ms-animation: fadeIn 0.25s ease-in-out 7.5s forwards;
  -o-animation: fadeIn 0.25s ease-in-out 7.5s forwards;
  animation: fadeIn 0.25s ease-in-out 7.5s forwards;

  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -ms-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
.frame-text3 {
  width: 47px;
  height: 8px;
  top: 35px;
  left: 151px;
  background: url('./images/320x50_frame3_text3.png') no-repeat center center;
  background-size: 100% auto;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: slideLeft2 0.5s ease-in-out 8.25s forwards;
  -moz-animation: slideLeft2 0.5s ease-in-out 8.25s forwards;
  -ms-animation: slideLeft2 0.5s ease-in-out 8.25s forwards;
  -o-animation: slideLeft2 0.5s ease-in-out 8.25s forwards;
  animation: slideLeft2 0.5s ease-in-out 8.25s forwards;
}

.frame4-feature-container {}
.frame4-feature-title {
  width: 117px;
  height: 12px;
  background: url('./images/320x50_frame4_title.png') no-repeat center;
  background-size: 100% auto;
  top: 7px;
  left: 115px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 0.25s ease-in-out 10.25s forwards;
  -moz-animation: fadeIn 0.25s ease-in-out 10.25s forwards;
  -ms-animation: fadeIn 0.25s ease-in-out 10.25s forwards;
  -o-animation: fadeIn 0.25s ease-in-out 10.25s forwards;
  animation: fadeIn 0.25s ease-in-out 10.25s forwards;

  -webkit-animation-iteration-count: 3;
  -moz-animation-iteration-count: 3;
  -ms-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
.frame4-feature1 {
  width: 52px;
  height: 10px;
  background: url('./images/320x50_frame4_item1.png') no-repeat center center;
  background-size: 100% auto;
  top: 23px;
  left: 113px;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: slideLeft2 0.5s ease-in-out 11s forwards;
  -moz-animation: slideLeft2 0.5s ease-in-out 11s forwards;
  -ms-animation: slideLeft2 0.5s ease-in-out 11s forwards;
  -o-animation: slideLeft2 0.5s ease-in-out 11s forwards;
  animation: slideLeft2 0.5s ease-in-out 11s forwards;
}
.frame4-feature2 {
  width: 59px;
  height: 10px;
  background: url('./images/320x50_frame4_item2.png') no-repeat center center;
  background-size: 100% auto;
  top: 36px;
  left: 113px;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: slideLeft2 0.5s ease-in-out 11.25s forwards;
  -moz-animation: slideLeft2 0.5s ease-in-out 11.25s forwards;
  -ms-animation: slideLeft2 0.5s ease-in-out 11.25s forwards;
  -o-animation: slideLeft2 0.5s ease-in-out 11.25s forwards;
  animation: slideLeft2 0.5s ease-in-out 11.25s forwards;
}
.frame4-feature3 {
  width: 60px;
  height: 10px;
  background: url('./images/320x50_frame4_item3.png') no-repeat center center;
  background-size: 100% auto;
  top: 23px;
  left: 185px;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: slideLeft2 0.5s ease-in-out 11.5s forwards;
  -moz-animation: slideLeft2 0.5s ease-in-out 11.5s forwards;
  -ms-animation: slideLeft2 0.5s ease-in-out 11.5s forwards;
  -o-animation: slideLeft2 0.5s ease-in-out 11.5s forwards;
  animation: slideLeft2 0.5s ease-in-out 11.5s forwards;
}
.frame4-feature4 {
  width: 41px;
  height: 10px;
  background: url('./images/320x50_frame4_item4.png') no-repeat center center;
  background-size: 100% auto;
  top: 36px;
  left: 185px;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: slideLeft2 0.5s ease-in-out 11.75s forwards;
  -moz-animation: slideLeft2 0.5s ease-in-out 11.75s forwards;
  -ms-animation: slideLeft2 0.5s ease-in-out 11.75s forwards;
  -o-animation: slideLeft2 0.5s ease-in-out 11.75s forwards;
  animation: slideLeft2 0.5s ease-in-out 11.75s forwards;
}

.frame5-container {}
.frame5 {
  -webkit-animation: fadeOut 0.5s ease-in-out 15.25s forwards;
  -moz-animation: fadeOut 0.5s ease-in-out 15.25s forwards;
  -ms-animation: fadeOut 0.5s ease-in-out 15.25s forwards;
  -o-animation: fadeOut 0.5s ease-in-out 15.25s forwards;
  animation: fadeOut 0.5s ease-in-out 15.25s forwards;
}
.frame5-image {
  width: 300px;
  height: 50px;
  background: url('./images/320x50_frame5.jpg') no-repeat center center;
  background-size: 100% auto;
  top: 0px;
  left: 0px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 0.5s ease-in-out 13.75s forwards;
  -moz-animation: fadeIn 0.5s ease-in-out 13.75s forwards;
  -ms-animation: fadeIn 0.5s ease-in-out 13.75s forwards;
  -o-animation: fadeIn 0.5s ease-in-out 13.75s forwards;
  animation: fadeIn 0.5s ease-in-out 13.75s forwards;
}

.frame6-container {
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame6 {
  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: fadeIn 0.5s ease-in-out 15.75s forwards;
  -moz-animation: fadeIn 0.5s ease-in-out 15.75s forwards;
  -ms-animation: fadeIn 0.5s ease-in-out 15.75s forwards;
  -o-animation: fadeIn 0.5s ease-in-out 15.75s forwards;
  animation: fadeIn 0.5s ease-in-out 15.75s forwards;
}
.frame6-model {
  width: 125px;
  height: 50px;
  background: url('./images/320x50_frame6_model.jpg') no-repeat center center;
  background-size: 100% auto;
  top: 0px;
  left: 28px;
}
.frame6-text-container {
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame6-text {
  width: 122px;
  height: 27px;
  background: url('./images/320x50_frame6_text.png') no-repeat center center;
  background-size: 100% auto;
  top: 3px;
  left: 120px;

  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: fadeIn 0.75s ease-in-out 16.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 16.25s forwards;
  -ms-animation: fadeIn 0.75s ease-in-out 16.25s forwards;
  -o-animation: fadeIn 0.75s ease-in-out 16.25s forwards;
  animation: fadeIn 0.75s ease-in-out 16.25s forwards;
}
.frame6-cta-container {
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame6-cta {
  width: 99px;
  height: 15px;
  background: url('./images/320x50_frame6_cta.png') no-repeat center center;
  background-size: 100% auto;
  top: 32px;
  left: 132px;

  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: fadeIn 0.75s ease-in-out 17s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 17s forwards;
  -ms-animation: fadeIn 0.75s ease-in-out 17s forwards;
  -o-animation: fadeIn 0.75s ease-in-out 17s forwards;
  animation: fadeIn 0.75s ease-in-out 17s forwards;
}
.frame6-lipstick {
  width: 52px;
  height: 21px;
  background: url('./images/320x50_frame2_lipstick.png') no-repeat center center;
  background-size: 100% auto;
  top: 16px;
  left: 6px;
}
.frame6-revolution {
  width: 63px;
  height: 20px;
  background: url('./images/320x50_frame2_revolution.png') no-repeat center center;
  background-size: 100% auto;
  top: 26px;
  left: 10px;
}