/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- slide out animation--*/
@-webkit-keyframes slideLeft {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(-320px,0);
  }
}
@-moz-keyframes slideLeft {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(-320px,0);
  }
}
@-o-keyframes slideLeft {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(-320px,0);
  }
}
@keyframes slideLeft {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(-320px,0);
  }
}

/*-- slide in animation--*/
@-webkit-keyframes slideLeft2 {
  0%   {
    -webkit-transform: translate(320px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideLeft2 {
  0%   {
    -moz-transform: translate(320px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideLeft2 {
  0%   {
    -o-transform: translate(320px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideLeft2 {
  0%   {
    transform: translate(320px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide in back animation--*/
@-webkit-keyframes slideRight {
  0%   {
    -webkit-transform: translate(-320px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideRight {
  0%   {
    -moz-transform: translate(-320px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideRight {
  0%   {
    -o-transform: translate(-320px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideRight {
  0%   {
    transform: translate(-320px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-------------------------------------------*/
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 50px;
  display: block;  
}

.banner-container{
  background-color: #fff;
  overflow: hidden;
}

.content-container{
  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.content{
  background: url('images/320x50_bg.jpg') no-repeat center center;
  background-size: 100% auto;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}

.logo-container{
  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.logo{
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('images/320x50_logo.png') no-repeat center center;
  background-size: 100% auto;
  top: 15px;
  left: 15px;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: fadeIn 1s ease-in-out 2s forwards;
  -moz-animation: fadeIn 1s ease-in-out 2s forwards;
  -ms-animation: fadeIn 1s ease-in-out 2s forwards;
  -o-animation: fadeIn 1s ease-in-out 2s forwards;
  animation: fadeIn 1s ease-in-out 2s forwards;
}

.header-container{
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.header{
  position: absolute;
  width: 182px;
  height: 16px;
  background: url('images/320x50_header.png') no-repeat center center;
  background-size: 100% auto;
  top: 12px;
  left: 50px;

  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: slideRight 0.5s ease-in-out 3s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 3s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 3s forwards;
  -o-animation: slideRight 0.5s ease-in-out 3s forwards;
  animation: slideRight 0.5s ease-in-out 3s forwards;
}

.action-container{
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.action{
  position: absolute;
  width: 70px;
  height: 5px;
  background: url('images/320x50_action.png') no-repeat center center;
  background-size: 100% auto;
  top: 33px;
  left: 50px;

  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: slideRight 0.5s ease-in-out 3.5s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 3.5s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 3.5s forwards;
  -o-animation: slideRight 0.5s ease-in-out 3.5s forwards;
  animation: slideRight 0.5s ease-in-out 3.5s forwards;
}

.intel-kicker-container{
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.intel-kicker{
  position: absolute;
  width: 91px;
  height: 7px;
  background: url('images/320x50_intel_kicker.png') no-repeat center center;
  background-size: 100% auto;
  top: 32px;
  left: 140px;

  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: slideRight 0.5s ease-in-out 4s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 4s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 4s forwards;
  -o-animation: slideRight 0.5s ease-in-out 4s forwards;
  animation: slideRight 0.5s ease-in-out 4s forwards;
}

.image-container{
  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}

.image{
  position: absolute;
  width: 73px;
  height: 50px;
  background: url('images/320x50_image.png') no-repeat center center;
  background-size: 100% auto;
  bottom: 0px;
  right: 0px;

  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: fadeIn 1s ease-in-out 4.5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 4.5s forwards;
  -ms-animation: fadeIn 1s ease-in-out 4.5s forwards;
  -o-animation: fadeIn 1s ease-in-out 4.5s forwards;
  animation: fadeIn 1s ease-in-out 4.5s forwards;
}

.frame{
  background: url('images/320x50_frame.png') no-repeat center center;
  background-size: 100% auto;
}