/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in right --*/
@-webkit-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -webkit-transform: translate(-50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -moz-transform: translate(-50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0%   {
    visibility: visible;
    transform: translate(-50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in left --*/
@-webkit-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0%   {
    visibility: visible;
    transform: translate(50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in zoom out --*/
@-webkit-keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}

/*-- fade in zoom in --*/
@-webkit-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    -webkit-transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    -moz-transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}


/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}
.bg {
  background: url('./images/300x250_bg.jpg') no-repeat center center;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.logo {
  background: url('./images/300x250_logo.png') no-repeat center center;
  width: 89px;
  height: 24px;
  left: 12px;
  bottom: 10px;

  -webkit-animation: fadeInUp 0.75s ease-in-out 0.75s forwards;
  -moz-animation: fadeInUp 0.75s ease-in-out 0.75s forwards;
  animation: fadeInUp 0.75s ease-in-out 0.75s forwards;
}

.frame1-club {
  background: url('./images/300x250_frame1_club.png') no-repeat center center;
  width: 173px;
  height: 227px;
  top: 0px;
  right: 0px;

  -webkit-animation: fadeIn 0.75s ease-in-out 1.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 1.5s forwards;
  animation: fadeIn 0.75s ease-in-out 1.5s forwards;
}
.frame123-more {
  background: url('./images/300x250_frame123_more.png') no-repeat center center;
  width: 59px;
  height: 24px;
  top: 21px;
  left: 13px;

  -webkit-animation: fadeInRight 1s ease-out 2.25s forwards;
  -moz-animation: fadeInRight 1s ease-out 2.25s forwards;
  animation: fadeInRight 1s ease-out 2.25s forwards;
}
.frame1-text {
  background: url('./images/300x250_frame1_text.png') no-repeat center center;
  width: 150px;
  height: 24px;
  top: 50px;
  left: 13px;

  -webkit-animation: fadeInRight 1s ease-out 2.5s forwards;
  -moz-animation: fadeInRight 1s ease-out 2.5s forwards;
  animation: fadeInRight 1s ease-out 2.5s forwards;
}
.frame1-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 4.5s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 4.5s forwards;
  animation: fadeOut 0.75s ease-in-out 4.5s forwards;
}

.frame2-club {
  background: url('./images/300x250_frame2_club.png') no-repeat center center;
  width: 173px;
  height: 227px;
  top: 0px;
  right: 0px;

  -webkit-animation: fadeIn 0.75s ease-in-out 5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 5s forwards;
  animation: fadeIn 0.75s ease-in-out 5s forwards;
}
.frame2-text {
  background: url('./images/300x250_frame2_text.png') no-repeat center center;
  width: 104px;
  height: 24px;
  top: 50px;
  left: 13px;

  -webkit-animation: fadeInRight 1s ease-out 5.75s forwards;
  -moz-animation: fadeInRight 1s ease-out 5.75s forwards;
  animation: fadeInRight 1s ease-out 5.75s forwards;
}
.frame2-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 7.75s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 7.75s forwards;
  animation: fadeOut 0.75s ease-in-out 7.75s forwards;
}

.frame3-club {
  background: url('./images/300x250_frame3_club.png') no-repeat center center;
  width: 157px;
  height: 227px;
  top: 0px;
  right: 0px;

  -webkit-animation: fadeIn 0.75s ease-in-out 8.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 8.25s forwards;
  animation: fadeIn 0.75s ease-in-out 8.25s forwards;
}
.frame3-text {
  background: url('./images/300x250_frame3_text.png') no-repeat center center;
  width: 161px;
  height: 24px;
  top: 50px;
  left: 13px;

  -webkit-animation: fadeInRight 1s ease-out 9s forwards;
  -moz-animation: fadeInRight 1s ease-out 9s forwards;
  animation: fadeInRight 1s ease-out 9s forwards;
}
.frame3-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 11s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 11s forwards;
  animation: fadeOut 0.75s ease-in-out 11s forwards;
}

.frame4-club {
  background: url('./images/300x250_frame4_club.png') no-repeat center center;
  width: 266px;
  height: 163px;
  top: 65px;
  right: 0px;

  -webkit-animation: fadeIn 0.75s ease-in-out 11.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 11.5s forwards;
  animation: fadeIn 0.75s ease-in-out 11.5s forwards;
}
.frame4-text1 {
  background: url('./images/300x250_frame4_text1.png') no-repeat center center;
  width: 217px;
  height: 34px;
  top: 19px;
  left: 38px;

  -webkit-animation: fadeInDown 0.75s ease-out 12.25s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 12.25s forwards;
  animation: fadeInDown 0.75s ease-out 12.25s forwards;
}
.frame4-text2 {
  background: url('./images/300x250_frame4_text2.png') no-repeat center center;
  width: 136px;
  height: 11px;
  top: 64px;
  left: 78px;

  -webkit-animation: fadeInDown 0.75s ease-out 12.5s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 12.5s forwards;
  animation: fadeInDown 0.75s ease-out 12.5s forwards;
}

.cta {
  background: url('./images/300x250_cta.png') no-repeat center center;
  width: 121px;
  height: 13px;
  right: 16px;
  bottom: 12px;

  -webkit-animation: fadeInRight 0.75s ease-in-out 13.5s forwards;
  -moz-animation: fadeInRight 0.75s ease-in-out 13.5s forwards;
  animation: fadeInRight 0.75s ease-in-out 13.5s forwards;
}