/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- slide out animation--*/
@-webkit-keyframes slideLeft {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(-300px,0);
  }
}
@-moz-keyframes slideLeft {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(-300px,0);
  }
}
@-o-keyframes slideLeft {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(-300px,0);
  }
}
@keyframes slideLeft {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(-300px,0);
  }
}

/*-- slide in animation--*/
@-webkit-keyframes slideLeft2 {
  0%   {
    -webkit-transform: translate(300px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideLeft2 {
  0%   {
    -moz-transform: translate(300px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideLeft2 {
  0%   {
    -o-transform: translate(300px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideLeft2 {
  0%   {
    transform: translate(300px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide in back animation--*/
@-webkit-keyframes slideRight {
  0%   {
    -webkit-transform: translate(-300px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideRight {
  0%   {
    -moz-transform: translate(-300px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideRight {
  0%   {
    -o-transform: translate(-300px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideRight {
  0%   {
    transform: translate(-300px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-------------------------------------------*/
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;  
}

.banner-container{
  background-color: #fff;
  overflow: hidden;
}
.banner-wrapper{
  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.banner-content{
  background: url('images/300x250_bg.jpg') no-repeat center center;  

  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}
.logo-container{
  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.logo{
  position: absolute;
  width: 96px;
  height: 40px;
  background: url('images/300x250_logo.png') no-repeat center center;
  top: 22px;
  left: 50%;
  margin-left: -48px;

  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 2s forwards;
  -moz-animation: fadeIn 1s ease-in-out 2s forwards;
  -ms-animation: fadeIn 1s ease-in-out 2s forwards;
  -o-animation: fadeIn 1s ease-in-out 2s forwards;
  animation: fadeIn 1s ease-in-out 2s forwards;
}
.text-container{
  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.text{
  position: absolute;
  width: 253px;
  height: 75px;
  background: url('images/300x250_text.png') no-repeat center center;
  top: 87px;
  left: 23px;

  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 3s forwards;
  -moz-animation: fadeIn 1s ease-in-out 3s forwards;
  -ms-animation: fadeIn 1s ease-in-out 3s forwards;
  -o-animation: fadeIn 1s ease-in-out 3s forwards;
  animation: fadeIn 1s ease-in-out 3s forwards;
}
.btn-container{
  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.btn-content{
  position: absolute;
  width: 220px;
  height: 40px;
  bottom: 11px;
  left: 50%;
  margin-left: -110px;

  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 4s forwards;
  -moz-animation: fadeIn 1s ease-in-out 4s forwards;
  -ms-animation: fadeIn 1s ease-in-out 4s forwards;
  -o-animation: fadeIn 1s ease-in-out 4s forwards;
  animation: fadeIn 1s ease-in-out 4s forwards;
}
.btn-normal{
  position: absolute;
  width: 220px;
  height: 40px;
  top: 0px;
  left: 0px;
  background: url('images/300x250_btn.png') no-repeat center center;
  z-index: 0;
}
.btn-hover{
  position: absolute;
  width: 220px;
  height: 40px;
  top: 0px;
  left: 0px;
  background: url('images/300x250_btn_hover.png') no-repeat center center;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.btn-hover:hover{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}
