html, body {
	margin:0;
	padding:0;
}
#container {
	position:absolute;
	top:0;
	left:0px;
	width:160px;
	height:600px;
	margin:auto;
	background-color:#fff;
	overflow:hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
		 box-sizing: border-box;
	border:1px solid #666;
	background: transparent url(anim-bg.jpg) no-repeat top left;
}
#logo {
	width:159px;
	height:147px;
	background: transparent url(logo.png) no-repeat top left;
	position:absolute;
	bottom:-5px;
	left:0px;
	z-index:9999;
	opacity:0;
}


/* ANIMATION */

#animation {
	z-index: 1100;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	background: transparent url(anim-bg.jpg) no-repeat top left;
	width: 160px;
	height: 600px;
}

.bar {
	position: absolute;
	z-index: 10;
	background-size: cover;
	left: 8px;
}

#bar1 {
	height: 23px;
	top: 166px;
	background: transparent url(bar1.jpg) no-repeat top left;
	width: 0;
}

#bar2 {
	height: 25px;
	top: 192px;
	background: transparent url(bar2.jpg) no-repeat top left;
	width: 0;
}

#bar3 {
	height: 30px;
	top: 220px;
	background: transparent url(bar3.jpg) no-repeat top left;
	width: 0;
}


@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}


@-moz-keyframes whitestar {
    100% { -moz-transform: scale(0.55); }
}
@-webkit-keyframes whitestar {
    100% { -webkit-transform: scale(0.55); }
}
@keyframes whitestar {
    100% {transform:scale(0.55);}
}


@-moz-keyframes fadeIn {
    100% { opacity:1 ; }
}
@-webkit-keyframes fadeIn {
    100% { opacity:1; }
}
@keyframes fadeIn {
    100% { opacity:1; }
}


.star {
	position: absolute;
		-webkit-animation: spin 4s infinite linear;
	animation: spin 4s infinite linear;
	-moz-animation: spin 4s infinite linear;
}

#star1 {
	background: transparent url(star1.png) no-repeat center center;
	z-index: 40;
	left: -143px;
	top: 130px;
	background-size: cover;
	width: 90px;
	height: 90px;
}


#star2 {
	background: transparent url(star2.png) no-repeat center center;
	z-index: 30;
	left: -160px;
	top: 165px;
	background-size: cover;
	width: 80px;
	height: 80px;
}

#star3 {
	background: transparent url(star3.png) no-repeat center center;
	z-index: 20;
	position: absolute;
	left: -160px;
	top: 200px;
	background-size: cover;
	width: 70px;
	height: 70px;
}

.whitestar {
	background: transparent url(white-star.png) no-repeat center center;
	width: 45px;
	height: 44px;
	position: absolute;
	background-size: cover;
	z-index: 15;
	top: 182px;
	-ms-transform-origin: 50% 50%; /* IE 9 */
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	opacity: 0;
}

#whitestar1 {
	left: 6px;

	-webkit-animation: whitestar 0.4s linear 2.75s 1 forwards, fadeIn 0.4s linear 2.75s 1 forwards;
	animation: whitestar 0.4s linear 2.75s 1 forwards, fadeIn 0.4s linear 2.75s 1 forwards;
	-moz-animation: whitestar 0.4s linear 2.75s 1 forwards, fadeIn 0.4s linear 2.75s 1 forwards;
}

#whitestar2 {
	left: 105px;
	
	-webkit-animation: whitestar 0.4s linear 2.5s 1 forwards, fadeIn 0.4s linear 2.5s 1 forwards;
	animation: whitestar 0.4s linear 2.5s 1 forwards, fadeIn 0.4s linear 2.5s 1 forwards;
	-moz-animation: whitestar 0.4s linear 2.5s 1 forwards, fadeIn 0.4s linear 2.5s 1 forwards;
}

#exit_btn {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:transparent;
	cursor:pointer;
	z-index:998;
	border:0;
}

.absolute {
	position: absolute;
}
.production-item {
	width: 160px;
	height: 600px;
	position: absolute;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	z-index: 0;
}

#product1-info {
	width: 143px;
	height: 386px;
	background: url('product1.png') no-repeat center center;
	top: 64px;
	left: 10px;
}

.cta {
	width: 91px;
	height: 22px;
	background: url('cta.png') no-repeat center center;
}

#product1-cta {
	top: 401px;
	left: 12px;
}

#product2-info {
	width: 142px;
	height: 390px;
	background: url('product2.png') no-repeat center center;
	top: 61px;
	left: 10px;	
}

#product2-cta {
	top: 402px;
	left: 12px;
}