/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- slide in left --*/
@-webkit-keyframes slideInLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(-1063px, 0);
  }
}
@-moz-keyframes slideInLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(-1063px, 0);
  }
}
@keyframes slideInLeft {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    transform: translate(-1063px, 0);
  }
}



/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 970px;
  height: 250px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 0;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.1s ease-in-out 0s forwards;
  -moz-animation: fadeIn 0.1s ease-in-out 0s forwards;
  animation: fadeIn 0.1s ease-in-out 0s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}
.bg {
  background: url('./images/970x250_bg.jpg') no-repeat center center;
  background-size: 100% auto;
}
.text2 {
  background: url('./images/970x250_text2.png') no-repeat center center;
  background-size: 100% auto;
  width: 676px;
  height: 23px;
  top: 108px;
  left: 51px;
}
.logo {
  background: url('./images/970x250_logo.png') no-repeat center center;
  background-size: 100% auto;
  width: 207px;
  height: 75px;
  top: 151px;
  left: 51px;
}
.cta {
  background: url('./images/970x250_cta.png') no-repeat center center;
  background-size: 100% auto;
  width: 203px;
  height: 61px;
  top: 162px;
  left: 740px;
}

.content-wrapper.animation .bg {
  -webkit-animation: fadeIn 0.75s ease-in-out 1.75s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 1.75s forwards;
  animation: fadeIn 0.75s ease-in-out 1.75s forwards;
}
.content-wrapper.animation .text2 {
  -webkit-animation: fadeInUp 0.5s ease-in-out 5s forwards;
  -moz-animation: fadeInUp 0.5s ease-in-out 5s forwards;
  animation: fadeInUp 0.5s ease-in-out 5s forwards;
}
.content-wrapper.animation .logo {
  -webkit-animation: fadeIn 0.5s ease-in-out 5.5s forwards;
  -moz-animation: fadeIn 0.5s ease-in-out 5.5s forwards;
  animation: fadeIn 0.5s ease-in-out 5.5s forwards;
}
.content-wrapper.animation .cta {
  -webkit-animation: fadeIn 0.5s ease-in-out 5.75s forwards;
  -moz-animation: fadeIn 0.5s ease-in-out 5.75s forwards;
  animation: fadeIn 0.5s ease-in-out 5.75s forwards;
}

.text1 {
  background: url('./images/970x250_text1.png') no-repeat center center;
  background-size: 100% auto;
  width: 1053px;
  height: 44px;
  top: 47px;
  left: 970px;
}
.text1-blue {
  background: url('./images/970x250_text1_blue.png') no-repeat center center;
  background-size: 100% auto;
  width: 1053px;
  height: 44px;
  top: 47px;
  left: 970px;
}
.frame.animation .text1 {
  -webkit-animation: slideInLeft 7s linear 0s forwards;
  -moz-animation: slideInLeft 7s linear 0s forwards;
  animation: slideInLeft 7s linear 0s forwards;
}
.frame.first-round.animation .text1-blue {
  -webkit-animation: slideInLeft 7s linear 0s forwards;
  -moz-animation: slideInLeft 7s linear 0s forwards;
  animation: slideInLeft 7s linear 0s forwards;
}
.frame.first-round.animation .text1-blue-container {
  -webkit-animation: fadeOut 0.5s linear 1.75s forwards;
  -moz-animation: fadeOut 0.5s linear 1.75s forwards;
  animation: fadeOut 0.5s linear 1.75s forwards;
}
.frame.animation {
  -webkit-animation: slideInLeft 7s linear 7s forwards;
  -moz-animation: slideInLeft 7s linear 7s forwards;
  animation: slideInLeft 7s linear 7s forwards;
}