/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide left to right animation--*/
@-webkit-keyframes slideRight {
  0%   {
    -webkit-transform: translate(-320px,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes slideRight {
  0%   {
    -moz-transform: translate(-320px,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes slideRight {
  0%   {
    -o-transform: translate(-320px,0);
    visibility: visible;
  }
  100% { 
    -o-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes slideRight {
  0%   {
    transform: translate(-320px,0);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-o-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}


/*-------------------------------------------*/
.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 50px;
  display: block;
}

.banner-container{
  background-color: #fff;
  overflow: hidden;
}

.content-container{
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.content{
  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}
.background {
  background: url('./images/320x50_bg.png') no-repeat center center;
}
.car-container {
  -webkit-animation: fadeOut 0.5s ease-in-out 3s forwards;
  -moz-animation: fadeOut 0.5s ease-in-out 3s forwards;
  -ms-animation: fadeOut 0.5s ease-in-out 3s forwards;
  -o-animation: fadeOut 0.5s ease-in-out 3s forwards;
  animation: fadeOut 0.5s ease-in-out 3s forwards;
}
.car {
  width: 127px;
  height: 50px;
  background: url('./images/320x50_car.png') no-repeat center center;
  top: 0px;
  right: 57px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 10ms ease-in-out 0s forwards;
  -moz-animation: fadeIn 10ms ease-in-out 0s forwards;
  -ms-animation: fadeIn 10ms ease-in-out 0s forwards;
  -o-animation: fadeIn 10ms ease-in-out 0s forwards;
  animation: fadeIn 10ms ease-in-out 0s forwards;
}
.text-container {
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.text {
  width: 148px;
  height: 35px;
  right: 46px;
  top: 7px;
  background: url('./images/320x50_text.png') no-repeat center center;

  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: fadeIn 0.5s ease-in-out 3.5s forwards;
  -moz-animation: fadeIn 0.5s ease-in-out 3.5s forwards;
  -ms-animation: fadeIn 0.5s ease-in-out 3.5s forwards;
  -o-animation: fadeIn 0.5s ease-in-out 3.5s forwards;
  animation: fadeIn 0.5s ease-in-out 3.5s forwards;
}

.cta-container {
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  -ms-transform: translate(320px,0);
  -o-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.cta {
  width: 110px;
  height: 26px;
  background: url('./images/320x50_cta.png') no-repeat center center;
  left: 12px;
  bottom: 12px;

  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  -ms-transform: translate(-320px,0);
  -o-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: slideRight 0.5s ease-in-out 4s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 4s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 4s forwards;
  -o-animation: slideRight 0.5s ease-in-out 4s forwards;
  animation: slideRight 0.5s ease-in-out 4s forwards;
}