/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}


/*-- slide left animation--*/
@-webkit-keyframes slideLeft {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(-320px,80px);
  }
}
@-moz-keyframes slideLeft {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(-320px,80px);
  }
}
@-o-keyframes slideLeft {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(-320px,80px);
  }
}
@keyframes slideLeft {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(-320px,80px);
  }
}

/*-- slide right animation--*/
@-webkit-keyframes slideRight {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(320px,-80px);
  }
}
@-moz-keyframes slideRight {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(320px,-80px);
  }
}
@-o-keyframes slideRight {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(320px,-80px);
  }
}
@keyframes slideRight {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(320px,-80px);
  }
}

/*-- slide right horizontal animation--*/
@-webkit-keyframes slideRightHorizontal {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(348px,0px);
  }
}
@-moz-keyframes slideRightHorizontal {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(348px,0px);
  }
}
@-o-keyframes slideRightHorizontal {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(348px,0);
  }
}
@keyframes slideRightHorizontal {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(348px, 0);
  }
}


/*-- slide back left animation--*/
@-webkit-keyframes slideBackLeft {
  0%   {
    -webkit-transform: translate(348px,0px);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideBackLeft {
  0%   {
    -moz-transform: translate(348px,0px);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideBackLeft {
  0%   {
    -o-transform: translate(348px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideBackLeft {
  0%   {
    transform: translate(348px, 0);
  }
  100% { 
    transform: translate(0,0);
  }
}


/*-- slide back left 320 animation--*/
@-webkit-keyframes slideBackLeft320 {
  0%   {
    -webkit-transform: translate(320px,0px);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideBackLeft320 {
  0%   {
    -moz-transform: translate(320px,0px);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideBackLeft320 {
  0%   {
    -o-transform: translate(320px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideBackLeft320 {
  0%   {
    transform: translate(320px, 0);
  }
  100% { 
    transform: translate(0,0);
  }
}



/*-- slide back right animation--*/
@-webkit-keyframes slideBackRight {
  0%   {
    -webkit-transform: translate(-348px,0px);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideBackRight {
  0%   {
    -moz-transform: translate(-348px,0px);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideBackRight {
  0%   {
    -o-transform: translate(-348px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideBackRight {
  0%   {
    transform: translate(-348px, 0);
  }
  100% { 
    transform: translate(0,0);
  }
}


/*-- slide back right 320 animation--*/
@-webkit-keyframes slideBackRight320 {
  0%   {
    -webkit-transform: translate(-320px,0px);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideBackRight320 {
  0%   {
    -moz-transform: translate(-320px,0px);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideBackRight320 {
  0%   {
    -o-transform: translate(-320px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideBackRight320 {
  0%   {
    transform: translate(-320px, 0);
  }
  100% { 
    transform: translate(0,0);
  }
}


/*-- slide in back text1 animation--*/
@-webkit-keyframes slideInBackText1 {
  0%   {
    -webkit-transform: translate(-320px,80px);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideInBackText1 {
  0%   {
    -moz-transform: translate(-320px,80px);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideInBackText1 {
  0%   {
    -o-transform: translate(-320px,80px);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideInBackText1 {
  0%   {
    transform: translate(-320px,80px);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide out back text 1 animation--*/
@-webkit-keyframes slideOutBackText1 {
  0%   {
    -webkit-transform: translate(320px,-80px);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideOutBackText1 {
  0%   {
    -moz-transform: translate(320px,-80px);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideOutBackText1 {
  0%   {
    -o-transform: translate(320px,-80px);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideOutBackText1 {
  0%   {
    transform: translate(320px,-80px);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide in back text1 animation--*/
@-webkit-keyframes slideFromTop {
  0%   {
    -webkit-transform: translate(0,-200px);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideFromTop {
  0%   {
    -moz-transform: translate(0,-200px);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideFromTop {
  0%   {
    -o-transform: translate(0,-200px);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideFromTop {
  0%   {
    transform: translate(0,-200px);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide out back text 1 animation--*/
@-webkit-keyframes slideFromBottom {
  0%   {
    -webkit-transform: translate(0,200px);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideFromBottom {
  0%   {
    -moz-transform: translate(0,200px);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideFromBottom {
  0%   {
    -o-transform: translate(0,200px);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideFromBottom {
  0%   {
    transform: translate(0,200px);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-------------------------------------------*/
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 50px;
  display: block;
}

.banner-container{
  background-color: #000;
  overflow: hidden;
}

/*--- text frame ---*/
.frame-text-wrapper{
  -webkit-animation: slideRightHorizontal 0.5s ease-in-out 5.5s forwards;
  -moz-animation: slideRightHorizontal 0.5s ease-in-out 5.5s forwards;
  -ms-animation: slideRightHorizontal 0.5s ease-in-out 5.5s forwards;
  -o-animation: slideRightHorizontal 0.5s ease-in-out 5.5s forwards;
  animation: slideRightHorizontal 0.5s ease-in-out 5.5s forwards;
}
.frame-text-container{
  background-color: #b2cc1a;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 0;

  -webkit-animation: fadeIn 0.1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 0.1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 0.1s ease-in-out 1s forwards;
  -o-animation: fadeIn 0.1s ease-in-out 1s forwards;
  animation: fadeIn 0.1s ease-in-out 1s forwards;
}

.frame-text1-1-wrapper{
  -webkit-transform: translate(320px,-80px);
  -moz-transform: translate(320px,-80px);
  -ms-transform: translate(320px,-80px);
  -o-transform: translate(320px,-80px);
  transform: translate(320px,-80px);

  -webkit-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -moz-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -ms-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -o-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  animation: slideOutBackText1 10ms ease-in-out 0s forwards;
}
.frame-text1-1-content{
  -webkit-transform: translate(-320px,80px);
  -moz-transform: translate(-320px,80px);
  -ms-transform: translate(-320px,80px);
  -o-transform: translate(-320px,80px);
  transform: translate(-320px,80px);

  -webkit-animation: slideInBackText1 0.3s ease-in-out 1.5s forwards;
  -moz-animation: slideInBackText1 0.3s ease-in-out 1.5s forwards;
  -ms-animation: slideInBackText1 0.3s ease-in-out 1.5s forwards;
  -o-animation: slideInBackText1 0.3s ease-in-out 1.5s forwards;
  animation: slideInBackText1 0.3s ease-in-out 1.5s forwards;
}
.frame-text1-1{
  position: absolute;
  top: 10px;
  left: 20px;
  width: 103px;
  height: 32px;
  background: url('../img/320x50_text1_1.png') no-repeat center center;

  -webkit-animation: slideRight 0.5s ease-in-out 3s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 3s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 3s forwards;
  -o-animation: slideRight 0.5s ease-in-out 3s forwards;
  animation: slideRight 0.5s ease-in-out 3s forwards;
}

.frame-text1-2-wrapper{
  -webkit-transform: translate(-320px,80px);
  -moz-transform: translate(-320px,80px);
  -ms-transform: translate(-320px,80px);
  -o-transform: translate(-320px,80px);
  transform: translate(-320px,80px);

  -webkit-animation: slideInBackText1 10ms ease-in-out 0s forwards;
  -moz-animation: slideInBackText1 10ms ease-in-out 0s forwards;
  -ms-animation: slideInBackText1 10ms ease-in-out 0s forwards;
  -o-animation: slideInBackText1 10ms ease-in-out 0s forwards;
  animation: slideInBackText1 10ms ease-in-out 0s forwards;
}
.frame-text1-2-content{
  -webkit-transform: translate(320px,-80px);
  -moz-transform: translate(320px,-80px);
  -ms-transform: translate(320px,-80px);
  -o-transform: translate(320px,-80px);
  transform: translate(320px,-80px);

  -webkit-animation: slideOutBackText1 0.3s ease-in-out 1.8s forwards;
  -moz-animation: slideOutBackText1 0.3s ease-in-out 1.8s forwards;
  -ms-animation: slideOutBackText1 0.3s ease-in-out 1.8s forwards;
  -o-animation: slideOutBackText1 0.3s ease-in-out 1.8s forwards;
  animation: slideOutBackText1 0.3s ease-in-out 1.8s forwards;
}
.frame-text1-2{
  position: absolute;
  top: 8px;
  left: 105px;
  width: 98px;
  height: 31px;
  background: url('../img/320x50_text1_2.png') no-repeat center center;

  -webkit-animation: slideLeft 0.5s ease-in-out 3s forwards;
  -moz-animation: slideLeft 0.5s ease-in-out 3s forwards;
  -ms-animation: slideLeft 0.5s ease-in-out 3s forwards;
  -o-animation: slideLeft 0.5s ease-in-out 3s forwards;
  animation: slideLeft 0.5s ease-in-out 3s forwards;
}

.frame-text1-3-wrapper{
  -webkit-transform: translate(320px,-80px);
  -moz-transform: translate(320px,-80px);
  -ms-transform: translate(320px,-80px);
  -o-transform: translate(320px,-80px);
  transform: translate(320px,-80px);

  -webkit-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -moz-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -ms-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -o-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  animation: slideOutBackText1 10ms ease-in-out 0s forwards;
}
.frame-text1-3-content{
  -webkit-transform: translate(-320px,80px);
  -moz-transform: translate(-320px,80px);
  -ms-transform: translate(-320px,80px);
  -o-transform: translate(-320px,80px);
  transform: translate(-320px,80px);

  -webkit-animation: slideInBackText1 0.3s ease-in-out 2.1s forwards;
  -moz-animation: slideInBackText1 0.3s ease-in-out 2.1s forwards;
  -ms-animation: slideInBackText1 0.3s ease-in-out 2.1s forwards;
  -o-animation: slideInBackText1 0.3s ease-in-out 2.1s forwards;
  animation: slideInBackText1 0.3s ease-in-out 2.1s forwards;
}
.frame-text1-3{
  position: absolute;
  top: 10px;
  left: 175px;
  width: 92px;
  height: 30px;
  background: url('../img/320x50_text1_3.png') no-repeat center center;

  -webkit-animation: slideRight 0.5s ease-in-out 3s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 3s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 3s forwards;
  -o-animation: slideRight 0.5s ease-in-out 3s forwards;
  animation: slideRight 0.5s ease-in-out 3s forwards;
}

.frame-text2-1-wrapper{
  -webkit-transform: translate(320px,-80px);
  -moz-transform: translate(320px,-80px);
  -ms-transform: translate(320px,-80px);
  -o-transform: translate(320px,-80px);
  transform: translate(320px,-80px);

  -webkit-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -moz-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -ms-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -o-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  animation: slideOutBackText1 10ms ease-in-out 0s forwards;
}
.frame-text2-1-content{
  -webkit-transform: translate(-320px,80px);
  -moz-transform: translate(-320px,80px);
  -ms-transform: translate(-320px,80px);
  -o-transform: translate(-320px,80px);
  transform: translate(-320px,80px);

  -webkit-animation: slideInBackText1 0.3s ease-in-out 3.5s forwards;
  -moz-animation: slideInBackText1 0.3s ease-in-out 3.5s forwards;
  -ms-animation: slideInBackText1 0.3s ease-in-out 3.5s forwards;
  -o-animation: slideInBackText1 0.3s ease-in-out 3.5s forwards;
  animation: slideInBackText1 0.3s ease-in-out 3.5s forwards;
}
.frame-text2-1{
  position: absolute;
  top: 8px;
  left: 45px;
  width: 123px;
  height: 36px;
  background: url('../img/320x50_text2_1.png') no-repeat center center;

  -webkit-animation: slideRight 0.5s ease-in-out 5s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 5s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 5s forwards;
  -o-animation: slideRight 0.5s ease-in-out 5s forwards;
  animation: slideRight 0.5s ease-in-out 5s forwards;
}

.frame-text2-2-wrapper{
  -webkit-transform: translate(-320px,80px);
  -moz-transform: translate(-320px,80px);
  -ms-transform: translate(-320px,80px);
  -o-transform: translate(-320px,80px);
  transform: translate(-320px,80px);

  -webkit-animation: slideInBackText1 10ms ease-in-out 0s forwards;
  -moz-animation: slideInBackText1 10ms ease-in-out 0s forwards;
  -ms-animation: slideInBackText1 10ms ease-in-out 0s forwards;
  -o-animation: slideInBackText1 10ms ease-in-out 0s forwards;
  animation: slideInBackText1 10ms ease-in-out 0s forwards;
}
.frame-text2-2-content{
  -webkit-transform: translate(320px,-80px);
  -moz-transform: translate(320px,-80px);
  -ms-transform: translate(320px,-80px);
  -o-transform: translate(320px,-80px);
  transform: translate(320px,-80px);

  -webkit-animation: slideOutBackText1 0.3s ease-in-out 3.8s forwards;
  -moz-animation: slideOutBackText1 0.3s ease-in-out 3.8s forwards;
  -ms-animation: slideOutBackText1 0.3s ease-in-out 3.8s forwards;
  -o-animation: slideOutBackText1 0.3s ease-in-out 3.8s forwards;
  animation: slideOutBackText1 0.3s ease-in-out 3.8s forwards;
}
.frame-text2-2{
  position: absolute;
  top: 12px;
  left: 145px;
  width: 92px;
  height: 30px;
  background: url('../img/320x50_text2_2.png') no-repeat center center;

  -webkit-animation: slideLeft 0.5s ease-in-out 5s forwards;
  -moz-animation: slideLeft 0.5s ease-in-out 5s forwards;
  -ms-animation: slideLeft 0.5s ease-in-out 5s forwards;
  -o-animation: slideLeft 0.5s ease-in-out 5s forwards;
  animation: slideLeft 0.5s ease-in-out 5s forwards;
}


.frame-triangle{
  position: absolute;
  top: 0px;
  left: -28px;
  width: 0px;
  height: 0px;
  border-bottom: solid 50px #b2cc1a;
  border-left: solid 28px transparent;

  -webkit-animation: slideRightHorizontal 0.5s ease-in-out 5.5s forwards;
  -moz-animation: slideRightHorizontal 0.5s ease-in-out 5.5s forwards;
  -ms-animation: slideRightHorizontal 0.5s ease-in-out 5.5s forwards;
  -o-animation: slideRightHorizontal 0.5s ease-in-out 5.5s forwards;
  animation: slideRightHorizontal 0.5s ease-in-out 5.5s forwards;
}

.frame-final-wrapper{
  -webkit-transform: translate(348px,0px);
  -moz-transform: translate(348px,0px);
  -ms-transform: translate(348px,0px);
  -o-transform: translate(348px,0px);
  transform: translate(348px,0px);  

  -webkit-animation: slideBackLeft 10ms ease-in-out 0s forwards;
  -moz-animation: slideBackLeft 10ms ease-in-out 0s forwards;
  -ms-animation: slideBackLeft 10ms ease-in-out 0s forwards;
  -o-animation: slideBackLeft 10ms ease-in-out 0s forwards;
  animation: slideBackLeft 10ms ease-in-out 0s forwards;
}
.frame-final-content{
  width: 348px;
  background: url('../img/320x50_bg.jpg') no-repeat left top;

  -webkit-transform: translate(-348px,0px);
  -moz-transform: translate(-348px,0px);
  -ms-transform: translate(-348px,0px);
  -o-transform: translate(-348px,0px);
  transform: translate(-348px,0px);

  -webkit-animation: slideBackRight 0.5s ease-in-out 5.5s forwards;
  -moz-animation: slideBackRight 0.5s ease-in-out 5.5s forwards;
  -ms-animation: slideBackRight 0.5s ease-in-out 5.5s forwards;
  -o-animation: slideBackRight 0.5s ease-in-out 5.5s forwards;
  animation: slideBackRight 0.5s ease-in-out 5.5s forwards;
}
.leg-container{
  position: absolute;
  top: 0px;
  left: 185px;
  width: 68px;
  height: 47px;
  background: url('../img/320x50_leg.png') no-repeat center center;
}
.frame-text3-container{
  -webkit-transform: translate(320px,-80px);
  -moz-transform: translate(320px,-80px);
  -ms-transform: translate(320px,-80px);
  -o-transform: translate(320px,-80px);
  transform: translate(320px,-80px);

  -webkit-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -moz-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -ms-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  -o-animation: slideOutBackText1 10ms ease-in-out 0s forwards;
  animation: slideOutBackText1 10ms ease-in-out 0s forwards;
}
.frame-text3{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 224px;
  height: 50px;
  background: url('../img/320x50_text3.png') no-repeat center center;

  -webkit-transform: translate(-320px,80px);
  -moz-transform: translate(-320px,80px);
  -ms-transform: translate(-320px,80px);
  -o-transform: translate(-320px,80px);
  transform: translate(-320px,80px);

  -webkit-animation: slideInBackText1 0.5s ease-in-out 6s forwards;
  -moz-animation: slideInBackText1 0.5s ease-in-out 6s forwards;
  -ms-animation: slideInBackText1 0.5s ease-in-out 6s forwards;
  -o-animation: slideInBackText1 0.5s ease-in-out 6s forwards;
  animation: slideInBackText1 0.5s ease-in-out 6s forwards;
}
.frame-button-container{
  -webkit-transform: translate(0,200px);
  -moz-transform: translate(0,200px);
  -ms-transform: translate(0,200px);
  -o-transform: translate(0,200px);
  transform: translate(0,200px);

  -webkit-animation: slideFromBottom 10ms ease-in-out 0s forwards;
  -moz-animation: slideFromBottom 10ms ease-in-out 0s forwards;
  -ms-animation: slideFromBottom 10ms ease-in-out 0s forwards;
  -o-animation: slideFromBottom 10ms ease-in-out 0s forwards;
  animation: slideFromBottom 10ms ease-in-out 0s forwards;
}
.frame-button{
  position: absolute;
  top: 2px;
  right: 8px;
  width: 50px;
  height: 20px;
  background: url('../img/320x50_button.png') no-repeat center center;

  -webkit-transform: translate(0,-200px);
  -moz-transform: translate(0,-200px);
  -ms-transform: translate(0,-200px);
  -o-transform: translate(0,-200px);
  transform: translate(0,-200px);

  -webkit-animation: slideFromTop 0.5s ease-in-out 6.5s forwards;
  -moz-animation: slideFromTop 0.5s ease-in-out 6.5s forwards;
  -ms-animation: slideFromTop 0.5s ease-in-out 6.5s forwards;
  -o-animation: slideFromTop 0.5s ease-in-out 6.5s forwards;
  animation: slideFromTop 0.5s ease-in-out 6.5s forwards;
}

.frame-logo{
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 38px;
  height: 22px;
  background: url('../img/320x50_logo.png') no-repeat center center;
}