/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- slide out animation--*/
@-webkit-keyframes slideLeft {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(-300px,0);
  }
}
@-moz-keyframes slideLeft {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(-300px,0);
  }
}
@-o-keyframes slideLeft {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(-300px,0);
  }
}
@keyframes slideLeft {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(-300px,0);
  }
}

/*-- slide in animation--*/
@-webkit-keyframes slideLeft2 {
  0%   {
    -webkit-transform: translate(300px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideLeft2 {
  0%   {
    -moz-transform: translate(300px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideLeft2 {
  0%   {
    -o-transform: translate(300px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideLeft2 {
  0%   {
    transform: translate(300px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide in back animation--*/
@-webkit-keyframes slideRight {
  0%   {
    -webkit-transform: translate(-300px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideRight {
  0%   {
    -moz-transform: translate(-300px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideRight {
  0%   {
    -o-transform: translate(-300px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideRight {
  0%   {
    transform: translate(-300px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide up animation--*/
@-webkit-keyframes slideUp {
  0%   {
    -webkit-transform: translate(0,250px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0%   {
    -moz-transform: translate(0,250px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideUp {
  0%   {
    -o-transform: translate(0,250px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0%   {
    transform: translate(0,250px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-- slide down animation--*/
@-webkit-keyframes slideDown {
  0%   {
    -webkit-transform: translate(0,-250px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideDown {
  0%   {
    -moz-transform: translate(0,-250px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideDown {
  0%   {
    -o-transform: translate(0,-250px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0%   {
    transform: translate(0,-250px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}
/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-------------------------------------------*/
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;  
}

.banner-container{
  background-color: #000;
  overflow: hidden;
}

.content-container{
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.content{
  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}
.static-text {
  position: absolute;
  background: url('images/300x250_static_text.png') no-repeat center center;
  width: 250px;
  height: 8px;
  top: 43px;
  left: 7px;
}
.static-car {
  position: absolute;
  width: 300px;
  height: 250px;
  background: url('images/300x250_static_car.jpg') no-repeat center center;
  top: 0px;
  left: 0px;
}
.lockup {
  position: absolute;
  width: 180px;
  height: 33px;
  background: url('images/300x250_static_lockup.png') no-repeat center center;
  top: 0px;
  left: 0px;
}
.cta {
  position: absolute;
  width: 125px;
  height: 24px;
  background: url('images/300x250_static_cta.png') no-repeat center center;
  left: 6px;
  bottom: 4px;
}
.more-info {
  position: absolute;
  width: 40px;
  height: 7px;
  background: url('images/300x250_static_more_info.png') no-repeat center center;
  right: 10px;
  bottom: 8px;
}
.border {
  position: absolute;
  width: 300px;
  height: 250px;
  top: 0px;
  left: 0px;
  background: url('images/300x250_static_border.png') no-repeat center center;
}

.frame1-container {
  -webkit-animation: fadeOut 1s ease-in-out 3s forwards;
  -moz-animation: fadeOut 1s ease-in-out 3s forwards;
  -ms-animation: fadeOut 1s ease-in-out 3s forwards;
  -o-animation: fadeOut 1s ease-in-out 3s forwards;
  animation: fadeOut 1s ease-in-out 3s forwards;
}
.frame1-content {
  position: absolute;
  width: 122px;
  height: 68px;
  background: url('images/300x250_frame1.png') no-repeat center center;
  top: 61px;
  left: 7px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;
  -webkit-animation: fadeIn 10ms ease-in-out 0s forwards;
  -moz-animation: fadeIn 10ms ease-in-out 0s forwards;
  -ms-animation: fadeIn 10ms ease-in-out 0s forwards;
  -o-animation: fadeIn 10ms ease-in-out 0s forwards;
  animation: fadeIn 10ms ease-in-out 0s forwards;
}
.frame2-container {
  -webkit-animation: fadeOut 1s ease-in-out 5s forwards;
  -moz-animation: fadeOut 1s ease-in-out 5s forwards;
  -ms-animation: fadeOut 1s ease-in-out 5s forwards;
  -o-animation: fadeOut 1s ease-in-out 5s forwards;
  animation: fadeOut 1s ease-in-out 5s forwards;
}
.frame2-content {
  position: absolute;
  width: 276px;
  height: 56px;
  background: url('images/300x250_frame2.png') no-repeat center center;
  top: 67px;
  left: 11px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;
  -webkit-animation: fadeIn 1s ease-in-out 3s forwards;
  -moz-animation: fadeIn 1s ease-in-out 3s forwards;
  -ms-animation: fadeIn 1s ease-in-out 3s forwards;
  -o-animation: fadeIn 1s ease-in-out 3s forwards;
  animation: fadeIn 1s ease-in-out 3s forwards;
}
.frame3-container {
  -webkit-animation: fadeOut 1s ease-in-out 7s forwards;
  -moz-animation: fadeOut 1s ease-in-out 7s forwards;
  -ms-animation: fadeOut 1s ease-in-out 7s forwards;
  -o-animation: fadeOut 1s ease-in-out 7s forwards;
  animation: fadeOut 1s ease-in-out 7s forwards;
}
.frame3-content {
  position: absolute;
  width: 139px;
  height: 109px;
  background: url('images/300x250_frame3.png') no-repeat center center;
  top: 76px;
  left: 12px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;
  -webkit-animation: fadeIn 1s ease-in-out 5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 5s forwards;
  -ms-animation: fadeIn 1s ease-in-out 5s forwards;
  -o-animation: fadeIn 1s ease-in-out 5s forwards;
  animation: fadeIn 1s ease-in-out 5s forwards;
}
.frame4-container {
  -webkit-animation: fadeOut 1s ease-in-out 9s forwards;
  -moz-animation: fadeOut 1s ease-in-out 9s forwards;
  -ms-animation: fadeOut 1s ease-in-out 9s forwards;
  -o-animation: fadeOut 1s ease-in-out 9s forwards;
  animation: fadeOut 1s ease-in-out 9s forwards;
}
.frame4-content {
  position: absolute;
  width: 77px;
  height: 151px;
  background: url('images/300x250_frame4.png') no-repeat center center;
  top: 61px;
  left: 26px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;
  -webkit-animation: fadeIn 1s ease-in-out 7s forwards;
  -moz-animation: fadeIn 1s ease-in-out 7s forwards;
  -ms-animation: fadeIn 1s ease-in-out 7s forwards;
  -o-animation: fadeIn 1s ease-in-out 7s forwards;
  animation: fadeIn 1s ease-in-out 7s forwards;
}
.frame5-container {
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame5-content {
  position: absolute;
  width: 123px;
  height: 145px;
  background: url('images/300x250_frame5.png') no-repeat center center;
  top: 61px;
  left: 6px;

  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 9s forwards;
  -moz-animation: fadeIn 1s ease-in-out 9s forwards;
  -ms-animation: fadeIn 1s ease-in-out 9s forwards;
  -o-animation: fadeIn 1s ease-in-out 9s forwards;
  animation: fadeIn 1s ease-in-out 9s forwards;
}