/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in right --*/
@-webkit-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -webkit-transform: translate(-10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -moz-transform: translate(-10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0%   {
    visibility: visible;
    transform: translate(-10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in left --*/
@-webkit-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0%   {
    visibility: visible;
    transform: translate(10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- star animation --*/
@-webkit-keyframes starAnimation {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0px,0px) rotate(0deg);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0px,800px) rotate(359deg);
  }
}
@-moz-keyframes starAnimation {
  0%   {
    visibility: visible;
    -moz-transform: translate(0px,0px) rotate(0deg);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0px,800px) rotate(359deg);
  }
}
@keyframes starAnimation {
  0%   {
    visibility: visible;
    transform: translate(0px,0px) rotate(0deg);
  }
  100% { 
    visibility: visible;
    transform: translate(0px,800px) rotate(359deg);
  }
}

/*-- white star animation --*/
@-webkit-keyframes whiteStarAnimation {
  0%   {
    visibility: visible;
    opacity: 0;
    -webkit-transform: scale(3,3);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1,1);
  }
}
@-moz-keyframes whiteStarAnimation {
  0%   {
    visibility: visible;
    opacity: 0;
    -moz-transform: scale(3,3);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -moz-transform: scale(1,1);
  }
}
@keyframes whiteStarAnimation {
  0%   {
    visibility: visible;
    opacity: 0;
    transform: scale(3,3);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
  }
}

/*-- line animation --*/
@-webkit-keyframes lineAnimation {
  0%   {
    visibility: visible;
    height: 0px;
  }
  100% { 
    visibility: visible;
    height: 145px;
  }
}
@-moz-keyframes lineAnimation {
  0%   {
    visibility: visible;
    height: 0px;
  }
  100% { 
    visibility: visible;
    height: 145px;
  }
}
@keyframes lineAnimation {
  0%   {
    visibility: visible;
    height: 0px;
  }
  100% { 
    visibility: visible;
    height: 145px;
  }
}


/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 600px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 1s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 0.5s forwards;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.bg {
  background: url('./images/300x600_bg.jpg') no-repeat center center;

  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.border {
  background: url('./images/300x600_border.png') no-repeat center center;
  z-index: 10;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.footer {
  background: url('./images/300x600_footer.png') no-repeat center center;
  width: 300px;
  height: 82px;
  left: 0px;
  bottom: 0px;
  z-index: 10;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}

.red-star {
  background: url('./images/300x600_red_star.png') no-repeat center center;
  width: 168px;
  height: 172px;
  bottom: 610px;
  right: -5px;

  -webkit-animation: starAnimation 1.5s linear 1.25s forwards;
  -moz-animation: starAnimation 1.5s linear 1.25s forwards;
  animation: starAnimation 1.5s linear 1.25s forwards;
}
.blue-star {
  background: url('./images/300x600_blue_star.png') no-repeat center center;
  width: 164px;
  height: 157px;
  bottom: 610px;
  left: 59px;

  -webkit-animation: starAnimation 1.5s linear 1.3s forwards;
  -moz-animation: starAnimation 1.5s linear 1.3s forwards;
  animation: starAnimation 1.5s linear 1.3s forwards;
}
.orange-star {
  background: url('./images/300x600_orange_star.png') no-repeat center center;
  width: 123px;
  height: 122px;
  bottom: 610px;
  left: 0px;
  -webkit-animation: starAnimation 1.5s linear 1.35s forwards;
  -moz-animation: starAnimation 1.5s linear 1.35s forwards;
  animation: starAnimation 1.5s linear 1.35s forwards;
}
.line {
  background: url('./images/300x600_line.png') no-repeat center top;
  width: 254px;
  height: 0px;
  top: 192px;
  left: 24px;
  -webkit-animation: lineAnimation 0.5s linear 1.75s forwards;
  -moz-animation: lineAnimation 0.5s linear 1.75s forwards;
  animation: lineAnimation 0.5s linear 1.75s forwards;
}
.white-star {
  background: url('./images/300x600_white_star.png') no-repeat center center;
  width: 28px;
  height: 25px;
  top: 246px;
  right: 49px;

  -webkit-animation: whiteStarAnimation 0.5s linear 2.25s forwards;
  -moz-animation: whiteStarAnimation 0.5s linear 2.25s forwards;
  animation: whiteStarAnimation 0.5s linear 2.25s forwards;
}

.frame1 {
  -webkit-animation: fadeOut 0.75s ease-in-out 3.75s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 3.75s forwards;
  animation: fadeOut 0.75s ease-in-out 3.75s forwards;
}

.frame2-text {
  background: url('./images/300x600_fr2_text.png') no-repeat center center;
  width: 266px;
  height: 70px;
  top: 225px;
  left: 19px;

  -webkit-animation: fadeInDown 0.75s ease-in-out 4.25s forwards;
  -moz-animation: fadeInDown 0.75s ease-in-out 4.25s forwards;
  animation: fadeInDown 0.75s ease-in-out 4.25s forwards;
}
.frame2 {
  -webkit-animation: fadeOut 0.75s ease-in-out 6.5s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 6.5s forwards;
  animation: fadeOut 0.75s ease-in-out 6.5s forwards;
}

.frame3-content {
  background: url('./images/300x600_fr3_content.png') no-repeat center center;
  -webkit-animation: fadeIn 0.75s ease-in-out 7s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 7s forwards;
  animation: fadeIn 0.75s ease-in-out 7s forwards;
}
.cta {
  background: url('./images/300x600_cta.png') no-repeat center center;
  width: 92px;
  height: 22px;
  bottom: 129px;
  left: 24px;
  -webkit-animation: fadeInRight 0.75s ease-in-out 7.75s forwards;
  -moz-animation: fadeInRight 0.75s ease-in-out 7.75s forwards;
  animation: fadeInRight 0.75s ease-in-out 7.75s forwards;
}
