/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fly up --*/
@-webkit-keyframes flyUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0,600px);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes flyUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0,600px);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,0);
  }
}
@keyframes flyUp {
  0%   {
    visibility: visible;
    transform: translate(0,600px);
  }
  100% { 
    visibility: visible;
    transform: translate(0,0);
  }
}

/*-- fly up out --*/
@-webkit-keyframes flyUpOut {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,-600px);
  }
}
@-moz-keyframes flyUpOut {
  0%   {
    visibility: visible;
    -moz-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,-600px);
  }
}
@keyframes flyUpOut {
  0%   {
    visibility: visible;
    transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    transform: translate(0,-600px);
  }
}

/*-- fly down out --*/
@-webkit-keyframes flyDownOut {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,600px);
  }
}
@-moz-keyframes flyDownOut {
  0%   {
    visibility: visible;
    -moz-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,600px);
  }
}
@keyframes flyDownOut {
  0%   {
    visibility: visible;
    transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    transform: translate(0,600px);
  }
}

/*-- fly down in --*/
@-webkit-keyframes flyDownIn {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0,-600px);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes flyDownIn {
  0%   {
    visibility: visible;
    -moz-transform: translate(0,-600px);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,0);
  }
}
@keyframes flyDownIn {
  0%   {
    visibility: visible;
    transform: translate(0,-600px);
  }
  100% { 
    visibility: visible;
    transform: translate(0,0);
  }
}

/*-- move logo --*/
@-webkit-keyframes moveLogo {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,-520px);
  }
}
@-moz-keyframes moveLogo {
  0%   {
    visibility: visible;
    -moz-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,-520px);
  }
}
@keyframes moveLogo {
  0%   {
    visibility: visible;
    transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    transform: translate(0,-520px);
  }
}

/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 0;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.1s ease-in-out 0.25s forwards;
  -moz-animation: fadeIn 0.1s ease-in-out 0.25s forwards;
  animation: fadeIn 0.1s ease-in-out 0.25s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.bg {
  background: url('./images/160x600_bg.png') no-repeat center center;
  -webkit-animation: fadeIn 0.01s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.01s ease-in-out 0.5s forwards;
  animation: fadeIn 0.01s ease-in-out 0.5s forwards;
}
.logo {
  background: url('./images/160x600_logo.png') no-repeat center center;
  width: 156px;
  height: 37px;
  top: 534px;
  left: 3px;
  -webkit-animation: fadeIn 0.01s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.01s ease-in-out 0.5s forwards;
  animation: fadeIn 0.01s ease-in-out 0.5s forwards;
}
.logo-sub {
  background: url('./images/160x600_logo_sub.png') no-repeat center center;
  width: 156px;
  height: 51px;
  top: 534px;
  left: 3px;
  -webkit-animation: fadeIn 0.01s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.01s ease-in-out 0.5s forwards;
  animation: fadeIn 0.01s ease-in-out 0.5s forwards;
}
.girl {
  background: url('./images/160x600_girl.png') no-repeat center center;
  width: 160px;
  height: 347px;
  top: 68px;
  left: 0px;
  -webkit-animation: fadeIn 0.25s ease-in-out 0.75s forwards;
  -moz-animation: fadeIn 0.25s ease-in-out 0.75s forwards;
  animation: fadeIn 0.25s ease-in-out 0.75s forwards;
}
.text1 {
  background: url('./images/160x600_text1.png') no-repeat center center;
  width: 144px;
  height: 138px;
  top: 30px;
  left: 9px;
  -webkit-animation: fadeIn 0.25s ease-in-out 0.85s forwards;
  -moz-animation: fadeIn 0.25s ease-in-out 0.85s forwards;
  animation: fadeIn 0.25s ease-in-out 0.85s forwards;
}

.logo-sub-container {
  -webkit-animation: fadeOut 0.1s ease-in-out 2.5s forwards;
  -moz-animation: fadeOut 0.1s ease-in-out 2.5s forwards;
  animation: fadeOut 0.1s ease-in-out 2.5s forwards;
}
.logo-container {
  -webkit-animation: moveLogo 0.5s ease-in-out 2.5s forwards;
  -moz-animation: moveLogo 0.5s ease-in-out 2.5s forwards;
  animation: moveLogo 0.5s ease-in-out 2.5s forwards;
}
.legal {
  background: url('./images/160x600_legal.png') no-repeat center center;
  width: 13px;
  height: 156px;
  top: 294px;
  left: 145px;
  -webkit-animation: fadeIn 0.25s ease-in-out 2.5s forwards;
  -moz-animation: fadeIn 0.25s ease-in-out 2.5s forwards;
  animation: fadeIn 0.25s ease-in-out 2.5s forwards;
}
.frame1 {
  -webkit-animation: flyUpOut 0.5s ease-in-out 2.5s forwards;
  -moz-animation: flyUpOut 0.5s ease-in-out 2.5s forwards;
  animation: flyUpOut 0.5s ease-in-out 2.5s forwards;
}
.man {
  background: url('./images/160x600_man.png') no-repeat center center;
  width: 160px;
  height: 322px;
  top: 278px;
  left: 0px;
  -webkit-animation: flyUp 0.5s ease-in-out 2.5s forwards;
  -moz-animation: flyUp 0.5s ease-in-out 2.5s forwards;
  animation: flyUp 0.5s ease-in-out 2.5s forwards;
}
.text2 {
  background: url('./images/160x600_text2.png') no-repeat center center;
  width: 156px;
  height: 171px;
  top: 86px;
  left: 0px;
  -webkit-animation: flyUp 0.5s ease-in-out 2.5s forwards;
  -moz-animation: flyUp 0.5s ease-in-out 2.5s forwards;
  animation: flyUp 0.5s ease-in-out 2.5s forwards;
}
.man2 {
  background: url('./images/160x600_man2.png') no-repeat center center;
  width: 160px;
  height: 322px;
  top: 278px;
  left: 0px;
  -webkit-animation: fadeIn 0.1s ease-in-out 3s forwards;
  -moz-animation: fadeIn 0.1s ease-in-out 3s forwards;
  animation: fadeIn 0.1s ease-in-out 3s forwards;
}

.man-container {
  -webkit-animation: fadeOut 0.1s ease-in-out 4.5s forwards;
  -moz-animation: fadeOut 0.1s ease-in-out 4.5s forwards;
  animation: fadeOut 0.1s ease-in-out 4.5s forwards;
}
.text2-container {
  -webkit-animation: flyDownOut 0.5s ease-in-out 4.5s forwards;
  -moz-animation: flyDownOut 0.5s ease-in-out 4.5s forwards;
  animation: flyDownOut 0.5s ease-in-out 4.5s forwards;
}
.text3 {
  background: url('./images/160x600_text3.png') no-repeat center center;
  width: 125px;
  height: 120px;
  top: 72px;
  left: 16px;
}
.cta {
  background: url('./images/160x600_cta.png') no-repeat center center;
  width: 160px;
  height: 47px;
  top: 201px;
  left: 0px;
}
.extra-text {
  background: url('./images/160x600_extra_text.png') no-repeat center center;
  width: 66px;
  height: 39px;
  top: 252px;
  left: 47px;
}
.frame3 {
  -webkit-animation: flyDownIn 0.5s ease-in-out 4.5s forwards;
  -moz-animation: flyDownIn 0.5s ease-in-out 4.5s forwards;
  animation: flyDownIn 0.5s ease-in-out 4.5s forwards;
}