/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in right --*/
@-webkit-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -webkit-transform: translate(-50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -moz-transform: translate(-50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0%   {
    visibility: visible;
    transform: translate(-50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in left --*/
@-webkit-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0%   {
    visibility: visible;
    transform: translate(50%, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in zoom out --*/
@-webkit-keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}

/*-- fade in zoom in --*/
@-webkit-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    -webkit-transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    -moz-transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}


/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}
.bg {
  background: url('./images/300x250_bg.jpg') no-repeat center center;
  background-size: 100% auto;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.frame1-cup {
  background: url('./images/300x250_frame1_cup.png') no-repeat center center;
  background-size: 100% auto;
  width: 90px;
  height: 107px;
  top: 117px;
  left: 101px;

  -webkit-animation: fadeIn 0.75s ease-in-out 1.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 1.25s forwards;
  animation: fadeIn 0.75s ease-in-out 1.25s forwards;
}
.frame1-text1 {
  background: url('./images/300x250_frame1_text1.png') no-repeat center center;
  background-size: 100% auto;
  width: 188px;
  height: 53px;
  top: 73px;
  left: 56px;

  -webkit-animation: fadeInDown 0.75s ease-out 2s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 2s forwards;
  animation: fadeInDown 0.75s ease-out 2s forwards;
}
.frame1-text2 {
  background: url('./images/300x250_frame1_text2.png') no-repeat center center;
  background-size: auto 100%;
  width: 188px;
  height: 22px;
  top: 46px;
  left: 56px;

  -webkit-animation: fadeInDown 0.75s ease-out 2.25s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 2.25s forwards;
  animation: fadeInDown 0.75s ease-out 2.25s forwards;
}
.frame1-text3 {
  background: url('./images/300x250_frame1_text3.png') no-repeat center center;
  background-size: 100% auto;
  width: 104px;
  height: 22px;
  top: 17px;
  left: 97px;

  -webkit-animation: fadeInDown 0.75s ease-out 2.5s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 2.5s forwards;
  animation: fadeInDown 0.75s ease-out 2.5s forwards;
}
.frame1-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 4.25s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 4.25s forwards;
  animation: fadeOut 0.75s ease-in-out 4.25s forwards;
}

.frame2-image1 {
  background: url('./images/300x250_frame2_image1.png') no-repeat center center;
  background-size: 100% auto;
  width: 61px;
  height: 57px;
  top: 30px;
  left: 31px;

  -webkit-animation: fadeInDown 0.75s ease-out 5s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 5s forwards;
  animation: fadeInDown 0.75s ease-out 5s forwards;
}
.frame2-text1 {
  background: url('./images/300x250_frame2_text1.png') no-repeat center center;
  background-size: 100% auto;
  width: 29px;
  height: 8px;
  top: 99px;
  left: 47px;

  -webkit-animation: fadeInUp 0.75s ease-out 5s forwards;
  -moz-animation: fadeInUp 0.75s ease-out 5s forwards;
  animation: fadeInUp 0.75s ease-out 5s forwards;
}
.frame2-image2 {
  background: url('./images/300x250_frame2_image2.png') no-repeat center center;
  background-size: 100% auto;
  width: 61px;
  height: 73px;
  top: 15px;
  left: 118px;

  -webkit-animation: fadeInDown 0.75s ease-out 5.75s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 5.75s forwards;
  animation: fadeInDown 0.75s ease-out 5.75s forwards;
}
.frame2-text2 {
  background: url('./images/300x250_frame2_text2.png') no-repeat center center;
  background-size: 100% auto;
  width: 23px;
  height: 7px;
  top: 99px;
  left: 137px;

  -webkit-animation: fadeInUp 0.75s ease-out 5.75s forwards;
  -moz-animation: fadeInUp 0.75s ease-out 5.75s forwards;
  animation: fadeInUp 0.75s ease-out 5.75s forwards;
}
.frame2-image3 {
  background: url('./images/300x250_frame2_image3.png') no-repeat center center;
  background-size: 100% auto;
  width: 69px;
  height: 70px;
  top: 23px;
  left: 204px;

  -webkit-animation: fadeInDown 0.75s ease-out 6.5s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 6.5s forwards;
  animation: fadeInDown 0.75s ease-out 6.5s forwards;
}
.frame2-text3 {
  background: url('./images/300x250_frame2_text3.png') no-repeat center center;
  background-size: 100% auto;
  width: 43px;
  height: 8px;
  top: 99px;
  left: 217px;

  -webkit-animation: fadeInUp 0.75s ease-out 6.5s forwards;
  -moz-animation: fadeInUp 0.75s ease-out 6.5s forwards;
  animation: fadeInUp 0.75s ease-out 6.5s forwards;
}
.frame2-info {
  background: url('./images/300x250_frame2_info.png') no-repeat center center;
  background-size: 100% auto;
  width: 142px;
  height: 13px;
  left: 79px;
  bottom: 10px;

  -webkit-animation: fadeInUp 0.75s ease-out 7.25s forwards;
  -moz-animation: fadeInUp 0.75s ease-out 7.25s forwards;
  animation: fadeInUp 0.75s ease-out 7.25s forwards;
}

.frame2-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 9s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 9s forwards;
  animation: fadeOut 0.75s ease-in-out 9s forwards;
}

.frame3-image {
  background: url('./images/300x250_frame3_image.png') no-repeat center center;
  background-size: auto 100%;
  width: 275px;
  height: 140px;
  top: 22px;
  left: 18px;

  -webkit-animation: fadeInDown 0.75s ease-out 9.75s forwards;
  -moz-animation: fadeInDown 0.75s ease-out 9.75s forwards;
  animation: fadeInDown 0.75s ease-out 9.75s forwards;
}
.frame3-cta {
  background: url('./images/300x250_frame3_cta.png') no-repeat center center;
  background-size: auto 100%;
  width: 161px;
  height: 26px;
  left: 70px;
  bottom: 44px;

  -webkit-animation: fadeInUp 0.75s ease-out 10.75s forwards;
  -moz-animation: fadeInUp 0.75s ease-out 10.75s forwards;
  animation: fadeInUp 0.75s ease-out 10.75s forwards;
}