.banner-container-300x250{
	width:298px;
	height:248px;
	position:relative;
	margin:0px auto;
	background-color:#fff;
	overflow:hidden;
	border:#999999 solid 1px;
}
.bg1-300x250{
	background-image:url(images/bg1-300x250_desktop.png);
	width:300px;
	height:250px;
	position:absolute;
	top:0px;
	left:0px;
	-webkit-animation:2s bg1-300x250;
	animation:2s bg1-300x250;
}
.bg2-300x250{
	background-image:url(images/bg2-300x250.png);
	width:300px;
	height:250px;
	position:absolute;
	top:0px;
	left:0px;
	-webkit-animation:2s bg2-300x250;
	animation:2s bg2-300x250;
}
.cta-300x250{
	background-image:url(images/cta-300x250.png);
	width:300px;
	height:40px;
	position:absolute;
	bottom:0px;
	left:0px;	
}
.logo-300x250{
	background-image:url(images/logo-300x250.png);
	width:300px;
	height:250px;
	position:absolute;
	bottom:0px;
	left:0px;
	-webkit-animation:3s fade-300x250;
	animation:3s fade-300x250;
}

@-webkit-keyframes bg1-300x250{
	0%{-webkit-transform:translateX(-300px);}
	60%{-webkit-transform:translateX(-300px);}
	100%{}
}
@-webkit-keyframes bg2-300x250{
	0%{ height:0px;}
	100%{}
}
@-webkit-keyframes fade-300x250{
	0%{opacity:0;}
	80%{opacity:0;}
	100%{}
}


@keyframes bg1-300x250{
	0%{transform:translateY(-250px);}
	20%{transform:translateY(-250px);}
	100%{}
}
@keyframes bg2-300x250{
	0%{transform:translateY(250px);}
	20%{transform:translateY(250px);}
	100%{}
}
@keyframes fade-300x250{
	0%{opacity:0;}
	80%{opacity:0;}
	100%{}
}
