.banner-container-728x90{
	width:729px;
	height:88px;
	position:relative;
	margin:0px auto;
	background-color:#fff;
	overflow:hidden;
	border:#999999 solid 1px;
}
.bg1-728x90{
	background-image:url(images/bg1-728x90.png);
	width:728px;
	height:90px;
	position:absolute;
	top:0px;
	left:0px;
	-webkit-animation:1s bg1-728x90;
	animation:1s bg1-728x90;
}
.bg2-728x90{
	background-image:url(images/bg2-728x90.png);
	width:728px;
	height:90px;
	position:absolute;
	top:0px;
	left:0px;
	-webkit-animation:1s bg2-728x90;
	animation:1s bg2-728x90;
}
.cta-728x90{
	background-image:url(images/cta-728x90.png);
	width:145px;
	height:90px;
	position:absolute;
	bottom:0px;
	right:0px;	
}
.logo-728x90{
	background-image:url(images/logo-728x90.png);
	width:728px;
	height:90px;
	position:absolute;
	bottom:0px;
	left:0px;
	-webkit-animation:2s fade-728x90;
	animation:2s fade-728x90;
}

@-webkit-keyframes bg1-728x90{
	0%{-webkit-transform:translateY(-300px);}
	20%{-webkit-transform:translateY(-300px);}
	100%{}
}
@-webkit-keyframes bg2-728x90{
	0%{-webkit-transform:translateY(300px);}
	20%{-webkit-transform:translateY(300px);}
	100%{}
}
@-webkit-keyframes fade-728x90{
	0%{opacity:0;}
	80%{opacity:0;}
	100%{}
}

@keyframes bg1-728x90{
	0%{transform:translateY(-300px);}
	20%{transform:translateY(-300px);}
	100%{}
}
@keyframes bg2-728x90{
	0%{transform:translateY(300px);}
	20%{transform:translateY(300px);}
	100%{}
}
@keyframes fade-728x90{
	0%{opacity:0;}
	80%{opacity:0;}
	100%{}
}
