.banner-container-970x250{
	width:968px;
	height:248px;
	position:relative;
	margin:0px auto;
	background-color:#fff;
	overflow:hidden;
	border:#999999 solid 1px;
}
.bg1-970x250{
	background-image:url(images/bg1-970x250.png);
	width:970px;
	height:250px;
	position:absolute;
	top:0px;
	left:0px;
	-webkit-animation:1s bg1-970x250;
	animation:1s bg1-970x250;
}
.bg2-970x250{
	background-image:url(images/bg2-970x250.png);
	width:970px;
	height:250px;
	position:absolute;
	top:0px;
	left:0px;
	-webkit-animation:1s bg2-970x250;
	animation:1s bg2-970x250;
}
.cta-970x250{
	background-image:url(images/cta-970x250.png);
	width:145px;
	height:250px;
	position:absolute;
	bottom:0px;
	right:0px;	
}
.logo-970x250{
	background-image:url(images/logo-970x250.png);
	width:970px;
	height:250px;
	position:absolute;
	bottom:0px;
	left:0px;
	-webkit-animation:2s fade-970x250;
	animation:2s fade-970x250;
}

@-webkit-keyframes bg1-970x250{
	0%{-webkit-transform:translateY(-300px);}
	20%{-webkit-transform:translateY(-300px);}
	100%{}
}
@-webkit-keyframes bg2-970x250{
	0%{-webkit-transform:translateY(300px);}
	20%{-webkit-transform:translateY(300px);}
	100%{}
}
@-webkit-keyframes fade-970x250{
	0%{opacity:0;}
	80%{opacity:0;}
	100%{}
}

@keyframes bg1-970x250{
	0%{transform:translateY(-300px);}
	20%{transform:translateY(-300px);}
	100%{}
}
@keyframes bg2-970x250{
	0%{transform:translateY(300px);}
	20%{transform:translateY(300px);}
	100%{}
}
@keyframes fade-970x250{
	0%{opacity:0;}
	80%{opacity:0;}
	100%{}
}
