/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in zoom in --*/
@-webkit-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    opacity: 0;
    -webkit-transform: scale(1.25,1.25);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1,1);
  }
}
@-moz-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    opacity: 0;
    -moz-transform: scale(1.25,1.25);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -moz-transform: scale(1,1);
  }
}
@keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    opacity: 0;
    transform: scale(1.25,1.25);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
  }
}


/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    opacity: 0;
    -webkit-transform: translate(0,100%);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    opacity: 0;
    -moz-transform: translate(0,100%);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    opacity: 0;
    transform: translate(0,100%);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
  }
}


/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;
}

.banner-container{
  overflow: hidden;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.content{
  background: url('./images/300x250_ber_bg.jpg') no-repeat center center;
  -webkit-animation: fadeIn 1s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 0.5s forwards;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}

.content-wrapper {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}
.text {
  background: url('./images/300x250_ber_text.png') no-repeat center center;
  width: 95px;
  height: 27px;
  left: 23px;
  bottom: 42px;

  -webkit-animation: fadeInZoomIn 0.75s ease-in-out 3s forwards;
  -moz-animation: fadeInZoomIn 0.75s ease-in-out 3s forwards;
  animation: fadeInZoomIn 0.75s ease-in-out 3s forwards;
}
.logo {
  background: url('./images/300x250_ber_logo.png') no-repeat center center;
  width: 105px;
  height: 79px;
  left: 19px;
  top: 26px;

  -webkit-animation: fadeIn 1s ease-in-out 1.75s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1.75s forwards;
  animation: fadeIn 1s ease-in-out 1.75s forwards;
}
.cta {
  background: url('./images/300x250_ber_cta.png') no-repeat center center;
  width: 108px;
  height: 32px;
  left: 16px;
  bottom: 91px;

  -webkit-animation: fadeInUp 0.5s ease-in-out 4s forwards;
  -moz-animation: fadeInUp 0.5s ease-in-out 4s forwards;
  animation: fadeInUp 0.5s ease-in-out 4s forwards;
}
.border {
  background: url('./images/300x250_ber_border.png') no-repeat center center;
  -webkit-animation: fadeIn 1s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 0.5s forwards;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}