/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in right --*/
@-webkit-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -webkit-transform: translate(-10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -moz-transform: translate(-10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0%   {
    visibility: visible;
    transform: translate(-10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in left --*/
@-webkit-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0%   {
    visibility: visible;
    transform: translate(10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in zoom out --*/
@-webkit-keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}

/*-- fade in zoom in --*/
@-webkit-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    -webkit-transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    -moz-transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}

/*-- rotate animation left --*/
@-webkit-keyframes rotateAnimationLeft {
  0%   {
    visibility: visible;
    -webkit-transform: rotate(90deg);
  }
  90%   {
    visibility: visible;
    -webkit-transform: rotate(-10deg);
  }
  100% { 
    visibility: visible;
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes rotateAnimationLeft {
  0%   {
    visibility: visible;
    -moz-transform: rotate(90deg);
  }
  90%   {
    visibility: visible;
    -moz-transform: rotate(-10deg);
  }
  100% { 
    visibility: visible;
    -moz-transform: rotate(0deg);
  }
}
@keyframes rotateAnimationLeft {
  0%   {
    visibility: visible;
    transform: rotate(90deg);
  }
  90%   {
    visibility: visible;
    transform: rotate(-10deg);
  }
  100% { 
    visibility: visible;
    transform: rotate(0deg);
  }
}

/*-- rotate animation right --*/
@-webkit-keyframes rotateAnimationRight {
  0%   {
    visibility: visible;
    -webkit-transform: rotate(-90deg);
  }
  90%   {
    visibility: visible;
    -webkit-transform: rotate(10deg);
  }
  100% { 
    visibility: visible;
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes rotateAnimationRight {
  0%   {
    visibility: visible;
    -moz-transform: rotate(-90deg);
  }
  90%   {
    visibility: visible;
    -moz-transform: rotate(10deg);
  }
  100% { 
    visibility: visible;
    -moz-transform: rotate(0deg);
  }
}
@keyframes rotateAnimationRight {
  0%   {
    visibility: visible;
    transform: rotate(-90deg);
  }
  90%   {
    visibility: visible;
    transform: rotate(10deg);
  }
  100% { 
    visibility: visible;
    transform: rotate(0deg);
  }
}


/*-- wave animation --*/
@-webkit-keyframes waveAnimation {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
  90%   {
    visibility: visible;
    -webkit-transform: translate(0, 10px);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
}
@-moz-keyframes waveAnimation {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
  90%   {
    visibility: visible;
    -moz-transform: translate(0, 10px);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
}
@keyframes waveAnimation {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
  }
  90%   {
    visibility: visible;
    transform: translate(0, 10px);
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
  }
}

/*-- wave container animation --*/
@-webkit-keyframes waveContainerAnimation {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(728px, 0);
  }
}
@-moz-keyframes waveContainerAnimation {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(728px, 0);
  }
}
@keyframes waveContainerAnimation {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    transform: translate(728px, 0);
  }
}


/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #000000;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.1s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.1s forwards;
  animation: fadeIn 0.75s ease-in-out 0.1s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.wave12-container {
  -webkit-animation: waveContainerAnimation 12s linear 0.1s forwards;
  -moz-animation: waveContainerAnimation 12s linear 0.1s forwards;
  animation: waveContainerAnimation 12s linear 0.1s forwards;
}
.wave1 {
  background: url('./images/728x90_wave.png') no-repeat center center;
  width: 537px;
  height: 126px;
  top: 50px;
  left: -220px;
  opacity: 0.5;

  -webkit-animation: waveAnimation 4s linear 0.1s infinite;
  -moz-animation: waveAnimation 4s linear 0.1s infinite;
  animation: waveAnimation 4s linear 0.1s infinite;
}
.wave2 {
  background: url('./images/728x90_wave.png') no-repeat center center;
  width: 537px;
  height: 126px;
  top: 50px;
  left: -393px;
  opacity: 0.5;

  -webkit-animation: waveAnimation 2s linear 0.2s infinite;
  -moz-animation: waveAnimation 2s linear 0.2s infinite;
  animation: waveAnimation 2s linear 0.2s infinite;
}
.frame1-bg {
  background: url('./images/728x90_image1.jpg') no-repeat center center;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.1s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.1s forwards;
  animation: fadeIn 0.75s ease-in-out 0.1s forwards;
}

.frame1-logo {
  background: url('./images/728x90_logo1.png') no-repeat center center;
  width: 63px;
  height: 62px;
  top: 12px;
  left: 10px;

  -webkit-animation: fadeIn 0.75s ease-in-out 0.35s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.35s forwards;
  animation: fadeIn 0.75s ease-in-out 0.35s forwards;
}

.frame1-text {
  background: url('./images/728x90_text1.png') no-repeat center center;
  width: 388px;
  height: 90px;
  top: 0px;
  right: 85px;

  -webkit-animation: fadeIn 0.75s ease-in-out 1.1s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 1.1s forwards;
  animation: fadeIn 0.75s ease-in-out 1.1s forwards;
}
.frame1-container, .frame11-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 3.5s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 3.5s forwards;
  animation: fadeOut 0.75s ease-in-out 3.5s forwards;
}

.frame2-bg {
  background-color: #000000;
  -webkit-animation: fadeIn 0.75s ease-in-out 4s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 4s forwards;
  animation: fadeIn 0.75s ease-in-out 4s forwards;
}
.frame2-text {
  background: url('./images/728x90_text2.png') no-repeat center center;
  width: 279px;
  height: 59px;
  top: 16px;
  left: 94px;

  -webkit-animation: fadeIn 0.75s ease-in-out 4.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 4.25s forwards;
  animation: fadeIn 0.75s ease-in-out 4.25s forwards;
}
.product1 {
  background: url('./images/728x90_product1.png') no-repeat center center;
  width: 299px;
  height: 90px;
  top: 0px;
  right: 114px;

  -webkit-transform-origin: 143px 42px;
  -moz-transform-origin: 143px 42px;
  transform-origin: 143px 42px;

  -webkit-animation: rotateAnimationLeft 0.5s linear 5s forwards;
  -moz-animation: rotateAnimationLeft 0.5s linear 5s forwards;
  animation: rotateAnimationLeft 0.5s linear 5s forwards;
}
.product2 {
  background: url('./images/728x90_product2.png') no-repeat center center;
  width: 90px;
  height: 88px;
  top: 0px;
  right: 170px;

  -webkit-animation: rotateAnimationRight 0.5s linear 5.5s forwards;
  -moz-animation: rotateAnimationRight 0.5s linear 5.5s forwards;
  animation: rotateAnimationRight 0.5s linear 5.5s forwards;
}
.product3 {
  background: url('./images/728x90_product3.png') no-repeat center center;
  width: 79px;
  height: 78px;
  top: 11px;
  right: 109px;

  -webkit-animation: rotateAnimationLeft 0.5s linear 6s forwards;
  -moz-animation: rotateAnimationLeft 0.5s linear 6s forwards;
  animation: rotateAnimationLeft 0.5s linear 6s forwards;
}

.frame2-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 7.5s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 7.5s forwards;
  animation: fadeOut 0.75s ease-in-out 7.5s forwards;
}

.frame3-bg {
  background: url('./images/728x90_image3.jpg') no-repeat center center;

  -webkit-animation: fadeIn 0.75s ease-in-out 8s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 8s forwards;
  animation: fadeIn 0.75s ease-in-out 8s forwards;
}
.frame3-design {
  background: url('./images/728x90_design.png') no-repeat center center;
  width: 318px;
  height: 56px;
  right: 0px;
  bottom: 0px;

  -webkit-animation: fadeIn 0.75s ease-in-out 8s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 8s forwards;
  animation: fadeIn 0.75s ease-in-out 8s forwards;
}
.frame3-logo {
  background: url('./images/728x90_logo3.png') no-repeat center center;
  width: 156px;
  height: 62px;
  top: 12px;
  left: 10px;

  -webkit-animation: fadeIn 0.75s ease-in-out 8.75s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 8.75s forwards;
  animation: fadeIn 0.75s ease-in-out 8.75s forwards;
}
.frame3-text {
  background: url('./images/728x90_text3.png') no-repeat center center;
  width: 198px;
  height: 11px;
  top: 61px;
  left: 74px;

  -webkit-animation: fadeInDown 0.75s ease-in-out 9.5s forwards;
  -moz-animation: fadeInDown 0.75s ease-in-out 9.5s forwards;
  animation: fadeInDown 0.75s ease-in-out 9.5s forwards;
}
.frame3-package {
  background: url('./images/728x90_package.png') no-repeat center center;
  width: 204px;
  height: 90px;
  top: 0px;
  left: 262px;

  -webkit-animation: fadeInZoomIn 0.75s ease-in-out 10.25s forwards;
  -moz-animation: fadeInZoomIn 0.75s ease-in-out 10.25s forwards;
  animation: fadeInZoomIn 0.75s ease-in-out 10.25s forwards;
}
.frame3-cta {
  background: url('./images/728x90_cta.png') no-repeat center center;
  width: 310px;
  height: 90px;
  right: 0px;
  bottom: 0px;

  -webkit-animation: fadeInUp 0.75s ease-in-out 11.25s forwards;
  -moz-animation: fadeInUp 0.75s ease-in-out 11.25s forwards;
  animation: fadeInUp 0.75s ease-in-out 11.25s forwards;
}