/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1;
  }
  100% { 
    opacity: 0; 
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
  }
  100% { 
    opacity: 0; 
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
  }
  100% { 
    opacity: 0; 
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in zoom out --*/
@-webkit-keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.2);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.2);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    transform: scale(1.2);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}

/*-- fade in top left --*/
@-webkit-keyframes fadeInTopLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(20px,20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInTopLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(20px,20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes fadeInTopLeft {
  0%   {
    visibility: visible;
    transform: translate(20px,20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0,0);
    opacity: 1;
  }
}


/*-- fade in left --*/
@-webkit-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(30px,0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(30px,0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0%   {
    visibility: visible;
    transform: translate(30px,0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-- fade in right --*/
@-webkit-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -webkit-transform: translate(-30px,0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -moz-transform: translate(-30px,0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0%   {
    visibility: visible;
    transform: translate(-30px,0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0,-20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0,-20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0,-20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0,20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0,20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0,20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0,0);
    opacity: 1;
  }
}


/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px;
  display: block;
}

.banner-container{
  overflow: hidden;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 1s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 0.5s forwards;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.background {
  background: url('./images/728x90_pepper_bg.jpg') no-repeat center center;
  -webkit-animation: fadeIn 1s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 0.5s forwards;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
}
.title {
  background: url('./images/728x90_pepper_title.png') no-repeat center center;
  width: 69px;
  height: 16px;
  top: 5px;
  left: 12px;

  -webkit-animation: fadeIn 0.75s ease-in-out 2s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 2s forwards;
  animation: fadeIn 0.75s ease-in-out 2s forwards;
}
.price {
  background: url('./images/728x90_pepper_price.png') no-repeat center center;
  width: 57px;
  height: 57px;
  top: 26px;
  left: 17px;

  -webkit-animation: fadeInZoomOut 0.5s ease-in-out 2.75s forwards;
  -moz-animation: fadeInZoomOut 0.5s ease-in-out 2.75s forwards;
  animation: fadeInZoomOut 0.5s ease-in-out 2.75s forwards;
}
.cup1 {
  background: url('./images/728x90_pepper_cup1.png') no-repeat center center;
  width: 75px;
  height: 84px;
  left: 340px;
  bottom: 0px;

  -webkit-animation: fadeInTopLeft 0.5s ease-in-out 3.25s forwards;
  -moz-animation: fadeInTopLeft 0.5s ease-in-out 3.25s forwards;
  animation: fadeInTopLeft 0.5s ease-in-out 3.25s forwards;
}
.cup2 {
  background: url('./images/728x90_pepper_cup2.png') no-repeat center center;
  width: 82px;
  height: 86px;
  left: 407px;
  bottom: 0px;

  -webkit-animation: fadeInTopLeft 0.5s ease-in-out 3.5s forwards;
  -moz-animation: fadeInTopLeft 0.5s ease-in-out 3.5s forwards;
  animation: fadeInTopLeft 0.5s ease-in-out 3.5s forwards;
}
.cup3 {
  background: url('./images/728x90_pepper_cup3.png') no-repeat center center;
  width: 81px;
  height: 84px;
  left: 473px;
  bottom: 0px;

  -webkit-animation: fadeInTopLeft 0.5s ease-in-out 3.75s forwards;
  -moz-animation: fadeInTopLeft 0.5s ease-in-out 3.75s forwards;
  animation: fadeInTopLeft 0.5s ease-in-out 3.75s forwards;
}
.text {
  background: url('./images/728x90_pepper_text.png') no-repeat center center;
  width: 237px;
  height: 13px;
  top: 12px;
  left: 99px;

  -webkit-animation: fadeInRight 0.5s ease-in-out 4.25s forwards;
  -moz-animation: fadeInRight 0.5s ease-in-out 4.25s forwards;
  animation: fadeInRight 0.5s ease-in-out 4.25s forwards;
}
.bg-text {
  background: url('./images/728x90_pepper_text_bg.png') no-repeat center center;
  width: 307px;
  height: 40px;
  left: 57px;
  bottom: 20px;

  -webkit-animation: fadeInRight 0.5s ease-in-out 4.75s forwards;
  -moz-animation: fadeInRight 0.5s ease-in-out 4.75s forwards;
  animation: fadeInRight 0.5s ease-in-out 4.75s forwards;
}
.text-bold {
  background: url('./images/728x90_pepper_text_bold.png') no-repeat center center;
  width: 215px;
  height: 26px;
  left: 100px;
  bottom: 26px;

  -webkit-animation: fadeInUp 0.25s ease-in-out 5s forwards;
  -moz-animation: fadeInUp 0.25s ease-in-out 5s forwards;
  animation: fadeInUp 0.25s ease-in-out 5s forwards;
}
.info {
  background: url('./images/728x90_pepper_info.png') no-repeat center center;
  width: 200px;
  height: 8px;
  left: 101px;
  bottom: 8px;

  -webkit-animation: fadeIn 1s ease-in-out 5.5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 5.5s forwards;
  animation: fadeIn 1s ease-in-out 5.5s forwards;
}
.logo {
  background: url('./images/728x90_pepper_logo.png') no-repeat center center;
  width: 61px;
  height: 53px;
  top: 21px;
  right: 119px;

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}
.cta {
  background: url('./images/728x90_pepper_cta.png') no-repeat center center;
  width: 106px;
  height: 90px;
  bottom: 0px;
  right: 0px;

  -webkit-animation: fadeInLeft 0.5s ease-in-out 7s forwards;
  -moz-animation: fadeInLeft 0.5s ease-in-out 7s forwards;
  animation: fadeInLeft 0.5s ease-in-out 7s forwards;
}