/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 25px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 25px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 25px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- zoom out --*/
@-webkit-keyframes zoomOut {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.1, 1.1);
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
  }
}
@-moz-keyframes zoomOut {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.1, 1.1);
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
  }
}
@keyframes zoomOut {
  0%   {
    visibility: visible;
    transform: scale(1.1, 1.1);
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
  }
}

/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 600px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 0;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.bg {
  background: url('./images/300x600_bg.jpg') no-repeat center center;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}
.cta {
  background: url('./images/300x600_cta.png') no-repeat center center;
  width: 300px;
  height: 40px;
  bottom: 0px;
  right: 0px;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.image {
  width: 300px;
  height: 239px;
}
.image-container {
  top: 99px;
  left: 0px;
  overflow: hidden;
}
.image-container .image {
  background: url('./images/300x600_image.jpg') no-repeat center center;
  -webkit-animation: zoomOut 4s ease-in-out 0.5s forwards;
  -moz-animation: zoomOut 4s ease-in-out 0.5s forwards;
  animation: zoomOut 4s ease-in-out 0.5s forwards;
}
.logo {
  background: url('./images/300x600_logo.png') no-repeat center center;
  width: 133px;
  height: 25px;
  top: 36px;
  left: 83px;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.75s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.75s forwards;
  animation: fadeIn 0.75s ease-in-out 0.75s forwards;
}
.text1 {
  background: url('./images/300x600_text1.png') no-repeat center center;
  width: 150px;
  height: 26px;
  top: 388px;
  left: 74px;
  -webkit-animation: fadeInUp 0.5s ease-in-out 1.5s forwards;
  -moz-animation: fadeInUp 0.5s ease-in-out 1.5s forwards;
  animation: fadeInUp 0.5s ease-in-out 1.5s forwards;
}
.text2 {
  background: url('./images/300x600_text2.png') no-repeat center center;
  width: 178px;
  height: 32px;
  top: 419px;
  left: 59px;
  -webkit-animation: fadeInUp 0.5s ease-in-out 1.65s forwards;
  -moz-animation: fadeInUp 0.5s ease-in-out 1.65s forwards;
  animation: fadeInUp 0.5s ease-in-out 1.65s forwards;
}
.text3 {
  background: url('./images/300x600_text3.png') no-repeat center center;
  width: 122px;
  height: 32px;
  top: 450px;
  left: 88px;
  -webkit-animation: fadeInUp 0.5s ease-in-out 1.8s forwards;
  -moz-animation: fadeInUp 0.5s ease-in-out 1.8s forwards;
  animation: fadeInUp 0.5s ease-in-out 1.8s forwards;
}
.text4 {
  background: url('./images/300x600_text4.png') no-repeat center center;
  width: 164px;
  height: 27px;
  top: 480px;
  left: 66px;
  -webkit-animation: fadeInUp 0.5s ease-in-out 1.95s forwards;
  -moz-animation: fadeInUp 0.5s ease-in-out 1.95s forwards;
  animation: fadeInUp 0.5s ease-in-out 1.95s forwards;
}