/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0, -20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- slide down --*/
@-webkit-keyframes slideDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, -200px);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
}
@-moz-keyframes slideDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, -200px);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
}
@keyframes slideDown {
  0%   {
    visibility: visible;
    transform: translate(0, -200px);
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
  }
}


/*-- slide product --*/
@-webkit-keyframes slideProduct {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, -30px);
  }
}
@-moz-keyframes slideProduct {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, -30px);
  }
}
@keyframes slideProduct {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    transform: translate(0, -30px);
  }
}

/*-- slide out right --*/
@-webkit-keyframes slideOutRight {
  0%   {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    opacity: 0;
    -webkit-transform: translate(100%, 0);
  }
}
@-moz-keyframes slideOutRight {
  0%   {
    visibility: visible;
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    opacity: 0;
    -moz-transform: translate(100%, 0);
  }
}
@keyframes slideOutRight {
  0%   {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    opacity: 0;
    transform: translate(100%, 0);
  }
}

/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 0;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.cta {
  background: url('./images/300x250_m_cta.png') no-repeat center center;
  background-size: 100% auto;
  width: 218px;
  height: 33px;
  top: 212px;
  left: 41px;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.warning {
  background: url('./images/300x250_m_warning.png') no-repeat center center;
  background-size: auto 100%;
  width: 243px;
  height: 51px;
  top: 140px;
  left: 29px;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.footer1 {
  background: url('./images/300x250_m_footer1.png') no-repeat center center;
  background-size: 100% auto;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.bg {
  background: url('./images/300x250_m_bg.jpg') no-repeat center center;
  background-size: 100% auto;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.75s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.75s forwards;
  animation: fadeIn 0.75s ease-in-out 0.75s forwards;
}
.product {
  background: url('./images/300x250_m_product.png') no-repeat center center;
  background-size: 100% auto;
  width: 153px;
  height: 136px;
  top: 31px;
  left: 0px;
  -webkit-animation: fadeIn 0.75s ease-in-out 1s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 1s forwards;
  animation: fadeIn 0.75s ease-in-out 1s forwards;
}
.product-container {
  -webkit-animation: slideProduct 0.75s ease-in-out 2.75s forwards;
  -moz-animation: slideProduct 0.75s ease-in-out 2.75s forwards;
  animation: slideProduct 0.75s ease-in-out 2.75s forwards;
}
.mask {
  background: url('./images/300x250_m_mask.png') no-repeat center center;
  background-size: 100% auto;
  -webkit-animation: slideDown 0.75s ease-in-out 2.75s forwards;
  -moz-animation: slideDown 0.75s ease-in-out 2.75s forwards;
  animation: slideDown 0.75s ease-in-out 2.75s forwards;
}
.text1 {
  background: url('./images/300x250_m_text1.png') no-repeat center center;
  background-size: 100% auto;
  width: 150px;
  height: 68px;
  top: 36px;
  left: 141px;
  -webkit-animation: fadeInDown 0.75s ease-in-out 3.25s forwards;
  -moz-animation: fadeInDown 0.75s ease-in-out 3.25s forwards;
  animation: fadeInDown 0.75s ease-in-out 3.25s forwards;
}
.text1-container, .footer1-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 5.75s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 5.75s forwards;
  animation: fadeOut 0.75s ease-in-out 5.75s forwards;
}
.text2 {
  background: url('./images/300x250_m_text2.png') no-repeat center center;
  background-size: 100% auto;
  width: 105px;
  height: 96px;
  top: 19px;
  left: 163px;
  -webkit-animation: fadeIn 0.75s ease-in-out 6.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 6.25s forwards;
  animation: fadeIn 0.75s ease-in-out 6.25s forwards;
}
.footer2 {
  background: url('./images/300x250_m_footer2.png') no-repeat center center;
  background-size: 100% auto;
  -webkit-animation: fadeIn 0.75s ease-in-out 6.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 6.25s forwards;
  animation: fadeIn 0.75s ease-in-out 6.25s forwards;
}
.text2-container {
  -webkit-animation: slideOutRight 0.75s ease-in-out 8.75s forwards;
  -moz-animation: slideOutRight 0.75s ease-in-out 8.75s forwards;
  animation: slideOutRight 0.75s ease-in-out 8.75s forwards;
}
.footer2-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 8.75s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 8.75s forwards;
  animation: fadeOut 0.75s ease-in-out 8.75s forwards;
}
.footer3 {
  background: url('./images/300x250_m_footer1.png') no-repeat center center;
  background-size: 100% auto;
  -webkit-animation: fadeIn 0.75s ease-in-out 9.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 9.25s forwards;
  animation: fadeIn 0.75s ease-in-out 9.25s forwards;
}
.text3 {
  background: url('./images/300x250_m_text3.png') no-repeat center center;
  background-size: 100% auto;
  width: 141px;
  height: 62px;
  top: 36px;
  left: 145px;
  -webkit-animation: fadeInDown 0.75s ease-in-out 9.25s forwards;
  -moz-animation: fadeInDown 0.75s ease-in-out 9.25s forwards;
  animation: fadeInDown 0.75s ease-in-out 9.25s forwards;
}