/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0, -20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- slide left --*/
@-webkit-keyframes slideLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(100%, 0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
}
@-moz-keyframes slideLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(100%, 0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
}
@keyframes slideLeft {
  0%   {
    visibility: visible;
    transform: translate(100%, 0);
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
  }
}


/*-- slide product --*/
@-webkit-keyframes slideProduct {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(-163px, 0);
  }
}
@-moz-keyframes slideProduct {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(-163px, 0);
  }
}
@keyframes slideProduct {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    transform: translate(-163px, 0);
  }
}

/*-- slide out down --*/
@-webkit-keyframes slideOutDown {
  0%   {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    opacity: 0;
    -webkit-transform: translate(0, 100%);
  }
}
@-moz-keyframes slideOutDown {
  0%   {
    visibility: visible;
    opacity: 1;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    opacity: 0;
    -moz-transform: translate(0, 100%);
  }
}
@keyframes slideOutDown {
  0%   {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    opacity: 0;
    transform: translate(0, 100%);
  }
}

/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 970px;
  height: 250px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 0;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.cta {
  background: url('./images/970x250_cta.png') no-repeat center center;
  width: 162px;
  height: 250px;
  bottom: 0px;
  right: 0px;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.bg {
  background: url('./images/970x250_bg.jpg') no-repeat center center;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.75s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.75s forwards;
  animation: fadeIn 0.75s ease-in-out 0.75s forwards;
}
.product {
  background: url('./images/970x250_product.png') no-repeat center center;
  width: 500px;
  height: 237px;
  bottom: 0px;
  left: 76px;
  -webkit-animation: fadeIn 0.75s ease-in-out 1s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 1s forwards;
  animation: fadeIn 0.75s ease-in-out 1s forwards;
}
.product-container {
  -webkit-animation: slideProduct 0.75s ease-in-out 2.75s forwards;
  -moz-animation: slideProduct 0.75s ease-in-out 2.75s forwards;
  animation: slideProduct 0.75s ease-in-out 2.75s forwards;
}
.mask {
  background: url('./images/970x250_mask.png') no-repeat center center;
  -webkit-animation: slideLeft 0.75s ease-in-out 2.75s forwards;
  -moz-animation: slideLeft 0.75s ease-in-out 2.75s forwards;
  animation: slideLeft 0.75s ease-in-out 2.75s forwards;
}
.text1 {
  background: url('./images/970x250_text1.png') no-repeat center center;
  width: 249px;
  height: 112px;
  top: 25px;
  left: 463px;
  -webkit-animation: fadeInDown 0.75s ease-in-out 3.25s forwards;
  -moz-animation: fadeInDown 0.75s ease-in-out 3.25s forwards;
  animation: fadeInDown 0.75s ease-in-out 3.25s forwards;
}
.warning {
  background: url('./images/970x250_warning.png') no-repeat center center;
  width: 305px;
  height: 65px;
  top: 152px;
  left: 431px;
  -webkit-animation: fadeIn 0.75s ease-in-out 3.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 3.25s forwards;
  animation: fadeIn 0.75s ease-in-out 3.25s forwards;
}
.footer1 {
  background: url('./images/970x250_footer1.png') no-repeat center center;
  -webkit-animation: fadeIn 0.75s ease-in-out 3.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 3.25s forwards;
  animation: fadeIn 0.75s ease-in-out 3.25s forwards;
}
.text1-container, .footer1-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 5.75s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 5.75s forwards;
  animation: fadeOut 0.75s ease-in-out 5.75s forwards;
}
.text2 {
  background: url('./images/970x250_text2.png') no-repeat center center;
  width: 320px;
  height: 80px;
  top: 41px;
  left: 430px;
  -webkit-animation: fadeIn 0.75s ease-in-out 6.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 6.25s forwards;
  animation: fadeIn 0.75s ease-in-out 6.25s forwards;
}
.footer2 {
  background: url('./images/970x250_footer2.png') no-repeat center center;
  -webkit-animation: fadeIn 0.75s ease-in-out 6.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 6.25s forwards;
  animation: fadeIn 0.75s ease-in-out 6.25s forwards;
}
.text2-container {
  -webkit-animation: slideOutDown 0.75s ease-in-out 8.75s forwards;
  -moz-animation: slideOutDown 0.75s ease-in-out 8.75s forwards;
  animation: slideOutDown 0.75s ease-in-out 8.75s forwards;
}
.footer2-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 8.75s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 8.75s forwards;
  animation: fadeOut 0.75s ease-in-out 8.75s forwards;
}
.footer3 {
  background: url('./images/970x250_footer1.png') no-repeat center center;
  -webkit-animation: fadeIn 0.75s ease-in-out 9.25s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 9.25s forwards;
  animation: fadeIn 0.75s ease-in-out 9.25s forwards;
}
.text3 {
  background: url('./images/970x250_text3.png') no-repeat center center;
  width: 265px;
  height: 118px;
  top: 18px;
  left: 453px;
  -webkit-animation: fadeInDown 0.75s ease-in-out 9.25s forwards;
  -moz-animation: fadeInDown 0.75s ease-in-out 9.25s forwards;
  animation: fadeInDown 0.75s ease-in-out 9.25s forwards;
}