/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-o-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- zoom out --*/
@-webkit-keyframes zoomOut {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.1584)
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1)
  }
}
@-moz-keyframes zoomOut {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.1584)
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1)
  }
}
@keyframes zoomOut {
  0%   {
    visibility: visible;
    transform: scale(1.1584)
  }
  100% { 
    visibility: visible;
    transform: scale(1)
  }
}

/*-- zoom animation out --*/
@-webkit-keyframes zoomAnimation {
  0%   {
    visibility: visible;
    -webkit-box-shadow: 0px 0px 0px 0px #acacac;
    -webkit-transform: scale(1);
  }
  50% {
    visibility: visible;
    -webkit-box-shadow: 0px 6px 6px 1px #acacac;
    -webkit-transform: scale(1.2);
  }
  100% { 
    visibility: visible;
    -webkit-box-shadow: 0px 0px 0px 0px #acacac;
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes zoomAnimation {
  0%   {
    visibility: visible;
    -moz-box-shadow: 0px 0px 0px 0px #acacac;
    -moz-transform: scale(1);
  }
  50% {
    visibility: visible;
    -moz-box-shadow: 0px 6px 6px 1px #acacac;
    -moz-transform: scale(1.2);
  }
  100% { 
    visibility: visible;
    -moz-box-shadow: 0px 0px 0px 0px #acacac;
    -moz-transform: scale(1);
  }
}
@keyframes zoomAnimation {
  0%   {
    visibility: visible;
    transform: scale(1);
    box-shadow: 0px 0px 0px 0px #acacac;
  }
  50% {
    visibility: visible;
    box-shadow: 0px 6px 6px 1px #acacac;
    transform: scale(1.2);
  }
  100% { 
    visibility: visible;
    box-shadow: 0px 0px 0px 0px #acacac;
    transform: scale(1);
  }
}

/*-- move right --*/
@-webkit-keyframes moveRight {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(62px, 0);
  }
}
@-moz-keyframes moveRight {
  0%   {
    visibility: visible;
    -moz-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(62px, 0);
  }
}
@keyframes moveRight {
  0%   {
    visibility: visible;
    transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    transform: translate(62px, 0);
  }
}




/*-------------------------------------------*/
.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;
}

.banner-container{
  overflow: hidden;

  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  -ms-animation: hideContent 10ms ease-in-out 0s forwards;
  -o-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #f2f4f4;
  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}

.cake-small {
  width: 303px;
  height: 227px;
  background: url('./images/300x250_cake_small.jpg') no-repeat center center;
  background-size: 100% 100%;
  top: 31px;
  left: 56px;

  -webkit-animation: fadeOut 10ms ease-in-out 0s forwards;
  -moz-animation: fadeOut 10ms ease-in-out 0s forwards;
  -ms-animation: fadeOut 10ms ease-in-out 0s forwards;
  -o-animation: fadeOut 10ms ease-in-out 0s forwards;
  animation: fadeOut 10ms ease-in-out 0s forwards;
}
.cake-wrapper {
  visibility: hidden;

  -webkit-animation: moveRight 2s ease-in-out 1s forwards;
  -moz-animation: moveRight 2s ease-in-out 1s forwards;
  -ms-animation: moveRight 2s ease-in-out 1s forwards;
  -o-animation: moveRight 2s ease-in-out 1s forwards;
  animation: moveRight 2s ease-in-out 1s forwards;
}
.cake-container {
  -webkit-transform: scale(1.1584);
  -moz-transform: scale(1.1584);
  -ms-transform: scale(1.1584);
  transform: scale(1.1584);

  -webkit-animation: zoomOut 2s ease-in-out 1s forwards;
  -moz-animation: zoomOut 2s ease-in-out 1s forwards;
  -ms-animation: zoomOut 2s ease-in-out 1s forwards;
  -o-animation: zoomOut 2s ease-in-out 1s forwards;
  animation: zoomOut 2s ease-in-out 1s forwards;
}
.cake {
  width: 303px;
  height: 227px;
  background: url('./images/300x250_cake.jpg') no-repeat center center;
  background-size: 100% 100%;
  top: 31px;
  left: -6px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 10ms ease-in-out 1s forwards;
  -moz-animation: fadeIn 10ms ease-in-out 1s forwards;
  -ms-animation: fadeIn 10ms ease-in-out 1s forwards;
  -o-animation: fadeIn 10ms ease-in-out 1s forwards;
  animation: fadeIn 10ms ease-in-out 1s forwards;
}

.title {
  width: 273px;
  height: 15px;
  background: url('./images/300x250_title.png') no-repeat center center;
  background-size: 100% 100%;
  top: 21px;
  left: 13px;
}
.subtitle-container {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  -ms-animation: hideContent 10ms ease-in-out 0s forwards;
  -o-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.subtitle {
  width: 274px;
  height: 16px;
  background: url('./images/300x250_sub_title.png') no-repeat center center;
  background-size: 100% 100%;
  top: 44px;
  left: 14px;

  -webkit-animation: fadeIn 1s ease-in-out 3s forwards;
  -moz-animation: fadeIn 1s ease-in-out 3s forwards;
  -ms-animation: fadeIn 1s ease-in-out 3s forwards;
  -o-animation: fadeIn 1s ease-in-out 3s forwards;
  animation: fadeIn 1s ease-in-out 3s forwards;
}
.information-container {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  -ms-animation: hideContent 10ms ease-in-out 0s forwards;
  -o-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.information {
  width: 72px;
  height: 104px;
  background: url('./images/300x250_information.png') no-repeat center center;
  background-size: 100% 100%;
  left: 20px;
  top: 87px;

  -webkit-animation: fadeIn 1s ease-in-out 4s forwards;
  -moz-animation: fadeIn 1s ease-in-out 4s forwards;
  -ms-animation: fadeIn 1s ease-in-out 4s forwards;
  -o-animation: fadeIn 1s ease-in-out 4s forwards;
  animation: fadeIn 1s ease-in-out 4s forwards;
}
.logo {
  width: 102px;
  height: 44px;
  background: url('./images/300x250_logo.png') no-repeat center center;
  background-size: 100% 100%;
  left: 15px;
  bottom: 7px;
}
.cta-container {}
.cta {
  width: 172px;
  height: 23px;
  background: url('./images/300x250_cta.png') no-repeat center center;
  background-size: 100% 100%;
  right: 6px;
  bottom: 7px;

  -webkit-transform-origin: 50% 120%;
  -moz-transform-origin: 50% 120%;
  -ms-transform-origin: 50% 120%;
  transform-origin: 50% 120%;

  -webkit-animation: zoomAnimation 0.5s ease-in-out 5s forwards;
  -moz-animation: zoomAnimation 0.5s ease-in-out 5s forwards;
  -ms-animation: zoomAnimation 0.5s ease-in-out 5s forwards;
  -o-animation: zoomAnimation 0.5s ease-in-out 5s forwards;
  animation: zoomAnimation 0.5s ease-in-out 5s forwards;
}
.border {
  background: url('./images/300x250_border.png') no-repeat center center;
  background-size: 100% 100%;
}
