/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- zoom out steps --*/
@-webkit-keyframes zoomOutSteps {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.25, 1.25);
    opacity: 0;
  }
  11%  {
    visibility: visible;
    -webkit-transform: scale(1.25, 1.25);
    opacity: 1;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes zoomOutSteps {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.25, 1.25);
    opacity: 0;
  }
  11%  {
    visibility: visible;
    -moz-transform: scale(1.25, 1.25);
    opacity: 1;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes zoomOutSteps {
  0%   {
    visibility: visible;
    transform: scale(1.25, 1.25);
    opacity: 0;
  }
  11%   {
    visibility: visible;
    transform: scale(1.25, 1.25);
    opacity: 1;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}


/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #000000;
  -webkit-animation: fadeIn 1s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 0.5s forwards;
  animation: fadeIn 1s ease-in-out 0.5s forwards;
  border: 1px solid #000000;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.image {
  -webkit-transform-origin: 80% 80%;
  -moz-transform-origin: 80% 80%;
  transform-origin: 80% 80%;

  background: url('./images/300x250_image.jpg') no-repeat center center;
  -webkit-animation: zoomOutSteps 6.5s ease-in-out 0.5s forwards;
  -moz-animation: zoomOutSteps 6.5s ease-in-out 0.5s forwards;
  animation: zoomOutSteps 6.5s ease-in-out 0.5s forwards;
}

.logo {
  background: url('./images/300x250_logo.png') no-repeat center center;
  width: 37px;
  height: 37px;
  top: 18px;
  left: 18px;

  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}

.text1 {
  background: url('./images/300x250_text1.png') no-repeat center center;
  width: 134px;
  height: 85px;
  top: 70px;
  left: 16px;

  -webkit-animation: fadeInDown 0.75s ease-in-out 1.5s forwards;
  -moz-animation: fadeInDown 0.75s ease-in-out 1.5s forwards;
  animation: fadeInDown 0.75s ease-in-out 1.5s forwards;
}

.text1-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 3.25s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 3.25s forwards;
  animation: fadeOut 0.75s ease-in-out 3.25s forwards;
}

.text2 {
  background: url('./images/300x250_text2.png') no-repeat center center;
  width: 153px;
  height: 64px;
  top: 70px;
  left: 17px;

  -webkit-animation: fadeInDown 0.75s ease-in-out 3.75s forwards;
  -moz-animation: fadeInDown 0.75s ease-in-out 3.75s forwards;
  animation: fadeInDown 0.75s ease-in-out 3.75s forwards;
}

.text2-container {
  -webkit-animation: fadeOut 0.75s ease-in-out 5.5s forwards;
  -moz-animation: fadeOut 0.75s ease-in-out 5.5s forwards;
  animation: fadeOut 0.75s ease-in-out 5.5s forwards;
}

.text3 {
  background: url('./images/300x250_text3.png') no-repeat center center;
  width: 142px;
  height: 85px;
  top: 70px;
  left: 16px;

  -webkit-animation: fadeInDown 0.75s ease-in-out 6s forwards;
  -moz-animation: fadeInDown 0.75s ease-in-out 6s forwards;
  animation: fadeInDown 0.75s ease-in-out 6s forwards;
}

.cta {
  background: url('./images/300x250_cta.png') no-repeat center center;
  width: 85px;
  height: 26px;
  top: 189px;
  left: 19px;

  -webkit-animation: fadeInUp 0.75s ease-in-out 7s forwards;
  -moz-animation: fadeInUp 0.75s ease-in-out 7s forwards;
  animation: fadeInUp 0.75s ease-in-out 7s forwards;
}