/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- zoom out and fade in--*/
@-webkit-keyframes zoomOutFadeIn {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.025, 1.025);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes zoomOutFadeIn {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.025, 1.025);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes zoomOutFadeIn {
  0%   {
    visibility: visible;
    transform: scale(1.025, 1.025);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}

/*-- slide right --*/
@-webkit-keyframes slideRight {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(400px, 0);
  }
}
@-moz-keyframes slideRight {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(400px, 0);
  }
}
@keyframes slideRight {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    transform: translate(400px, 0);
  }
}

/*-- slide left --*/
@-webkit-keyframes slideLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(-900px, 0);
  }
}
@-moz-keyframes slideLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(-900px, 0);
  }
}
@keyframes slideLeft {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
  }
  100% { 
    visibility: visible;
    transform: translate(-900px, 0);
  }
}

/*-- light animation --*/
@-webkit-keyframes lightAnimation {
  0%   {
    visibility: visible;
  }
  25%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes lightAnimation {
  0%   {
    visibility: visible;
  }
  25%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes lightAnimation {
  0%   {
    visibility: visible;
  }
  25%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 600px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 0;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}

.bg {
  background: url('./images/300x600_bg.jpg') no-repeat center center;
  -webkit-animation: fadeIn 1s ease-in-out 0.75s forwards;
  -moz-animation: fadeIn 1s ease-in-out 0.75s forwards;
  animation: fadeIn 1s ease-in-out 0.75s forwards;
}
.footer {
  background: url('./images/300x600_footer.png') no-repeat center center;
  width: 300px;
  height: 65px;
  bottom: 0px;
  right: 0px;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.light-container {
  width: 200px;
  height: 149px;
  top: 2px;
  left: 51px;
}
.light1 {
  background: url('./images/300x600_light1.png') no-repeat center center;
  width: 200px;
  height: 149px;
  -webkit-animation: lightAnimation 2s ease-in-out 0.75s infinite;
  -moz-animation: lightAnimation 2s ease-in-out 0.75s infinite;
  animation: lightAnimation 2s ease-in-out 0.75s infinite;
}
.light2 {
  background: url('./images/300x600_light2.png') no-repeat center center;
  width: 200px;
  height: 149px;
  -webkit-animation: lightAnimation 2s ease-in-out 1.25s infinite;
  -moz-animation: lightAnimation 2s ease-in-out 1.25s infinite;
  animation: lightAnimation 2s ease-in-out 1.25s infinite;
}
.light3 {
  background: url('./images/300x600_light3.png') no-repeat center center;
  width: 200px;
  height: 149px;
  -webkit-animation: lightAnimation 2s ease-in-out 1.75s infinite;
  -moz-animation: lightAnimation 2s ease-in-out 1.75s infinite;
  animation: lightAnimation 2s ease-in-out 1.75s infinite;
}
.light4 {
  background: url('./images/300x600_light4.png') no-repeat center center;
  width: 200px;
  height: 149px;
  -webkit-animation: lightAnimation 2s ease-in-out 2.25s infinite;
  -moz-animation: lightAnimation 2s ease-in-out 2.25s infinite;
  animation: lightAnimation 2s ease-in-out 2.25s infinite;
}
.objects {
  background: url('./images/300x600_objects.png') no-repeat center center;
  width: 720px;
  height: 128px;
  top: 155px;
  right: 0px;
  -webkit-animation: slideRight 3.5s ease-in-out 0.75s forwards;
  -moz-animation: slideRight 3.5s ease-in-out 0.75s forwards;
  animation: slideRight 3.5s ease-in-out 0.75s forwards; 
}
.tickets {
  background: url('./images/300x600_tickets.png') no-repeat center center;
  background-repeat: repeat-x;
  background-position: 0 0;
  width: 1260px;
  height: 206px;
  top: 379px;
  left: 0px;
  -webkit-animation: slideLeft 4.5s ease-in-out 0.75s forwards;
  -moz-animation: slideLeft 4.5s ease-in-out 0.75s forwards;
  animation: slideLeft 4.5s ease-in-out 0.75s forwards; 
}
.cta {
  background: url('./images/300x600_cta.png') no-repeat center center;
  width: 300px;
  height: 58px;
  top: 301px;
  left: 0px;
  -webkit-animation: zoomOutFadeIn 0.75s ease-in-out 1.5s forwards;
  -moz-animation: zoomOutFadeIn 0.75s ease-in-out 1.5s forwards;
  animation: zoomOutFadeIn 0.75s ease-in-out 1.5s forwards;
}