/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
    opacity: 1;
  }
  100% { 
    visibility: hidden;
    opacity: 1;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
    opacity: 1;
  }
  100% { 
    visibility: hidden;
    opacity: 1;
  }
}
@-o-keyframes hideContent {
  0%   {
    visibility: hidden;
    opacity: 1;
  }
  100% { 
    visibility: hidden;
    opacity: 1;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
    opacity: 1;
  }
  100% { 
    visibility: hidden;
    opacity: 1;
  }
}

/*------------ Channel 1 --------------*/
@-webkit-keyframes animateChannel1-Y {
  0% {
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(0,70px);
    visibility: visible;
  }
}

@-moz-keyframes animateChannel1-Y {
  0% {
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(0,70px);
    visibility: visible;
  }
}
@keyframes animateChannel1-Y {
  0% {
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    transform: translate(0,70px);
    visibility: visible;
  }
}

@-webkit-keyframes animateChannel1-Scale-Fadeout {
  0% {
    -webkit-transform: scale(1,1);
    visibility: visible;
  }
  80% {
    -webkit-transform: scale(1,1);
    visibility: visible;
  }
  90% {
    -webkit-transform: scale(0.8,0.8);
    visibility: visible;
  }
  95% {
    -webkit-transform: scale(0.5,0.5);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    -webkit-transform: scale(0.2,0.2);
    opacity: 0;
    visibility: visible;
  }
}

@-moz-keyframes animateChannel1-Scale-Fadeout {
  0% {
    -moz-transform: scale(1,1);
    visibility: visible;
  }
  80% {
    -moz-transform: scale(1,1);
    visibility: visible;
  }
  90% {
    -moz-transform: scale(0.8,0.8);
    visibility: visible;
  }
  95% {
    -moz-transform: scale(0.5,0.5);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    -moz-transform: scale(0.2,0.2);
    opacity: 0;
    visibility: visible;
  }
}

@keyframes animateChannel1-Scale-Fadeout {
  0% {
    transform: scale(1,1);
    visibility: visible;
  }
  80% {
    transform: scale(1,1);
    visibility: visible;
  }
  90% {
    transform: scale(0.8,0.8);
    visibility: visible;
  }
  95% {
    transform: scale(0.5,0.5);
    opacity: 1;
    visibility: visible;
  }
  100% { 
    transform: scale(0.2,0.2);
    opacity: 0;
    visibility: visible;
  }
}

@-webkit-keyframes animateChannel1-X {
  0% {
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(-20px,0);
    visibility: visible;
  }
}

@-moz-keyframes animateChannel1-X {
  0% {
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(-20px,0);
    visibility: visible;
  }
}

@keyframes animateChannel1-X {
  0% {
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    transform: translate(-20px,0);
    visibility: visible;
  }
}

/*------------ Channel 2 --------------*/
@-webkit-keyframes animateChannel2-X {
  0% {
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(-40px,0);
    visibility: visible;
  }
}
@-moz-keyframes animateChannel2-X {
  0% {
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(-40px,0);
    visibility: visible;
  }
}
@keyframes animateChannel2-X {
  0% {
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    transform: translate(-40px,0);
    visibility: visible;
  }
}

/*------------ Channel 3 --------------*/
@-webkit-keyframes animateChannel3-X {
  0% {
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(-60px,0);
    visibility: visible;
  }
}
@-moz-keyframes animateChannel3-X {
  0% {
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(-60px,0);
    visibility: visible;
  }
}
@keyframes animateChannel3-X {
  0% {
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    transform: translate(-60px,0);
    visibility: visible;
  }
}

/*------------ Channel 4 --------------*/
@-webkit-keyframes animateChannel4-X {
  0% {
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(-80px,0);
    visibility: visible;
  }
}
@-moz-keyframes animateChannel4-X {
  0% {
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(-80px,0);
    visibility: visible;
  }
}
@keyframes animateChannel4-X {
  0% {
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    transform: translate(-80px,0);
    visibility: visible;
  }
}

/*------------ Channel 5 --------------*/
@-webkit-keyframes animateChannel5-X {
  0% {
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(-100px,0);
    visibility: visible;
  }
}
@-moz-keyframes animateChannel5-X {
  0% {
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(-100px,0);
    visibility: visible;
  }
}
@keyframes animateChannel5-X {
  0% {
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    transform: translate(-100px,0);
    visibility: visible;
  }
}

/*------------ Channel 9 --------------*/
@-webkit-keyframes animateChannel9-X {
  0% {
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(-70px,0);
    visibility: visible;
  }
}
@-moz-keyframes animateChannel9-X {
  0% {
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(-70px,0);
    visibility: visible;
  }
}
@keyframes animateChannel9-X {
  0% {
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    transform: translate(-70px,0);
    visibility: visible;
  }
}

/*-------------------------------------------*/
.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px;
  display: block;
}

.banner-container{
  background-color: #fff;
  overflow: hidden;
}

.content-container{
  -webkit-transform: translate(728px,0);
  -moz-transform: translate(728px,0);
  -ms-transform: translate(728px,0);
  -o-transform: translate(728px,0);
  transform: translate(728px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.content{
  -webkit-transform: translate(-728px,0);
  -moz-transform: translate(-728px,0);
  -ms-transform: translate(-728px,0);
  -o-transform: translate(-728px,0);
  transform: translate(-728px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}

.logo {
  width: 66px;
  height: 29px;
  background: url('./images/728x90_logo.png') no-repeat center center;
  top: 50%;
  margin-top: -14px;
  left: 12px;
}
.round {
  background: url('./images/728x90_bg.png') no-repeat center center;
  width: 431px;
  height: 90px;
  top: 0px;
  left: 200px;
}
.title {
  width: 154px;
  height: 27px;
  background: url('./images/728x90_title.png') no-repeat center center;
  top: 13px;
  left: 130px;
}
.text {
  width: 173px;
  height: 29px;
  background: url('./images/728x90_text.png') no-repeat center center;
  top: 51px;
  left: 118px;
}

.channel-container {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  -ms-animation: hideContent 10ms ease-in-out 0s forwards;
  -o-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.channel1-container {
  bottom: 100%;
  left: 410px;
  width: 42px;
  height: 27px;
  -webkit-animation: animateChannel1-Y 2s ease-in 3s forwards;
  -moz-animation: animateChannel1-Y 2s ease-in 3s forwards;
  animation: animateChannel1-Y 2s ease-in 3s forwards;
}
.channel1 {
  top: 0px;
  left: 0px;
  width: 42px;
  height: 27px;
  -webkit-animation: animateChannel1-X 2s cubic-bezier(.09,.64,.4,.93) 3s forwards;
  -moz-animation: animateChannel1-X 2s cubic-bezier(.09,.64,.4,.93) 3s forwards;
  animation: animateChannel1-X 2s cubic-bezier(.09,.64,.4,.93) 3s forwards;
}
.channel1:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 42px;
  height: 27px;
  background: url('./images/728x90_channel1.png') no-repeat center center;
  -webkit-animation: animateChannel1-Scale-Fadeout 2s ease-in 3s forwards;
  -moz-animation: animateChannel1-Scale-Fadeout 2s ease-in 3s forwards;
  animation: animateChannel1-Scale-Fadeout 2s ease-in 3s forwards;
}

.channel2-container { 
  bottom: 100%;
  left: 430px;
  width: 39px;
  height: 26px;
  -webkit-animation: animateChannel1-Y 2s ease-in 2.5s forwards;
  -moz-animation: animateChannel1-Y 2s ease-in 2.5s forwards;
  animation: animateChannel1-Y 2s ease-in 2.5s forwards;
}
.channel2 {
  top: 0px;
  left: 0px;
  width: 39px;
  height: 26px;
  -webkit-animation: animateChannel2-X 2s cubic-bezier(.09,.64,.4,.93) 2.5s forwards;
  -moz-animation: animateChannel2-X 2s cubic-bezier(.09,.64,.4,.93) 2.5s forwards;
  animation: animateChannel2-X 2s cubic-bezier(.09,.64,.4,.93) 2.5s forwards;
}
.channel2:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 39px;
  height: 26px;
  background: url('./images/728x90_channel2.png') no-repeat center center;
  -webkit-animation: animateChannel1-Scale-Fadeout 2s ease-in 2.5s forwards;
  -moz-animation: animateChannel1-Scale-Fadeout 2s ease-in 2.5s forwards;
  animation: animateChannel1-Scale-Fadeout 2s ease-in 2.5s forwards;
}


.channel3-container { 
  bottom: 100%;
  left: 450px;
  width: 41px;
  height: 27px;
  -webkit-animation: animateChannel1-Y 2s ease-in 2s forwards;
  -moz-animation: animateChannel1-Y 2s ease-in 2s forwards;
  animation: animateChannel1-Y 2s ease-in 2s forwards;
}
.channel3 {
  top: 0px;
  left: 0px;
  width: 41px;
  height: 27px;
  -webkit-animation: animateChannel3-X 2s cubic-bezier(.09,.64,.4,.93) 2s forwards;
  -moz-animation: animateChannel3-X 2s cubic-bezier(.09,.64,.4,.93) 2s forwards;
  animation: animateChannel3-X 2s cubic-bezier(.09,.64,.4,.93) 2s forwards;
}
.channel3:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 41px;
  height: 27px;
  background: url('./images/728x90_channel3.png') no-repeat center center;
  -webkit-animation: animateChannel1-Scale-Fadeout 2s ease-in 2s forwards;
  -moz-animation: animateChannel1-Scale-Fadeout 2s ease-in 2s forwards;
  animation: animateChannel1-Scale-Fadeout 2s ease-in 2s forwards;
}

.channel4-container { 
  bottom: 100%;
  left: 470px;
  width: 38px;
  height: 25px;
  -webkit-animation: animateChannel1-Y 2s ease-in 2.5s forwards;
  -moz-animation: animateChannel1-Y 2s ease-in 2.5s forwards;
  animation: animateChannel1-Y 2s ease-in 2.5s forwards;
}
.channel4 {
  top: 0;
  left: 0;
  width: 38px;
  height: 25px;
  -webkit-animation: animateChannel4-X 2s cubic-bezier(.09,.64,.4,.93) 2.5s forwards;
  -moz-animation: animateChannel4-X 2s cubic-bezier(.09,.64,.4,.93) 2.5s forwards;
  animation: animateChannel4-X 2s cubic-bezier(.09,.64,.4,.93) 2.5s forwards;
}
.channel4:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 25px;
  background: url('./images/728x90_channel4.png') no-repeat center center;
  -webkit-animation: animateChannel1-Scale-Fadeout 2s ease-in 2.5s forwards;
  -moz-animation: animateChannel1-Scale-Fadeout 2s ease-in 2.5s forwards;
  animation: animateChannel1-Scale-Fadeout 2s ease-in 2.5s forwards;
}


.channel5-container { 
  bottom: 100%;
  left: 490px;
  width: 37px;
  height: 24px;
  -webkit-animation: animateChannel1-Y 2s ease-in 3s forwards;
  -moz-animation: animateChannel1-Y 2s ease-in 3s forwards;
  animation: animateChannel1-Y 2s ease-in 3s forwards;
}
.channel5 {
  top: 0px;
  left: 0px;
  width: 37px;
  height: 24px;
  -webkit-animation: animateChannel5-X 2s cubic-bezier(.09,.64,.4,.93) 3s forwards;
  -moz-animation: animateChannel5-X 2s cubic-bezier(.09,.64,.4,.93) 3s forwards;
  animation: animateChannel5-X 2s cubic-bezier(.09,.64,.4,.93) 3s forwards;
}
.channel5:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 37px;
  height: 24px;
  background: url('./images/728x90_channel5.png') no-repeat center center;
  -webkit-animation: animateChannel1-Scale-Fadeout 2s ease-in 3s forwards;
  -moz-animation: animateChannel1-Scale-Fadeout 2s ease-in 3s forwards;
  animation: animateChannel1-Scale-Fadeout 2s ease-in 3s forwards;
}


.channel6-container { 
  bottom: 100%;
  left: 430px;
  width: 38px;
  height: 38px;
  -webkit-animation: animateChannel1-Y 2s ease-in 3.5s forwards;
  -moz-animation: animateChannel1-Y 2s ease-in 3.5s forwards;
  animation: animateChannel1-Y 2s ease-in 3.5s forwards;
}
.channel6 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
  -webkit-animation: animateChannel2-X 2s cubic-bezier(.09,.64,.4,.93) 3.5s forwards;
  -moz-animation: animateChannel2-X 2s cubic-bezier(.09,.64,.4,.93) 3.5s forwards;
  animation: animateChannel2-X 2s cubic-bezier(.09,.64,.4,.93) 3.5s forwards;
}
.channel6:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 38px;
  height: 38px;
  background: url('./images/728x90_channel6.png') no-repeat center center;
  -webkit-animation: animateChannel1-Scale-Fadeout 2s ease-in 3.5s forwards;
  -moz-animation: animateChannel1-Scale-Fadeout 2s ease-in 3.5s forwards;
  animation: animateChannel1-Scale-Fadeout 2s ease-in 3.5s forwards;
}

.channel7-container { 
  bottom: 100%;
  left: 450px;
  width: 32px;
  height: 22px;
  -webkit-animation: animateChannel1-Y 2s ease-in 4s forwards;
  -moz-animation: animateChannel1-Y 2s ease-in 4s forwards;
  animation: animateChannel1-Y 2s ease-in 4s forwards;
}
.channel7 {
  top: 0px;
  left: 0px;
  width: 32px;
  height: 22px;
  -webkit-animation: animateChannel3-X 2s cubic-bezier(.09,.64,.4,.93) 4s forwards;
  -moz-animation: animateChannel3-X 2s cubic-bezier(.09,.64,.4,.93) 4s forwards;
  animation: animateChannel3-X 2s cubic-bezier(.09,.64,.4,.93) 4s forwards;
}
.channel7:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 32px;
  height: 22px;
  background: url('./images/728x90_channel7.png') no-repeat center center;  
  -webkit-animation: animateChannel1-Scale-Fadeout 2s ease-in 4s forwards;
  -moz-animation: animateChannel1-Scale-Fadeout 2s ease-in 4s forwards;
  animation: animateChannel1-Scale-Fadeout 2s ease-in 4s forwards;
}

.channel8-container { 
  bottom: 100%;
  left: 470px;
  width: 38px;
  height: 25px;
  -webkit-animation: animateChannel1-Y 2s ease-in 3.5s forwards;
  -moz-animation: animateChannel1-Y 2s ease-in 3.5s forwards;
  animation: animateChannel1-Y 2s ease-in 3.5s forwards;
}
.channel8 {
  top: 0px;
  left: 0px;
  width: 38px;
  height: 25px;
  -webkit-animation: animateChannel4-X 2s cubic-bezier(.09,.64,.4,.93) 3.5s forwards;
  -moz-animation: animateChannel4-X 2s cubic-bezier(.09,.64,.4,.93) 3.5s forwards;
  animation: animateChannel4-X 2s cubic-bezier(.09,.64,.4,.93) 3.5s forwards;
}
.channel8:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 38px;
  height: 25px;
  background: url('./images/728x90_channel8.png') no-repeat center center;
  -webkit-animation: animateChannel1-Scale-Fadeout 2s ease-in 3.5s forwards;
  -moz-animation: animateChannel1-Scale-Fadeout 2s ease-in 3.5s forwards;
  animation: animateChannel1-Scale-Fadeout 2s ease-in 3.5s forwards;
}

.channel9-container { 
  bottom: 100%;
  left: 460px;
  width: 39px;
  height: 26px;
  -webkit-animation: animateChannel1-Y 2s ease-in 1.5s forwards;
  -moz-animation: animateChannel1-Y 2s ease-in 1.5s forwards;
  animation: animateChannel1-Y 2s ease-in 1.5s forwards;
}
.channel9 {
  top: 0px;
  left: 0px;
  width: 39px;
  height: 26px;
  -webkit-animation: animateChannel9-X 2s cubic-bezier(.09,.64,.4,.93) 1.5s forwards;
  -moz-animation: animateChannel9-X 2s cubic-bezier(.09,.64,.4,.93) 1.5s forwards;
  animation: animateChannel9-X 2s cubic-bezier(.09,.64,.4,.93) 1.5s forwards;
}
.channel9:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 39px;
  height: 26px;
  background: url('./images/728x90_channel9.png') no-repeat center center;
  -webkit-animation: animateChannel1-Scale-Fadeout 2s ease-in 1.5s forwards;
  -moz-animation: animateChannel1-Scale-Fadeout 2s ease-in 1.5s forwards;
  animation: animateChannel1-Scale-Fadeout 2s ease-in 1.5s forwards;
}


.device {
  width: 191px;
  height: 33px;
  background: url('./images/728x90_device.png') no-repeat center center;
  top: 47px;
  left: 330px;
}

.cta-container {
  -webkit-transform: translate(728px,0);
  -moz-transform: translate(728px,0);
  -ms-transform: translate(728px,0);
  -o-transform: translate(728px,0);
  transform: translate(728px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.cta {
  width: 158px;
  height: 31px;
  background: url('./images/728x90_cta.png') no-repeat center center;
  top: 50%;
  margin-top: -15px;
  right: 25px;

  -webkit-transform: translate(-728px,0);
  -moz-transform: translate(-728px,0);
  -ms-transform: translate(-728px,0);
  -o-transform: translate(-728px,0);
  transform: translate(-728px,0);

  -webkit-animation: fadeIn 1s ease-in-out 7s forwards;
  -moz-animation: fadeIn 1s ease-in-out 7s forwards;
  -ms-animation: fadeIn 1s ease-in-out 7s forwards;
  -o-animation: fadeIn 1s ease-in-out 7s forwards;
  animation: fadeIn 1s ease-in-out 7s forwards;
}