
/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}


/*-- fade in down animation--*/
@-webkit-keyframes fadeInDown {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,-30px);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeInDown {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,-30px);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeInDown {
  0%   { 
    opacity: 0; 
    transform: translate(0,-30px);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade in up animation--*/
@-webkit-keyframes fadeInUp {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,100px);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeInUp {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,100px);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeInUp {
  0%   { 
    opacity: 0; 
    transform: translate(0,100px);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- slide left to right bounce animation--*/
@-webkit-keyframes slideRightBounce {
  0%   {
    -webkit-transform: translate(-320px,0);
    visibility: visible;
  }
  100% { 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes slideRightBounce {
  0%   {
    -moz-transform: translate(-320px,0);
    visibility: visible;
  }
  100% { 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes slideRightBounce {
  0%   {
    transform: translate(-320px,0);
    visibility: visible;
  }
  100% { 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-------------------------------------------*/
.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 50px;
  display: block;
}

.banner-container{
  overflow: hidden;

  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #8bd8ce;
  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}

.background {
  background: url('./images/320x50_background.jpg') no-repeat center center;
}
.logo {
  background: url('./images/320x50_logo.png') no-repeat center center;
  width: 64px;
  height: 50px;
  top: 0px;
  left: 0px;
}
.text-container {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forward;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.text {
  background: url('./images/320x50_text.png') no-repeat center center;
  width: 71px;
  height: 24px;
  top: 11px;
  left: 70px;

  -webkit-animation: fadeInDown 1s ease-in-out 2s forwards;
  -moz-animation: fadeInDown 1s ease-in-out 2s forwards;
  animation: fadeInDown 1s ease-in-out 2s forwards;
}
.flower-container {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forward;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.flower {
  background: url('./images/320x50_flower.png') no-repeat center center;
  width: 164px;
  height: 50px;
  top: 0px;
  left: 131px;

  -webkit-animation: fadeInDown 1s ease-in-out 3s forwards;
  -moz-animation: fadeInDown 1s ease-in-out 3s forwards;
  animation: fadeInDown 1s ease-in-out 3s forwards;
}
.cta-container {
  -webkit-transform: translate(320px,0);
  -moz-transform: translate(320px,0);
  transform: translate(320px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.cta {
  background: url('./images/320x50_cta.png') no-repeat center center;
  width: 80px;
  height: 27px;
  top: 13px;
  right: 4px;

  -webkit-transform: translate(-320px,0);
  -moz-transform: translate(-320px,0);
  transform: translate(-320px,0);

  -webkit-animation: slideRightBounce 0.75s cubic-bezier(.78,.03,.6,1.61) 4s forwards;
  -moz-animation: slideRightBounce 0.75s cubic-bezier(.78,.03,.6,1.61) 4s forwards;
  animation: slideRightBounce 0.75s cubic-bezier(.78,.03,.6,1.61) 4s forwards;
}