/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-o-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- slide down fade in --*/
@-webkit-keyframes slideDownFadeIn {
  0%   {
    visibility: visible;
    opacity: 0;
    -webkit-transform: translate(0,-20px);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideDownFadeIn {
  0%   {
    visibility: visible;
    opacity: 0;
    -moz-transform: translate(0,-20px);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideDownFadeIn {
  0%   {
    visibility: visible;
    opacity: 0;
    -o-transform: translate(0,-20px);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -o-transform: translate(0,0);
  }
}
@keyframes slideDownFadeIn {
  0%   {
    visibility: visible;
    opacity: 0;
    transform: translate(0,-20px);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
  }
}

/*-- slide down fade out --*/
@-webkit-keyframes slideDownFadeOut {
  0%   {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    opacity: 0;
    -webkit-transform: translate(0,20px);
  }
}
@-moz-keyframes slideDownFadeOut {
  0%   {
    visibility: visible;
    opacity: 1;
    -moz-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    opacity: 0;
    -moz-transform: translate(0,20px);
  }
}
@-o-keyframes slideDownFadeOut {
  0%   {
    visibility: visible;
    opacity: 1;
    -o-transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    opacity: 0;
    -o-transform: translate(0,20px);
  }
}
@keyframes slideDownFadeOut {
  0%   {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
  }
  100% { 
    visibility: visible;
    opacity: 0;
    transform: translate(0,20px);
  }
}



/*-------------------------------------------*/
.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;
}

.banner-container{
  background-color: #000;
  overflow: hidden;
}

.content-container{
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.content{
  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}

.background {
  background: url('./images/300x250_EN_C_background.jpg') no-repeat center center;
}

.text1-container {
  -webkit-animation: slideDownFadeOut 0.5s ease-in-out 4s forwards;
  -moz-animation: slideDownFadeOut 0.5s ease-in-out 4s forwards;
  -ms-animation: slideDownFadeOut 0.5s ease-in-out 4s forwards;
  -o-animation: slideDownFadeOut 0.5s ease-in-out 4s forwards;
  animation: slideDownFadeOut 0.5s ease-in-out 4s forwards;
}
.text1 {
  width: 187px;
  height: 113px;
  background: url('./images/300x250_EN_C_text1.png') no-repeat center center;
  top: 48px;
  left: 14px;

   opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-transform: translate(0,-20px);
  -moz-transform: translate(0,-20px);
  -ms-transform: translate(0,-20px);
  -o-transform: translate(0,-20px);
  transform: translate(0,-20px);

  -webkit-animation: slideDownFadeIn 0.5s ease-in-out 2s forwards;
  -moz-animation: slideDownFadeIn 0.5s ease-in-out 2s forwards;
  -ms-animation: slideDownFadeIn 0.5s ease-in-out 2s forwards;
  -o-animation: slideDownFadeIn 0.5s ease-in-out 2s forwards;
  animation: slideDownFadeIn 0.5s ease-in-out 2s forwards;
}

.text2-container {
  -webkit-animation: slideDownFadeOut 0.5s ease-in-out 7s forwards;
  -moz-animation: slideDownFadeOut 0.5s ease-in-out 7s forwards;
  -ms-animation: slideDownFadeOut 0.5s ease-in-out 7s forwards;
  -o-animation: slideDownFadeOut 0.5s ease-in-out 7s forwards;
  animation: slideDownFadeOut 0.5s ease-in-out 7s forwards;
}
.text2 {
  width: 89px;
  height: 53px;
  background: url('./images/300x250_EN_C_text2.png') no-repeat center center;
  top: 78px;
  left: 14px;

   opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-transform: translate(0,-20px);
  -moz-transform: translate(0,-20px);
  -ms-transform: translate(0,-20px);
  -o-transform: translate(0,-20px);
  transform: translate(0,-20px);

  -webkit-animation: slideDownFadeIn 0.5s ease-in-out 5s forwards;
  -moz-animation: slideDownFadeIn 0.5s ease-in-out 5s forwards;
  -ms-animation: slideDownFadeIn 0.5s ease-in-out 5s forwards;
  -o-animation: slideDownFadeIn 0.5s ease-in-out 5s forwards;
  animation: slideDownFadeIn 0.5s ease-in-out 5s forwards;
}

.text3-wraper {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  -ms-animation: hideContent 10ms ease-in-out 0s forwards;
  -o-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.text3-container {
  -webkit-transform: translate(0,20px);
  -moz-transform: translate(0,20px);
  -ms-transform: translate(0,20px);
  -o-transform: translate(0,20px);
  transform: translate(0,20px);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.text3 {
  width: 137px;
  height: 83px;
  background: url('./images/300x250_EN_C_text3.png') no-repeat center center;
  top: 48px;
  left: 14px;

  -webkit-transform: translate(0,-20px);
  -moz-transform: translate(0,-20px);
  -ms-transform: translate(0,-20px);
  -o-transform: translate(0,-20px);
  transform: translate(0,-20px);

  -webkit-animation: slideDownFadeIn 0.5s ease-in-out 7.5s forwards;
  -moz-animation: slideDownFadeIn 0.5s ease-in-out 7.5s forwards;
  -ms-animation: slideDownFadeIn 0.5s ease-in-out 7.5s forwards;
  -o-animation: slideDownFadeIn 0.5s ease-in-out 7.5s forwards;
  animation: slideDownFadeIn 0.5s ease-in-out 7.5s forwards;
}

.cta-wrapper {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  -ms-animation: hideContent 10ms ease-in-out 0s forwards;
  -o-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.cta-container {
  -webkit-transform: translate(0,20px);
  -moz-transform: translate(0,20px);
  -ms-transform: translate(0,20px);
  -o-transform: translate(0,20px);
  transform: translate(0,20px);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.cta {
  width: 110px;
  height: 30px;
  background: url('./images/300x250_EN_C_cta.png') no-repeat center center;
  bottom: 20px;
  left: 15px;

  -webkit-transform: translate(0,-20px);
  -moz-transform: translate(0,-20px);
  -ms-transform: translate(0,-20px);
  -o-transform: translate(0,-20px);
  transform: translate(0,-20px);

  -webkit-animation: slideDownFadeIn 0.5s ease-in-out 8s forwards;
  -moz-animation: slideDownFadeIn 0.5s ease-in-out 8s forwards;
  -ms-animation: slideDownFadeIn 0.5s ease-in-out 8s forwards;
  -o-animation: slideDownFadeIn 0.5s ease-in-out 8s forwards;
  animation: slideDownFadeIn 0.5s ease-in-out 8s forwards;
}

.logo {
  width: 131px;
  height: 31px;
  background: url('./images/300x250_EN_C_logo.png') no-repeat center center;
  right: 15px;
  bottom: 19px;
}