html, body, div,
a, img {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-text-size-adjust: 100%;
}
.button{
	width:300px;
	height:250px;
	position:absolute;
	overflow:hidden;
	top:0px;
	left:0px;
	cursor:pointer;
	z-index:2;
	background:none;
	border:none;
}
button:focus {
	outline:0;
}
#banner{
	position:relative;
	overflow:hidden;
	width:300px;
	height:250px;
}
#container_grip, #container_clear, #container_inked{
	position:absolute;
	top:0px;
	left:0px;
	width:300px;
	height:250px;
	overflow:hidden;
	visibility:hidden;
	opacity:0;
}
#container_grip img, #container_clear img, #container_inked img{
	position:absolute;
	top:0px;
	left:0px;
}