/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
}


/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    transform: translate(0, -10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    transform: translate(0, 10px);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in right --*/
@-webkit-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -webkit-transform: translate(-10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInRight {
  0%   {
    visibility: visible;
    -moz-transform: translate(-10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0%   {
    visibility: visible;
    transform: translate(-10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in left --*/
@-webkit-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
}
@-moz-keyframes fadeInLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes fadeInLeft {
  0%   {
    visibility: visible;
    transform: translate(10px, 0);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
}

/*-- fade in zoom out --*/
@-webkit-keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    -moz-transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes fadeInZoomOut {
  0%   {
    visibility: visible;
    transform: scale(1.1, 1.1);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}

/*-- fade in zoom in --*/
@-webkit-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    -webkit-transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
}
@-moz-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    -moz-transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    transform: scale(0.75, 0.75);
    opacity: 0;
  }
  100% { 
    visibility: visible;
    transform: scale(1, 1);
    opacity: 1;
  }
}

/*-- slide up --*/
@-webkit-keyframes slideUp {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 100%);
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(0, 0);
  }
}
@-moz-keyframes slideUp {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 100%);
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(0, 0);
  }
}
@keyframes slideUp {
  0%   {
    visibility: visible;
    transform: translate(0, 100%);
  }
  100% { 
    visibility: visible;
    transform: translate(0, 0);
  }
}

/*-- fade out left --*/
@-webkit-keyframes fadeOutLeft {
  0%   {
    visibility: visible;
    -webkit-transform: translate(0, 0);
    opacity: 1;
  }
  100% { 
    visibility: visible;
    -webkit-transform: translate(-50px, 0);
    opacity: 0;
  }
}
@-moz-keyframes fadeOutLeft {
  0%   {
    visibility: visible;
    -moz-transform: translate(0, 0);
    opacity: 1;
  }
  100% { 
    visibility: visible;
    -moz-transform: translate(-50px, 0);
    opacity: 0;
  }
}
@keyframes fadeOutLeft {
  0%   {
    visibility: visible;
    transform: translate(0, 0);
    opacity: 1;
  }
  100% { 
    visibility: visible;
    transform: translate(-50px, 0);
    opacity: 0;
  }
}

/*-- zoom out product --*/
@-webkit-keyframes zoomOutProduct {
  0%   {
    visibility: visible;
    -webkit-transform: scale(1,1);
  }
  100% { 
    visibility: visible;
    -webkit-transform: scale(0.5,0.5);
  }
}
@-moz-keyframes zoomOutProduct {
  0%   {
    visibility: visible;
    -moz-transform: scale(1,1);
  }
  100% { 
    visibility: visible;
    -moz-transform: scale(0.5,0.5);
  }
}
@keyframes zoomOutProduct {
  0%   {
    visibility: visible;
    transform: scale(1,1);
  }
  100% { 
    visibility: visible;
    transform: scale(0.5,0.5);
  }
}



/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}

.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 320px;
  height: 50px;
  display: block;
}

.banner-container{
  overflow: hidden;
  background-color: #ffffff;
}

.content-hide-ie {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  -moz-animation: fadeInOnly 10ms ease-in-out 0s forwards;
  animation: fadeInOnly 10ms ease-in-out 0s forwards;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}

.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  overflow: hidden;
}

.content-wrapper { 
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}
.bg {
  background: url('./images/320x50_bg.png') no-repeat center center;
  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}

.cta {
  background: url('./images/320x50_cta.png') no-repeat center center;
  background-size: 100% 100%;
  width: 71px;
  height: 15px;
  top: 16px;
  right: 11px;

  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}

.frame1-text {
  background: url('./images/320x50_frame1_text.png') no-repeat center center;
  width: 100px;
  height: 23px;
  top: 12px;
  left: 11px;

  -webkit-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.75s ease-in-out 0.5s forwards;
  animation: fadeIn 0.75s ease-in-out 0.5s forwards;
}
.frame1-item1 {
  background: url('./images/320x50_frame1_item1.png') no-repeat center center;
  width: 32px;
  height: 50px;
  top: 0px;
  left: 124px;

  -webkit-animation: fadeInRight 0.5s ease-in-out 1.25s forwards;
  -moz-animation: fadeInRight 0.5s ease-in-out 1.25s forwards;
  animation: fadeInRight 0.5s ease-in-out 1.25s forwards;
}
.frame1-and {
  background: url('./images/320x50_frame1_and.png') no-repeat center center;
  width: 15px;
  height: 15px;
  top: 16px;
  left: 167px;

  -webkit-animation: fadeInZoomIn 0.5s ease-in-out 1.75s forwards;
  -moz-animation: fadeInZoomIn 0.5s ease-in-out 1.75s forwards;
  animation: fadeInZoomIn 0.5s ease-in-out 1.75s forwards;
}
.frame1-item2 {
  background: url('./images/320x50_frame1_item2.png') no-repeat center center;
  width: 48px;
  height: 50px;
  top: 0px;
  left: 190px;

  -webkit-animation: fadeInLeft 0.5s ease-in-out 2.25s forwards;
  -moz-animation: fadeInLeft 0.5s ease-in-out 2.25s forwards;
  animation: fadeInLeft 0.5s ease-in-out 2.25s forwards;
}
.frame1-coffee {
  background: url('./images/320x50_frame1_coffee.png') no-repeat center center;
  width: 72px;
  height: 50px;
  top: 0px;
  left: 141px;

  -webkit-animation: slideUp 0.5s ease-in-out 3.25s forwards;
  -moz-animation: slideUp 0.5s ease-in-out 3.25s forwards;
  animation: slideUp 0.5s ease-in-out 3.25s forwards;
}
.frame1-container {
  -webkit-animation: fadeOutLeft 0.75s ease-in-out 4.75s forwards;
  -moz-animation: fadeOutLeft 0.75s ease-in-out 4.75s forwards;
  animation: fadeOutLeft 0.75s ease-in-out 4.75s forwards;
}

.frame2-text {
  background: url('./images/320x50_frame2_text.png') no-repeat center center;
  width: 126px;
  height: 25px;
  top: 11px;
  left: 12px;

  -webkit-animation: fadeInRight 0.75s ease-in-out 6.25s forwards;
  -moz-animation: fadeInRight 0.75s ease-in-out 6.25s forwards;
  animation: fadeInRight 0.75s ease-in-out 6.25s forwards;
}
.frame2-container {
  -webkit-animation: fadeOutLeft 0.75s ease-in-out 8s forwards;
  -moz-animation: fadeOutLeft 0.75s ease-in-out 8s forwards;
  animation: fadeOutLeft 0.75s ease-in-out 8s forwards;
}

.frame3-product1-big {
  background: url('./images/320x50_frame2_product1.png') no-repeat center center;
  width: 47px;
  height: 99px;
  top: 0;
  left: 0;

  -webkit-animation: fadeInLeft 0.75s ease-in-out 5.5s forwards;
  -moz-animation: fadeInLeft 0.75s ease-in-out 5.5s forwards;
  animation: fadeInLeft 0.75s ease-in-out 5.5s forwards;
}
.frame3-product1-container {
  width: 47px;
  height: 99px;
  top: -18px;
  left: 158px;

  -webkit-animation: zoomOutProduct 0.5s ease-in-out 8s forwards;
  -moz-animation: zoomOutProduct 0.5s ease-in-out 8s forwards;
  animation: zoomOutProduct 0.5s ease-in-out 8s forwards;

  -webkit-transform-origin: 33% 50%;
  -moz-transform-origin: 33% 50%;
  transform-origin: 33% 50%;
}

.frame3-text {
  background: url('./images/320x50_frame3_text.png') no-repeat center center;
  width: 111px;
  height: 16px;
  top: 16px;
  left: 12px;

  -webkit-animation: fadeInRight 0.75s ease-in-out 10s forwards;
  -moz-animation: fadeInRight 0.75s ease-in-out 10s forwards;
  animation: fadeInRight 0.75s ease-in-out 10s forwards;
}
.frame3-product1 {
  background: url('./images/320x50_frame3_product1.png') no-repeat center center;
  background-size: 100% 100%;
  width: 34px;
  height: 44px;
  top: 9px;
  left: 165px;
}
.frame3-product2 {
  background: url('./images/320x50_frame3_product2.png') no-repeat center center;
  background-size: 100% 100%;
  width: 33px;
  height: 41px;
  top: 10px;
  left: 183px;
  -webkit-animation: fadeInRight 0.5s ease-in-out 8.5s forwards;
  -moz-animation: fadeInRight 0.5s ease-in-out 8.5s forwards;
  animation: fadeInRight 0.5s ease-in-out 8.5s forwards;
}
.frame3-product3 {
  background: url('./images/320x50_frame3_product3.png') no-repeat center center;
  background-size: 100% 100%;
  width: 28px;
  height: 37px;
  top: 12px;
  left: 201px;
  -webkit-animation: fadeInRight 0.5s ease-in-out 8.75s forwards;
  -moz-animation: fadeInRight 0.5s ease-in-out 8.75s forwards;
  animation: fadeInRight 0.5s ease-in-out 8.75s forwards;
}
.frame3-product4 {
  background: url('./images/320x50_frame3_product4.png') no-repeat center center;
  background-size: 100% 100%;
  width: 19px;
  height: 33px;
  top: 14px;
  left: 216px;
  -webkit-animation: fadeInRight 0.5s ease-in-out 9s forwards;
  -moz-animation: fadeInRight 0.5s ease-in-out 9s forwards;
  animation: fadeInRight 0.5s ease-in-out 9s forwards;
}
.frame3-product5 {
  background: url('./images/320x50_frame3_product5.png') no-repeat center center;
  background-size: 100% 100%;
  width: 30px;
  height: 39px;
  top: 11px;
  left: 150px;
  -webkit-animation: fadeInLeft 0.5s ease-in-out 9.25s forwards;
  -moz-animation: fadeInLeft 0.5s ease-in-out 9.25s forwards;
  animation: fadeInLeft 0.5s ease-in-out 9.25s forwards;
}
.frame3-product6 {
  background: url('./images/320x50_frame3_product6.png') no-repeat center center;
  background-size: 100% 100%;
  width: 26px;
  height: 33px;
  top: 14px;
  left: 138px;
  -webkit-animation: fadeInLeft 0.5s ease-in-out 9.5s forwards;
  -moz-animation: fadeInLeft 0.5s ease-in-out 9.5s forwards;
  animation: fadeInLeft 0.5s ease-in-out 9.5s forwards;
}