/*-- fade in only animation--*/
@-webkit-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInOnly {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    visibility: visible;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
    visibility: visible;
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
    visibility: visible;
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
    visibility: visible;
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
    visibility: visible;
  }
}

/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1;
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- hide content--*/
@-webkit-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@-moz-keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}
@keyframes hideContent {
  0%   {
    visibility: hidden;
  }
  100% { 
    visibility: hidden;
  }
}

/*-- fade in down --*/
@-webkit-keyframes fadeInDown {
  0%   {
    visibility: visible;
    opacity: 0;
    -webkit-transform: translate(0,-20px);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInDown {
  0%   {
    visibility: visible;
    opacity: 0;
    -moz-transform: translate(0,-20px);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInDown {
  0%   {
    visibility: visible;
    opacity: 0;
    transform: translate(0,-20px);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
  }
}


/*-- fade in zoom in --*/
@-webkit-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    opacity: 0;
    -webkit-transform: scale(1.25,1.25);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1,1);
  }
}
@-moz-keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    opacity: 0;
    -moz-transform: scale(1.25,1.25);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -moz-transform: scale(1,1);
  }
}
@keyframes fadeInZoomIn {
  0%   {
    visibility: visible;
    opacity: 0;
    transform: scale(1.25,1.25);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    transform: scale(1,1);
  }
}


/*-- fade in up --*/
@-webkit-keyframes fadeInUp {
  0%   {
    visibility: visible;
    opacity: 0;
    -webkit-transform: translate(0,100%);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeInUp {
  0%   {
    visibility: visible;
    opacity: 0;
    -moz-transform: translate(0,100%);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    -moz-transform: translate(0,0);
  }
}
@keyframes fadeInUp {
  0%   {
    visibility: visible;
    opacity: 0;
    transform: translate(0,100%);
  }
  100% { 
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
  }
}


/*-- opening --*/
@-webkit-keyframes opening {
  0%   {
    visibility: visible;
    opacity: 1;
    height: 0px;
  }
  100% { 
    visibility: visible;
    opacity: 1;
    height: 345px;
  }
}
@-moz-keyframes opening {
  0%   {
    visibility: visible;
    opacity: 1;
    height: 0px;
  }
  100% { 
    visibility: visible;
    opacity: 1;
    height: 345px;
  }
}
@keyframes opening {
  0%   {
    visibility: visible;
    opacity: 1;
    height: 0px;
  }
  100% { 
    visibility: visible;
    opacity: 1;
    height: 345px;
  }
}

/*-------------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 160px;
  height: 600px;
  display: block;
}

.banner-container{
  overflow: hidden;
}

.content-container{
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards;
}
.content{
  background-color: #ffffff;
  -webkit-animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  -moz-animation: fadeIn 0.5s ease-in-out 0.5s forwards;
  animation: fadeIn 0.5s ease-in-out 0.5s forwards;
}

.content-wrapper {
  -webkit-animation: hideContent 10ms ease-in-out 0s forwards;
  -moz-animation: hideContent 10ms ease-in-out 0s forwards;
  animation: hideContent 10ms ease-in-out 0s forwards; 
}
.image-container {
  width: 142px;
  height: 345px;
  top: 11px;
  left: 9px;
  overflow: hidden;

  -webkit-animation: opening 1s ease-in-out 1s forwards;
  -moz-animation: opening 1s ease-in-out 1s forwards;
  animation: opening 1s ease-in-out 1s forwards;
}
.image {
  background: url('./images/160x600_image_en.jpg') no-repeat center center;
  width: 142px;
  height: 345px;
  top: 0;
  left: 0;
}
.line {
  background: url('./images/160x600_line_en.png') no-repeat center center;
  width: 142px;
  height: 10px;
  bottom: 0px;
  left: 0px;
}
.text1 {
  background: url('./images/160x600_text1_en.png') no-repeat center center;
  width: 133px;
  height: 49px;
  left: 9px;
  bottom: 182px;

  -webkit-animation: fadeInDown 0.5s ease-in-out 2s forwards;
  -moz-animation: fadeInDown 0.5s ease-in-out 2s forwards;
  animation: fadeInDown 0.5s ease-in-out 2s forwards;
}
.text2 {
  background: url('./images/160x600_text2_en.png') no-repeat center center;
  width: 133px;
  height: 48px;
  left: 9px;
  bottom: 118px;

  -webkit-animation: fadeInDown 0.5s ease-in-out 2.5s forwards;
  -moz-animation: fadeInDown 0.5s ease-in-out 2.5s forwards;
  animation: fadeInDown 0.5s ease-in-out 2.5s forwards;
}
.logo {
  background: url('./images/160x600_logo_en.png') no-repeat center center;
  width: 77px;
  height: 34px;
  right: 10px;
  bottom: 71px;

  -webkit-animation: fadeInZoomIn 0.5s ease-in-out 3s forwards;
  -moz-animation: fadeInZoomIn 0.5s ease-in-out 3s forwards;
  animation: fadeInZoomIn 0.5s ease-in-out 3s forwards;
}
.cta {
  background: url('./images/160x600_cta_en.png') no-repeat center center;
  width: 160px;
  height: 61px;
  left: 0px;
  bottom: 0px;

  -webkit-animation: fadeInUp 0.5s ease-in-out 3.5s forwards;
  -moz-animation: fadeInUp 0.5s ease-in-out 3.5s forwards;
  animation: fadeInUp 0.5s ease-in-out 3.5s forwards;
}