/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- slide right to left animation--*/
@-webkit-keyframes slideLeft {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(-300px,0);
  }
}
@-moz-keyframes slideLeft {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(-300px,0);
  }
}
@-o-keyframes slideLeft {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(-300px,0);
  }
}
@keyframes slideLeft {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(-300px,0);
  }
}

/*-- slide right to left animation--*/
@-webkit-keyframes slideLeft2 {
  0%   {
    -webkit-transform: translate(300px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideLeft2 {
  0%   {
    -moz-transform: translate(300px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideLeft2 {
  0%   {
    -o-transform: translate(300px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideLeft2 {
  0%   {
    transform: translate(300px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide left to right animation--*/
@-webkit-keyframes slideRight {
  0%   {
    -webkit-transform: translate(-300px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideRight {
  0%   {
    -moz-transform: translate(-300px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideRight {
  0%   {
    -o-transform: translate(-300px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideRight {
  0%   {
    transform: translate(-300px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide up animation--*/
@-webkit-keyframes slideUp {
  0%   {
    -webkit-transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0%   {
    -moz-transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideUp {
  0%   {
    -o-transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0%   {
    transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-- slide down animation--*/
@-webkit-keyframes slideDown {
  0%   {
    -webkit-transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideDown {
  0%   {
    -moz-transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideDown {
  0%   {
    -o-transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0%   {
    transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}
/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-------------------------------------------*/
.absolute {
  position: absolute;
}
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 250px;
  display: block;  
}

.banner-container{
  background-color: #000;
  overflow: hidden;
}

.content-container{
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.content{
  background: url('images/300x250_bg.jpg') no-repeat center center;
  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}

.frame1-container {
  -webkit-animation: fadeOut 1s ease-in-out 3s forwards;
  -moz-animation: fadeOut 1s ease-in-out 3s forwards;
  -ms-animation: fadeOut 1s ease-in-out 3s forwards;
  -o-animation: fadeOut 1s ease-in-out 3s forwards;
  animation: fadeOut 1s ease-in-out 3s forwards;
}
.frame1 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 10ms ease-in-out 0s forwards;
  -moz-animation: fadeIn 10ms ease-in-out 0s forwards;
  -ms-animation: fadeIn 10ms ease-in-out 0s forwards;
  -o-animation: fadeIn 10ms ease-in-out 0s forwards;
  animation: fadeIn 10ms ease-in-out 0s forwards;
}
.frame1-text {
  width: 267px;
  height: 64px;
  background: url('./images/300x250_frame1_text.png') no-repeat center center;
  top: 78px;
  left: 50%;
  margin-left: -133px;
}
.frame1-logo {
  width: 71px;
  height: 17px;
  background: url('./images/300x250_frame1_logo.png') no-repeat center center;
  bottom: 12px;
  right: 12px;
}
.frame2-container {
  -webkit-animation: fadeOut 1s ease-in-out 8s forwards;
  -moz-animation: fadeOut 1s ease-in-out 8s forwards;
  -ms-animation: fadeOut 1s ease-in-out 8s forwards;
  -o-animation: fadeOut 1s ease-in-out 8s forwards;
  animation: fadeOut 1s ease-in-out 8s forwards;  
}
.frame2 {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;

  -webkit-animation: fadeIn 1s ease-in-out 4s forwards;
  -moz-animation: fadeIn 1s ease-in-out 4s forwards;
  -ms-animation: fadeIn 1s ease-in-out 4s forwards;
  -o-animation: fadeIn 1s ease-in-out 4s forwards;
  animation: fadeIn 1s ease-in-out 4s forwards;  
}
.frame2-logo {
  width: 175px;
  height: 42px;
  background: url('./images/300x250_frame2_logo.png') no-repeat center center;
  top: 17px;
  left: 11px;
}
.frame2-icon {
  width: 179px;
  height: 178px;
  background: url('./images/300x250_frame2_icon.png') no-repeat center center;
  top: 55px;
  left: 9px;

  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in-out 5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 5s forwards;
  -ms-animation: fadeIn 1s ease-in-out 5s forwards;
  -o-animation: fadeIn 1s ease-in-out 5s forwards;
  animation: fadeIn 1s ease-in-out 5s forwards;  
}
.frame2-person {
  width: 122px;
  height: 193px;
  background: url('./images/300x250_frame2_person.png') no-repeat center center;
  right: 0px;
  bottom: 0px;

  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in-out 6s forwards;
  -moz-animation: fadeIn 1s ease-in-out 6s forwards;
  -ms-animation: fadeIn 1s ease-in-out 6s forwards;
  -o-animation: fadeIn 1s ease-in-out 6s forwards;
  animation: fadeIn 1s ease-in-out 6s forwards;  
}
.frame3-container {
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame3 {
  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 9s forwards;
  -moz-animation: fadeIn 1s ease-in-out 9s forwards;
  -ms-animation: fadeIn 1s ease-in-out 9s forwards;
  -o-animation: fadeIn 1s ease-in-out 9s forwards;
  animation: fadeIn 1s ease-in-out 9s forwards;
}
.frame3-logo {
  width: 175px;
  height: 42px;
  background: url('./images/300x250_frame2_logo.png') no-repeat center center;
  top: 17px;
  left: 11px;
}
.frame3-bayer {
  width: 36px;
  height: 36px;
  background: url('./images/300x250_frame3_bayer.png') no-repeat center center;
  top: 11px;
  right: 9px;
}
.frame3-text-container {
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame3-text {
  width: 161px;
  height: 63px;
  background: url('./images/300x250_frame3_text.png') no-repeat center center;
  top: 77px;
  left: 18px;

  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 10s forwards;
  -moz-animation: fadeIn 1s ease-in-out 10s forwards;
  -ms-animation: fadeIn 1s ease-in-out 10s forwards;
  -o-animation: fadeIn 1s ease-in-out 10s forwards;
  animation: fadeIn 1s ease-in-out 10s forwards;
}
.frame3-person-container {
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame3-person {
  width: 122px;
  height: 193px;
  background: url('./images/300x250_frame2_person.png') no-repeat center center;
  right: 0px;
  bottom: -5px;

  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: fadeIn 1s ease-in-out 11s forwards;
  -moz-animation: fadeIn 1s ease-in-out 11s forwards;
  -ms-animation: fadeIn 1s ease-in-out 11s forwards;
  -o-animation: fadeIn 1s ease-in-out 11s forwards;
  animation: fadeIn 1s ease-in-out 11s forwards;
}
.frame3-cta-container {
  -webkit-transform: translate(300px,0);
  -moz-transform: translate(300px,0);
  -ms-transform: translate(300px,0);
  -o-transform: translate(300px,0);
  transform: translate(300px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame3-cta {
  width: 177px;
  height: 61px;
  background: url('./images/300x250_frame3_cta.png') no-repeat center center;
  left: 10px;
  bottom: 34px;

  -webkit-transform: translate(-300px,0);
  -moz-transform: translate(-300px,0);
  -ms-transform: translate(-300px,0);
  -o-transform: translate(-300px,0);
  transform: translate(-300px,0);

  -webkit-animation: slideRight 0.5s ease-in-out 12s forwards;
  -moz-animation: slideRight 0.5s ease-in-out 12s forwards;
  -ms-animation: slideRight 0.5s ease-in-out 12s forwards;
  -o-animation: slideRight 0.5s ease-in-out 12s forwards;
  animation: slideRight 0.5s ease-in-out 12s forwards;
}
.border {
  background: url('./images/300x250_border.png') no-repeat center center;
  z-index: 100;
}