/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- slide out animation--*/
@-webkit-keyframes slideLeft {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(-970px,0);
  }
}
@-moz-keyframes slideLeft {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(-970px,0);
  }
}
@-o-keyframes slideLeft {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(-970px,0);
  }
}
@keyframes slideLeft {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(-970px,0);
  }
}

/*-- slide in animation--*/
@-webkit-keyframes slideLeft2 {
  0%   {
    -webkit-transform: translate(970px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideLeft2 {
  0%   {
    -moz-transform: translate(970px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideLeft2 {
  0%   {
    -o-transform: translate(970px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideLeft2 {
  0%   {
    transform: translate(970px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide in back animation--*/
@-webkit-keyframes slideRight {
  0%   {
    -webkit-transform: translate(-970px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideRight {
  0%   {
    -moz-transform: translate(-970px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideRight {
  0%   {
    -o-transform: translate(-970px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideRight {
  0%   {
    transform: translate(-970px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide up animation--*/
@-webkit-keyframes slideUp {
  0%   {
    -webkit-transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0%   {
    -moz-transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideUp {
  0%   {
    -o-transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0%   {
    transform: translate(0,66px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-- slide down animation--*/
@-webkit-keyframes slideDown {
  0%   {
    -webkit-transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideDown {
  0%   {
    -moz-transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideDown {
  0%   {
    -o-transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0%   {
    transform: translate(0,-66px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}
/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-------------------------------------------*/
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 970px;
  height: 66px;
  display: block;  
}

.banner-container{
  background-color: #000;
  overflow: hidden;
}

.content-container{
  -webkit-transform: translate(970px,0);
  -moz-transform: translate(970px,0);
  -ms-transform: translate(970px,0);
  -o-transform: translate(970px,0);
  transform: translate(970px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.content{
  -webkit-transform: translate(-970px,0);
  -moz-transform: translate(-970px,0);
  -ms-transform: translate(-970px,0);
  -o-transform: translate(-970px,0);
  transform: translate(-970px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}
.static-text {
  position: absolute;
  background: url('images/970x66_static_text.png') no-repeat center center;
  width: 231px;
  height: 7px;
  top: 5px;
  left: 15px;
}
.static-car {
  position: absolute;
  width: 154px;
  height: 65px;
  background: url('images/970x66_static_car.png') no-repeat center center;
  top: 2px;
  right: 266px;
}
.static-cta-container {
  position: absolute;
  width: 184px;
  height: 66px;
  background-color: #474e53;
  top: 0px;
  right: 0px;
}
.lockup {
  position: absolute;
  width: 71px;
  height: 29px;
  background: url('images/970x66_static_lockup.png') no-repeat center center;
  top: 5px;
  right: 56px;
}
.cta {
  position: absolute;
  width: 146px;
  height: 23px;
  background: url('images/970x66_static_cta.png') no-repeat center center;
  right: 14px;
  bottom: 3px;
}

.frame1-container {
  -webkit-animation: fadeOut 1s ease-in-out 3s forwards;
  -moz-animation: fadeOut 1s ease-in-out 3s forwards;
  -ms-animation: fadeOut 1s ease-in-out 3s forwards;
  -o-animation: fadeOut 1s ease-in-out 3s forwards;
  animation: fadeOut 1s ease-in-out 3s forwards;
}
.frame1-content {
  position: absolute;
  width: 239px;
  height: 32px;
  background: url('images/970x66_frame1.png') no-repeat center center;
  top: 20px;
  left: 226px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;
  -webkit-animation: fadeIn 10ms ease-in-out 0s forwards;
  -moz-animation: fadeIn 10ms ease-in-out 0s forwards;
  -ms-animation: fadeIn 10ms ease-in-out 0s forwards;
  -o-animation: fadeIn 10ms ease-in-out 0s forwards;
  animation: fadeIn 10ms ease-in-out 0s forwards;
}
.frame2-container {
  -webkit-animation: fadeOut 1s ease-in-out 5s forwards;
  -moz-animation: fadeOut 1s ease-in-out 5s forwards;
  -ms-animation: fadeOut 1s ease-in-out 5s forwards;
  -o-animation: fadeOut 1s ease-in-out 5s forwards;
  animation: fadeOut 1s ease-in-out 5s forwards;
}
.frame2-content {
  position: absolute;
  width: 148px;
  height: 31px;
  background: url('images/970x66_frame2.png') no-repeat center center;
  top: 19px;
  left: 386px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;
  -webkit-animation: fadeIn 1s ease-in-out 3s forwards;
  -moz-animation: fadeIn 1s ease-in-out 3s forwards;
  -ms-animation: fadeIn 1s ease-in-out 3s forwards;
  -o-animation: fadeIn 1s ease-in-out 3s forwards;
  animation: fadeIn 1s ease-in-out 3s forwards;
}
.frame3-container {
  -webkit-animation: fadeOut 1s ease-in-out 7s forwards;
  -moz-animation: fadeOut 1s ease-in-out 7s forwards;
  -ms-animation: fadeOut 1s ease-in-out 7s forwards;
  -o-animation: fadeOut 1s ease-in-out 7s forwards;
  animation: fadeOut 1s ease-in-out 7s forwards;
}
.frame3-content {
  position: absolute;
  width: 165px;
  height: 34px;
  background: url('images/970x66_frame3.png') no-repeat center center;
  top: 18px;
  left: 385px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;
  -webkit-animation: fadeIn 1s ease-in-out 5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 5s forwards;
  -ms-animation: fadeIn 1s ease-in-out 5s forwards;
  -o-animation: fadeIn 1s ease-in-out 5s forwards;
  animation: fadeIn 1s ease-in-out 5s forwards;
}
.frame4-container {
  -webkit-animation: fadeOut 1s ease-in-out 9s forwards;
  -moz-animation: fadeOut 1s ease-in-out 9s forwards;
  -ms-animation: fadeOut 1s ease-in-out 9s forwards;
  -o-animation: fadeOut 1s ease-in-out 9s forwards;
  animation: fadeOut 1s ease-in-out 9s forwards;
}
.frame4-content {
  position: absolute;
  width: 141px;
  height: 55px;
  background: url('images/970x66_frame4.png') no-repeat center center;
  top: 6px;
  left: 376px;

  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  z-index: 1;
  -webkit-animation: fadeIn 1s ease-in-out 7s forwards;
  -moz-animation: fadeIn 1s ease-in-out 7s forwards;
  -ms-animation: fadeIn 1s ease-in-out 7s forwards;
  -o-animation: fadeIn 1s ease-in-out 7s forwards;
  animation: fadeIn 1s ease-in-out 7s forwards;
}
.frame5-container {
  -webkit-transform: translate(970px,0);
  -moz-transform: translate(970px,0);
  -ms-transform: translate(970px,0);
  -o-transform: translate(970px,0);
  transform: translate(970px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame5-content {
  -webkit-transform: translate(-970px,0);
  -moz-transform: translate(-970px,0);
  -ms-transform: translate(-970px,0);
  -o-transform: translate(-970px,0);
  transform: translate(-970px,0);

  -webkit-animation: fadeIn 1s ease-in-out 9s forwards;
  -moz-animation: fadeIn 1s ease-in-out 9s forwards;
  -ms-animation: fadeIn 1s ease-in-out 9s forwards;
  -o-animation: fadeIn 1s ease-in-out 9s forwards;
  animation: fadeIn 1s ease-in-out 9s forwards;
}

.frame5-logo-container {
  -webkit-transform: translate(970px,0);
  -moz-transform: translate(970px,0);
  -ms-transform: translate(970px,0);
  -o-transform: translate(970px,0);
  transform: translate(970px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.frame5-logo {
  position: absolute;
  width: 231px;
  height: 30px;
  background: url('images/970x66_frame5_logo.png') no-repeat center center;
  top: 23px;
  left: 16px;

  -webkit-transform: translate(-970px,0);
  -moz-transform: translate(-970px,0);
  -ms-transform: translate(-970px,0);
  -o-transform: translate(-970px,0);
  transform: translate(-970px,0);

  -webkit-animation: fadeIn 1s ease-in-out 3s forwards;
  -moz-animation: fadeIn 1s ease-in-out 3s forwards;
  -ms-animation: fadeIn 1s ease-in-out 3s forwards;
  -o-animation: fadeIn 1s ease-in-out 3s forwards;
  animation: fadeIn 1s ease-in-out 3s forwards;
}
.frame5-text {
  position: absolute;
  width: 235px;
  height: 35px;
  background: url('images/970x66_frame5_text.png') no-repeat center center;
  top: 22px;
  left: 309px;
}
.frame5-more-info {
  position: absolute;
  width: 39px;
  height: 6px;
  background: url('images/970x66_frame5_more_info.png') no-repeat center center;
  top: 6px;
  right: 234px;
}