/*-- fade out animation--*/
@-webkit-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeOut {
  0%   { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeOut {
  0%   { 
    opacity: 1; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 0; 
    transform: translate(0,0);
  }
}

/*-- fade in animation--*/
@-webkit-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -webkit-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -moz-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes fadeIn {
  0%   { 
    opacity: 0; 
    -o-transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    -o-transform: translate(0,0);
  }
}
@keyframes fadeIn {
  0%   { 
    opacity: 0; 
    transform: translate(0,0);
  }
  100% { 
    opacity: 1; 
    transform: translate(0,0);
  }
}

/*-- slide out animation--*/
@-webkit-keyframes slideLeft {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(-1280px,0);
  }
}
@-moz-keyframes slideLeft {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(-1280px,0);
  }
}
@-o-keyframes slideLeft {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(-1280px,0);
  }
}
@keyframes slideLeft {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(-1280px,0);
  }
}

/*-- slide in animation--*/
@-webkit-keyframes slideLeft2 {
  0%   {
    -webkit-transform: translate(1280px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideLeft2 {
  0%   {
    -moz-transform: translate(1280px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideLeft2 {
  0%   {
    -o-transform: translate(1280px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideLeft2 {
  0%   {
    transform: translate(1280px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide in back animation--*/
@-webkit-keyframes slideRight {
  0%   {
    -webkit-transform: translate(-1280px,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes slideRight {
  0%   {
    -moz-transform: translate(-1280px,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes slideRight {
  0%   {
    -o-transform: translate(-1280px,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes slideRight {
  0%   {
    transform: translate(-1280px,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-- slide up animation--*/
@-webkit-keyframes slideUp {
  0%   {
    -webkit-transform: translate(0,100px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideUp {
  0%   {
    -moz-transform: translate(0,100px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideUp {
  0%   {
    -o-transform: translate(0,100px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0%   {
    transform: translate(0,100px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}

/*-- slide down animation--*/
@-webkit-keyframes slideDown {
  0%   {
    -webkit-transform: translate(0,-100px);
    opacity: 0;
  }
  100% { 
    -webkit-transform: translate(0,0);
    opacity: 1;
  }
}
@-moz-keyframes slideDown {
  0%   {
    -moz-transform: translate(0,-100px);
    opacity: 0;
  }
  100% { 
    -moz-transform: translate(0,0);
    opacity: 1;
  }
}
@-o-keyframes slideDown {
  0%   {
    -o-transform: translate(0,-100px);
    opacity: 0;
  }
  100% { 
    -o-transform: translate(0,0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0%   {
    transform: translate(0,-100px);
    opacity: 0;
  }
  100% { 
    transform: translate(0,0);
    opacity: 1;
  }
}
/*-- roll back animation--*/
@-webkit-keyframes rollBack {
  0%   {
    -webkit-transform: translate(0,0);
  }
  100% { 
    -webkit-transform: translate(0,0);
  }
}
@-moz-keyframes rollBack {
  0%   {
    -moz-transform: translate(0,0);
  }
  100% { 
    -moz-transform: translate(0,0);
  }
}
@-o-keyframes rollBack {
  0%   {
    -o-transform: translate(0,0);
  }
  100% { 
    -o-transform: translate(0,0);
  }
}
@keyframes rollBack {
  0%   {
    transform: translate(0,0);
  }
  100% { 
    transform: translate(0,0);
  }
}

/*-------------------------------------------*/
.container{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1280px;
  height: 100px;
  display: block;  
}

.banner-container{
  background-color: #fff;
  overflow: hidden;
}

.content-container{
  -webkit-transform: translate(1280px,0);
  -moz-transform: translate(1280px,0);
  -ms-transform: translate(1280px,0);
  -o-transform: translate(1280px,0);
  transform: translate(1280px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.content{
  background: url('images/1280x100_bg.jpg') no-repeat center center;

  -webkit-transform: translate(-1280px,0);
  -moz-transform: translate(-1280px,0);
  -ms-transform: translate(-1280px,0);
  -o-transform: translate(-1280px,0);
  transform: translate(-1280px,0);

  -webkit-animation: fadeIn 1s ease-in-out 1s forwards;
  -moz-animation: fadeIn 1s ease-in-out 1s forwards;
  -ms-animation: fadeIn 1s ease-in-out 1s forwards;
  -o-animation: fadeIn 1s ease-in-out 1s forwards;
  animation: fadeIn 1s ease-in-out 1s forwards;
}
.man-container{
  -webkit-transform: translate(0,-100px);
  -moz-transform: translate(0,-100px);
  -ms-transform: translate(0,-100px);
  -o-transform: translate(0,-100px);
  transform: translate(0,-100px);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.man{
  background: url('images/1280x100_man.png') no-repeat center center;
  width: 335px;
  height: 97px;
  position: absolute;
  left: 0px;
  bottom: 0px;

  -webkit-transform: translate(0,100px);
  -moz-transform: translate(0,100px);
  -ms-transform: translate(0,100px);
  -o-transform: translate(0,100px);
  transform: translate(0,100px);

  -webkit-animation: slideUp 0.5s ease-in-out 2s forwards;
  -moz-animation: slideUp 0.5s ease-in-out 2s forwards;
  -ms-animation: slideUp 0.5s ease-in-out 2s forwards;
  -o-animation: slideUp 0.5s ease-in-out 2s forwards;
  animation: slideUp 0.5s ease-in-out 2s forwards;
}

.title-container{
  -webkit-transform: translate(1280px,0);
  -moz-transform: translate(1280px,0);
  -ms-transform: translate(1280px,0);
  -o-transform: translate(1280px,0);
  transform: translate(1280px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.title{
  background: url('images/1280x100_title.png') no-repeat center center;
  width: 267px;
  height: 91px;
  position: absolute;
  left: 322px;
  top: 7px;

  -webkit-transform: translate(-1280px,0);
  -moz-transform: translate(-1280px,0);
  -ms-transform: translate(-1280px,0);
  -o-transform: translate(-1280px,0);
  transform: translate(-1280px,0);

  -webkit-animation: fadeIn 1s ease-in-out 2.5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 2.5s forwards;
  -ms-animation: fadeIn 1s ease-in-out 2.5s forwards;
  -o-animation: fadeIn 1s ease-in-out 2.5s forwards;
  animation: fadeIn 1s ease-in-out 2.5s forwards;
}

.date-container{
  -webkit-transform: translate(1280px,0);
  -moz-transform: translate(1280px,0);
  -ms-transform: translate(1280px,0);
  -o-transform: translate(1280px,0);
  transform: translate(1280px,0);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.date{
  background: url('images/1280x100_date.png') no-repeat center center;
  width: 212px;
  height: 66px;
  position: absolute;
  left: 767px;
  top: 18px;

  -webkit-transform: translate(-1280px,0);
  -moz-transform: translate(-1280px,0);
  -ms-transform: translate(-1280px,0);
  -o-transform: translate(-1280px,0);
  transform: translate(-1280px,0);

  -webkit-animation: fadeIn 1s ease-in-out 3.5s forwards;
  -moz-animation: fadeIn 1s ease-in-out 3.5s forwards;
  -ms-animation: fadeIn 1s ease-in-out 3.5s forwards;
  -o-animation: fadeIn 1s ease-in-out 3.5s forwards;
  animation: fadeIn 1s ease-in-out 3.5s forwards;
}

.cta-container{
  -webkit-transform: translate(0,-100px);
  -moz-transform: translate(0,-100px);
  -ms-transform: translate(0,-100px);
  -o-transform: translate(0,-100px);
  transform: translate(0,-100px);

  -webkit-animation: rollBack 10ms ease-in-out 0s forwards;
  -moz-animation: rollBack 10ms ease-in-out 0s forwards;
  -ms-animation: rollBack 10ms ease-in-out 0s forwards;
  -o-animation: rollBack 10ms ease-in-out 0s forwards;
  animation: rollBack 10ms ease-in-out 0s forwards;
}
.cta{
  background: url('images/1280x100_cta.png') no-repeat center center;
  width: 204px;
  height: 48px;
  position: absolute;
  top: 50%;
  margin-top: -24px;
  right: 34px;

  -webkit-transform: translate(0,100px);
  -moz-transform: translate(0,100px);
  -ms-transform: translate(0,100px);
  -o-transform: translate(0,100px);
  transform: translate(0,100px);

  -webkit-animation: slideUp 0.5s ease-in-out 4.5s forwards;
  -moz-animation: slideUp 0.5s ease-in-out 4.5s forwards;
  -ms-animation: slideUp 0.5s ease-in-out 4.5s forwards;
  -o-animation: slideUp 0.5s ease-in-out 4.5s forwards;
  animation: slideUp 0.5s ease-in-out 4.5s forwards;
}

.logo{
  position: absolute;
  background: url('images/1280x100_logo.png') no-repeat center center;
  width: 34px;
  height: 17px;
  left: 1px;
  bottom: 5px;
}